<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
	</head>
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/other.css" />
	<link rel="stylesheet" href="css/iconfont.css" />
	<link rel="stylesheet" href="js/theme/default/laydate.css" />
	
	<style>

	</style>
	<body>	
	
		<div class="borbt"><div class="header"></div></div>
		<div class="full_wid">			
			<div class="wrap ">	
				<div class="person_center">
					<div class="person_left">
						<div class="person_info">
							<div class="user_avatar"><img src="img/yhtx.png" alt="" /></div>
							<p class="uphone">15362352625</p>
							<p>向阳二手车一号店</p>							
						</div>
						<div class="tab_choose">
							<ul>
								<li class=""><a href="person_manage.html"><b class="icon_xb1"> </b>管理店铺<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class="active"><a href="person_release.html"><b class="icon_xb2"></b>发布车辆信息<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_public.html"><b class="icon_xb3"></b>发布过的<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_busenter.html"><b class="icon_xb4"></b>商家入驻<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_opportunity.html"><b class="icon_xb5"></b>商机<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_info.html"><b class="icon_xb6"></b>个人资料<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_collect.html"><b class="icon_xb7"></b>我的收藏<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_history.html"><b class="icon_xb8"></b>浏览记录<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_feedback.html"><b class="icon_xb9"></b>意见反馈<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_order.html"><b class="icon_xb10"></b>我的预约<i class="icon iconfont icon-jiantou"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="person_right">
						<h1 class="borbt"><span class="release">发布车辆信息</span></h1>
						<h2 class="step"><!--上传资料--></h2>
						<div class="upLoad_form">
							<ul class="sel_box_info">
								<li class="gj_clear">
									<div class="demo_inputype selected_ipt ">
										<p class="form_litit"><b>*</b>品牌：</p><input type="text" class="upload_info hid" readonly id="sltCar_name" placeholder="请选择品牌"/>
										<div class="position_r">
											<div class="gjcar_box">
		                                       <div class="gjcar_select_car">
		                                       	   <!--选择结果展示-->
		                                       		<div class="bread_subnav gj_clear">
			                                            <a href="javascript:;" style="cursor: default;" id="brandName"></a>
			                                            <a href="javascript:;" style="cursor: default;" id="seriesName"></a>
			                                            <a href="javascript:;" style="cursor: default;" id="carName"></a>
			                                        </div>
			                                        <!--选择标题-->
			                                        <div class="choose_car_t oh">
			                                            <a href="javascript:;" onclick="set('bd0',1,3)" id="bd01" class="active" >请选择品牌</a>
			                                            <a href="javascript:;" onclick="set('bd0',2,3)" id="bd02">请选择车系</a>
			                                            <a href="javascript:;" onclick="set('bd0',3,3)" id="bd03">请选择年代款</a>
			                                        </div>
			                                        <!--选择品牌-->
			                                        <div class="choose_cartab">
			                                            <div class=" choose_cartab1 oh" id="conbd01">
			                                                <div class="choosecar_letter">
			                                                    <a href="javascript:;" class="active"><span>A</span><span>B</span></a>
			                                                    <a href="javascript:;"><span>C</span><span>D</span></a>
			                                                    <a href="javascript:;"><span>E</span><span>F</span></a>
			                                                    <a href="javascript:;"><span>G</span><span>H</span></a>
			                                                    <a href="javascript:;"><span>I</span><span>J</span></a>
			                                                    <a href="javascript:;"><span>K</span><span>L</span></a>
			                                                    <a href="javascript:;"><span>M</span><span>N</span></a>
			                                                    <a href="javascript:;"><span>O</span><span>P</span></a> 
			                                                    <a href="javascript:;"><span>Q</span><span>R</span></a>
			                                                    <a href="javascript:;"><span>S</span><span>T</span></a>
			                                                    <a href="javascript:;"><span>U</span><span>V</span></a>
			                                                    <a href="javascript:;"><span>W</span><span>X</span></a>
			                                                    <a href="javascript:;"><span>Y</span><span>Z</span></a>
			                                                </div>
			                                                <div class="brand_content ">
			                                                	<ul class="letter_box">
			                                                		<li class="oh">
			                                                			<span class="brand_letter">A</span>
			                                                			<p>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                			</p>
			                                                		</li>
			                                                		<li class="oh">
			                                                			<span class="brand_letter">A</span>
			                                                			<p>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                			</p>
			                                                		</li>
			                                                	</ul>
			                                                </div>
			                                            </div>
			                                            <!--选择车系-->
			                                            <div class=" choose_cartab2 gj_clear" style="display: none;" id="conbd02">
			                                                <div class="chooseSeries">
			                                                	<a href="javascript:;">奥迪A3  </a><a href="javascript:;">奥迪A3  </a><a href="javascript:;">奥迪A3  </a>
			                                                	<a href="javascript:;">奥迪A3  </a><a href="javascript:;">奥迪A3  </a>
			                                                	<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪A3  </a><a href="javascript:;">奥迪A3  </a><a href="javascript:;">奥迪A3  </a>
			                                                	<a href="javascript:;">奥迪A3  </a><a href="javascript:;">奥迪A3  </a>
			                                                	<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
                                                				<a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a><a href="javascript:;">奥迪</a>
			                                                </div>
			                                            </div>
			                                            <!--选择车款-->
			                                            <div class=" choose_cartab3 gj_clear" style="display: none;" id="conbd03">
			                                                <div class="choose_caryear gj_clear">
			                                                    <div class="year_content gj_clear">
			                                                    	<p class="year_tit">2018款</p>
			                                                    	<div class="year_car oh">
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
			                                                    	</div>
			                                                    	<p class="year_tit">2018款</p>
			                                                    	<div class="year_car">
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
				                                                    	<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>
			                                                    	</div>
			                                                    </div>
			                                                </div>
			                                            </div>
			                                        </div>
		                                       </div>
	                                    	</div>
										</div>													 
									</div>
									<div class="demo_inputype"><p class="form_litit"><b>*</b>价格：</p><input type="text" class="" placeholder="请输入价格"/>万</div>
								</li>
								<li class="gj_clear">
									<div class="demo_inputype"><p class="form_litit"><b>*</b>里程：</p><input type="text" class=""  placeholder=""/>万公里</div>
									<div class="demo_inputype"><p class="form_litit"><b>*</b>上牌时间：</p><input type="text" id="year" class="upload_info"/></div>
								</li>
								<li class="gj_clear">
									<div class="selected_ipt demo_inputype"><p class="form_litit"><b>*</b>车身：</p><input type="text" class="upload_info" readonly placeholder="请选择车身"/>
										<div class="position_r">
											<div class="gjcar_box">
												<ul class=" list_slt">
													<li class="active">旅行车</li>
													<li>旅行车</li>
													<li>旅行车</li>
													<li>旅行车</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="selected_ipt demo_inputype"><p class="form_litit"><b>*</b>燃料：</p><input type="text" class="upload_info" readonly />
										<div class="position_r">
											<div class="gjcar_box">
												<ul class=" list_slt">
													<li class="active">汽油</li>
													<li>汽油</li>
													<li>汽油</li>
													<li>汽油</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<li class="gj_clear">
									<div class="selected_ipt demo_inputype"><p class="form_litit"><b>*</b>驱动：</p><input type="text" class="upload_info" readonly />
										<div class="position_r">
											<div class="gjcar_box">
												<ul class="list_slt">
													<li class="active">汽油</li>
													<li>汽油</li>
													<li>汽油</li>
													<li>汽油</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="selected_ipt demo_inputype"><p class="form_litit"><b>*</b>排量：</p><input type="text" class="upload_info" readonly />
										<div class="position_r">
											<div class="gjcar_box">
												<ul class="list_slt">
													<li class="active">汽油</li>
													<li>汽油</li>
													<li>汽油</li>
													<li>汽油</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<li class="gj_clear">
									<div class="selected_ipt demo_inputype"><p class="form_litit"><b>*</b>变速箱：</p><input type="text" class="upload_info" readonly />
										<div class="position_r">
											<div class="gjcar_box">
												<ul class="list_slt">
													<li class="active">汽油</li>
													<li>汽油</li>
													<li>汽油</li>
													<li>汽油</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="selected_ipt demo_inputype"><p class="form_litit"><b>*</b>级别：</p><input type="text" class="upload_info" readonly />
										<div class="position_r">
											<div class="gjcar_box">
												<ul class="list_slt">
													<li class="active">汽油</li>
													<li>汽油</li>
													<li>汽油</li>
													<li>汽油</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<li class="gj_clear">
									<div class="selected_ipt demo_inputype"><p class="form_litit"><b>*</b>排放标准：</p><input type="text" class="upload_info" readonly />
										<div class="position_r">
											<div class="gjcar_box">
												<ul class="list_slt">
													<li class="active">汽油</li>
													<li>汽油</li>
													<li>汽油</li>
													<li>汽油</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="demo_inputype"><p class="form_litit"><b>*</b>电话：</p><input type="text" class="" placeholder="请输入电话" /></div>
								</li>
								<li class="gj_clear">
									<div class="demo_inputype"><p class="form_litit"><b>*</b>联系人：</p><input type="text" class="" placeholder="请输入手机号" /></div>
								</li>
								<li class="gj_clear">
									<div class="oh"><p class="form_litit"><b>*</b>车身颜色：</p></div>
									<div class="car_color">
										<p class="slt_color active">
											<a  href="javascript:;">
	                                            <span style="background: #000000;" class="eq"></span>
	                                            <span class="text">黑色</span>
	                                        </a>
										</p>
										<p class="slt_color">
											<a  href="javascript:;">
	                                            <span style="background: #000000;" class="eq"></span>
	                                            <span class="text">黑色</span>
	                                        </a>
										</p>
										<p class="slt_color">
											<a  href="javascript:;">
	                                            <span style="background: #000000;" class="eq"></span>
	                                            <span class="text">黑色</span>
	                                        </a>
										</p>
										<p class="slt_color">
											<a  href="javascript:;">
	                                            <span style="background: #000000;" class="eq"></span>
	                                            <span class="text">黑色</span>
	                                        </a>
										</p>
										<p class="slt_color">
											<a  href="javascript:;">
	                                            <span style="background: #000000;" class="eq"></span>
	                                            <span class="text">黑色</span>
	                                        </a>
										</p>
										<p class="slt_color">
											<a  href="javascript:;">
	                                            <span style="background: #000000;" class="eq"></span>
	                                            <span class="text">黑色</span>
	                                        </a>
										</p>
										<p class="slt_color">
											<a  href="javascript:;">
	                                            <span style="background: #000000;" class="eq"></span>
	                                            <span class="text">黑色</span>
	                                        </a>
										</p>
										<p class="slt_color">
											<a  href="javascript:;">
	                                            <span style="background: #000000;" class="eq"></span>
	                                            <span class="text">黑色</span>
	                                        </a>
										</p>
										<p class="slt_color">
											<a  href="javascript:;">
	                                            <span  class="eq">
	                                            	<span class="mini_color" style="background: #E4007F;"></span>
	                                                <span class="mini_color" style="background: #A6937C;"></span>
	                                                <span class="mini_color" style="background: #FACD89;"></span>
	                                                <span class="mini_color" style="background: #FFF600;"></span>
	                                            </span>
	                                            <span class="text">其他</span>
	                                        </a>
										</p>
									</div>
								</li>
								<li class="gj_clear">
									<div class="gj_clear"><p class="form_litit"><b>*</b>车辆照片：</p><span class="up_tip">最多可以上传10张图片，马上上传</span></div>
									<div class="img-box full">
										<section class="img-section">										
											<div class="z_photo upimg-div oh" >
											  <!--<section class="up-section fl">
											<span class="up-span"></span>
											<img src="img/buyerCenter/a7.png" class="close-upimg">
											<img src="img/buyerCenter/3c.png" class="type-upimg" alt="添加标签">
											<img src="img/test2.jpg" class="up-img">   //添加的图片预览区域
											<p class="img-namep"></p>
											<input id="taglocation" name="taglocation" value="" type="hidden">
											<input id="tags" name="tags" value="" type="hidden">
											</section>-->
												<section class="z_file fl">
													<img src="img/upimg.png" class="add-img">
													<input type="file" name="file" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
													    
												</section>
											</div>
										</section>
									</div>
									<aside class="mask works-mask">
										<div class="mask-content">
										<p class="del-p ">您确定要删除上传的图片吗？</p>
										<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
										</div>
									</aside>
								</li>
								<li>
									<div class="gj_clear">
										<p class="form_litit"><b>*</b>车辆描述：</p>
										<div class="fleft model_txt">
											<span>标准模板1</span>
											<span>标准模板2</span>
											<span>标准模板3</span>
											<span>标准模板4</span>
											<span>标准模板5</span>
											<span>标准模板6</span>
										</div>										
									</div>
									<div class="txt_made">
										<textarea name="" rows="" cols="" id="textCon" placeholder="填写您的需求 比如需要什么样的车 什么价位的车什么样的车型..."></textarea>
										<p class=" count_num">限制字数为0-1000字</p>
									</div>
								</li>
							</ul>
							<p class="sub_btn submit">提交</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>	
		<div class="footer"></div>
		<div class="pop_modelt">			
			<div class="model_cont">
				<h3>标准模板<span class="del_m"><img src="img/del1.png" alt="" /></span></h3>
				<p class="descript_car">外观：漆面保养良好，车身结构无修复，无重大事故。 内饰：干净整洁。安全指示灯正常，气囊等被动安全项正常，车辆内电子器件使用良好， 车内静态动态设备完善。 驾驶：车辆点火、起步、提速、过弯、减速、制动均无问题，加速迅猛，动力输出平稳舒 适,无怠速抖动。 整体：整体车况一般。
					车体骨架结构无变形扭曲、无火烧泡水痕迹。车身有喷漆痕迹，整体漆面良好，排除大事故车辆。视野宽阔，练手最佳选择，空间宽敞明亮通风性好，适 合家庭代步车。使用模板</p>
				<span class="use_model">使用模板</span>
			</div>
		</div>
		<div class="mask1"></div>
	</body>
	<script src="js/jquery-1.11.0.min.js"></script>
	<script src="js/laydate.js"></script>
	<script src="js/imgUp.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script>		
		$(function(){			
			lay('#version').html('-v'+ laydate.v);
		    laydate.render({
		      elem: '#year' //指定元素
		    });
//			手机号隐藏中间4位
			$(".uphone").text($(".uphone").text().substring(0, 3) + "****" + $(".uphone").text().substring(7, 11));
			//加载公用头部和底部
		    $(".header").load("templates/header.html");
//		    $(".footer").load("templates/footer.html");
//			选择品牌字母
			$(".choose_car_t a").click(function(){
				$(this).addClass("active").siblings().removeClass("active");				 
			})
			$(".upload_info").click(function(){
				
				if($(this).next(".position_r").is(":hidden")){					
					$(this).parents(".selected_ipt").addClass('active');
					
				}else{
					$(this).parents(".selected_ipt").removeClass('active');
					
				}
				
			})
//			选择品牌
			$(".choosecar_letter a").click(function(){
				$(this).addClass('active').siblings().removeClass('active');
			})
			//选择好颜色
			$(".slt_color").click(function(){
				$(this).addClass('active').siblings().removeClass('active');
			})
			
			$("#sltCar_name").click(function(){
				$(".choose_cartab1").show();
				$("#bd01").addClass("active").siblings().removeClass("active")
				$(".letter_box p a").click(function(){
					var sel_brand=$(this).text()
					$("#brandName").text(sel_brand);
					$(".choose_cartab1").hide();
					$(".choose_cartab2").show();
					$("#bd02").addClass("active").siblings().removeClass("active");
					$(".choosecar_letter a:first").addClass("active").siblings().removeClass("active");
					$(".chooseSeries a").click(function(){
				   		var sel_series=$(this).text();
						$("#seriesName").text('>'+sel_series);
						$(".choose_cartab2").hide();
						$(".choose_cartab3").show();
						$("#bd03").addClass("active").siblings().removeClass("active");
						$(".year_car  a").click(function(){
					   		var carname=$(this).text();
							$("#carName").text('>'+carname);
							$(".choose_cartab3").hide();
							$(this).parents(".selected_ipt").removeClass('active');
							$("#sltCar_name").val(sel_brand+sel_series+carname);
							$(".bread_subnav").empty()
						})
					})
				})
			})
			
			$(".list_slt li").click(function(){
				var txt=$(this).text();
				$(this).parents(".selected_ipt").find(".upload_info").val(txt);
				$(this).parents(".selected_ipt").removeClass('active');
			})
//			车辆描述使用模板
			$(".model_txt span").click(function(){
				$(".pop_modelt").css("display","block");
				$(".mask1").css("display","block");
				$("html,body").css("overflow","hidden")
			})
			$(".mask,.del_m").click(function(){
				$(".pop_modelt").css("display","none");
				$(".mask1").css("display","none");
				$("html,body").css("overflow","auto");
			})
			$(".use_model").click(function(){
				var $txt=$(this).prev(".descript_car").text();
				$(".txt_made textarea").val($txt);
				$(".pop_modelt").css("display","none");
				$(".mask1").css("display","none");
				$("html,body").css("overflow","auto");
				
			})
			//		    输入内容不超过限制字数
			$("#textCon").on("input propertychange",function(){
				var that=$(this);
				$val=that.val();
				count="";
				if($val.length>1000){
					that.val($val.substring(0,1000));					
				}
				count=1000-that.val().length;
				$(".count_num").text('请注意，还可以输入'+count+'字');
				if(count<=0){
					$(".count_num").html('<span style="color: #F21B1B;">最多输入1000字</span>');
				}
			})
			
	})
</script>
</html>
