<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
	</head>
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/other.css" />
	<link rel="stylesheet" href="css/iconfont.css" />
	
	<style>

	</style>
	<body>	
		<div class="site_nav">
			<div class="site_nav_bd">
				<div class="fleft">你好，欢迎来到管家车易站！请<a href="" class="coloryel">【登录】</a>,免费<a href="" class="coloryel">【注册】</a></div>
				<div class="fright">
					<ul class="site_nav_menu">
						<li><a href=""><img src="img/home1.png" alt="" />首页</a></li>
						<li><a href=""><img src="img/sell2.png" alt="" />我要买车</a></li>
						<li><a href=""><img src="img/sell1.png" alt="" />我要买车</a></li>
						<li><a href=""><img src="" alt="" />网站导航</a></li>
					</ul>					
				</div>
			</div>
		</div>
		<div class="borbt"><div class="header"></div></div>
		<div class="full_wid">			
			<div class="wrap ">	
				<div class="person_center">
					<div class="person_left">
						<div class="person_info">
							<div class="user_avatar"><img src="img/yhtx.png" alt="" /></div>
							<p class="uphone">15362352625</p>
							<p>向阳二手车一号店</p>							
						</div>
						<div class="tab_choose">
							<ul>
								<li class=""><a href=""><b class="icon_xb1"> </b>管理店铺<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb2"></b>发布车辆信息<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class="active"><a href=""><b class="icon_xb3"></b>发布过的<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb4"></b>商家入驻<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb5"></b>商机<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb6"></b>个人资料<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb7"></b>我的收藏<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb8"></b>浏览记录<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb9"></b>意见反馈<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb10"></b>我的预约<i class="icon iconfont icon-jiantou"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="person_right">
						<h1 class="borbt"><span class="release">个人中心</span>
							<ul class="fright sel_status">
								<li class="active" data-status='1'><b></b><span>全部</span></li>
								<li data-status='0'><b></b><span>审核中</span></li>
								<li data-status='0'><b></b><span>发布成功</span></li>
								<li data-status='0'><b></b><span>发布失败</span></li>
								<li data-status='0'><b></b><span>未审核</span></li>
							</ul>
						</h1>
						<h2 class="step">已发布车辆</h2>
						 <ul class="list">
							<li class="items4">
								<a href="" class="car_img flex_center"><img src="" alt="" />
								<p class="rel_stutus">审核中</p>
								</a>
								<a href="" class="car_desc">
									<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
									<p><span>2015年8月10日上牌</span> <span class="padlt12">4万公里</span> </p>
									<p><span class="car_price"><b>2066</b>万</span><span class="car_delprice">新车含税13.86万</span></p>
									<div class="operate_r under_review"><span class="edit">编辑</span><span class="delete">删除</span></div>
								</a>
							</li>
							<li class="items4">
								<a href="" class="car_img flex_center"><img src="" alt="" />
								<p class="rel_stutus">发布成功</p>
								</a>
								<a href="" class="car_desc">
									<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
									<p><span>2015年8月10日上牌</span> <span class="padlt12">4万公里</span> </p>
									<p><span class="car_price"><b>2066</b>万</span><span class="car_delprice">新车含税13.86万</span></p>
									<div class="operate_r success_review"><span class="edit">编辑</span><span class="delete">删除</span><span class="obtained">下架</span></div>
								</a>
							</li>
							<li class="items4">
								<a href="" class="car_img flex_center"><img src="" alt="" />
								<p class="rel_stutus">发布失败</p>
								</a>
								<a href="" class="car_desc">
									<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
									<p><span>2015年8月10日上牌</span> <span class="padlt12">4万公里</span> </p>
									<p><span class="car_price"><b>2066</b>万</span><span class="car_delprice">新车含税13.86万</span></p>
									<div class="operate_r error_review"><span class="look_reason">查看原因</span></div>
									
								</a>
							</li>
							<li class="items4">
								<a href="" class="car_img flex_center"><img src="" alt="" />
								<p class="rel_stutus">未审核</p>
								</a>
								<a href="" class="car_desc">
									<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
									<p><span>2015年8月10日上牌</span> <span class="padlt12">4万公里</span> </p>
									<p><span class="car_price"><b>2066</b>万</span><span class="car_delprice">新车含税13.86万</span></p>
									<div class="operate_r unreview"><span class="edit">编辑</span><span class="subApply">提交申请</span><span class="delete">删除</span></div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>	
		<div class="footer"></div>
		
		<div class="mask1"></div>
	</body>
	<script src="js/jquery-1.11.0.min.js"></script>
	<script>		
		$(function(){		
			$(".sel_status li").each(function(){
				var that=$(this);
				$(that).click(function(){
				var status=$(this).attr("data-status");
					if(status==1){
						$(this).attr("data-status",0);
						$(this).removeClass("active")
					}else{
						$(this).attr("data-status",1);
						$(this).addClass("active").siblings().removeClass("active")
					}
				
			})
			})
			
			//加载公用头部和底部
		    $(".header").load("templates/header.html");
//		    $(".footer").load("templates/footer.html");

			
	})
</script>
</html>
