<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title></title>
</head>
<link rel="stylesheet" href="__STATIC__/css/style.css" />
<link rel="stylesheet" href="__STATIC__/css/other.css" />
<link rel="stylesheet" href="__STATIC__/css/iconfont.css" />
<link rel="stylesheet" href="__STATIC__/js/theme/default/laydate.css" />
<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
<script src="__STATIC__/js/jquery.form.js"></script>
<script src="__STATIC__/js/jquery.validate.min.js"></script>
<script src="__STATIC__/layer/layer.js"></script>

<style>
	.mblack
	{
		float: left;
		vertical-align: top;
		white-space: nowrap;
	}
	.validate-result{
		height: 40px; text-align: center;color: red;font-size: 18px;margin-top: 15px;
	}
	.error {
		background:url("__STATIC__/img/false.png") no-repeat 0px 4px;
		font-weight: bold;
		padding-left:20px;
		color: #EA5200;
	}
	.checked {
		background:url("__STATIC__/img/true.png") no-repeat center center;
	}
	.img-box .upimg-div .hidden{
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
</style>
<body>
<div class="header">
	{include file="public/header"}
</div>

<div class="borbt"><div class="header"></div></div>
<div class="full_wid">
	<div class="wrap ">
		<div class="person_center">
			<div class="person_left">
				<div class="person_info">
					<div class="user_avatar"><img src="__STATIC__/img/yhtx.png" alt="" /></div>
					<p class="uphone">{$Think.session.phone}</p>
					<p>{$shop_name.shop_name}</p>
				</div>
				<div class="tab_choose">
					<ul>
						<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_man"><b class="icon_xb1"> </b>管理店铺<i class="icon iconfont icon-jiantou"></i></a></li>
						<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_rele"><b class="icon_xb2"></b>发布车辆信息<i class="icon iconfont icon-jiantou"></i></a></li>
						<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_pub.html"><b class="icon_xb3"></b>发布过的<i class="icon iconfont icon-jiantou"></i></a></li>
						<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_buse.html"><b class="icon_xb4"></b>商家入驻<i class="icon iconfont icon-jiantou"></i></a></li>
						<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_oppo.html"><b class="icon_xb5"></b>商机<i class="icon iconfont icon-jiantou"></i></a></li>
						<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_info.html"><b class="icon_xb6"></b>个人资料<i class="icon iconfont icon-jiantou"></i></a></li>
						<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_coll.html"><b class="icon_xb7"></b>我的收藏<i class="icon iconfont icon-jiantou"></i></a></li>
						<li class="active"><a href="{$domain}/{$Think.session.cityurl}/per_his"><b class="icon_xb8"></b>浏览记录<i class="icon iconfont icon-jiantou"></i></a></li>
						<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_feed.html"><b class="icon_xb9"></b>意见反馈<i class="icon iconfont icon-jiantou"></i></a></li>
						<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_ord.html"><b class="icon_xb10"></b>我的预约<i class="icon iconfont icon-jiantou"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="person_right">
				<h1 class="borbt"><span class="release">发布车辆信息</span></h1>
				<h2 class="step"><!--上传资料--></h2>
				<form id="release_form" action="{:url('user/pulish_adds')}" enctype="multipart/form-data" method="post">
					<div class="upLoad_form">
						<ul class="sel_box_info">
							<li class="gj_clear">
								<div class="demo_inputype selected_ipt ">
									<div class="input_inline">
										<p class="form_litit"><b>*</b>品牌：</p>
										<input type="hidden" id="car_brand_id" name="brand_id"/>
										<input type="hidden" id="car_sys_id" name="sys_id"/>
										<input type="hidden" id="car_type_id" name="years"/>
										<input type="text" name="name_li" class="upload_info hid" readonly id="sltCar_name" placeholder="请选择品牌"/>
										<div class="position_r">
											<div class="gjcar_box">
												<div class="gjcar_select_car">
													<!--选择结果展示-->
													<div class="bread_subnav gj_clear">
														<a href="javascript:;" style="cursor: default;" id="brandName"></a>
														<a href="javascript:;" style="cursor: default;" id="seriesName"></a>
														<a href="javascript:;" style="cursor: default;" id="carName"></a>
													</div>
													<!--选择标题-->
													<div class="choose_car_t oh">
														<a href="javascript:;" onclick="set('bd0',1,3)" id="bd01" class="active" >请选择品牌</a>
														<a href="javascript:;" onclick="set('bd0',2,3)" id="bd02">请选择车系</a>
														<a href="javascript:;" onclick="set('bd0',3,3)" id="bd03">请选择年代款</a>
													</div>
													<!--选择品牌-->
													<div class="choose_cartab">
														<div class=" choose_cartab1 oh" id="conbd01">
															<div class="choosecar_letter">
																<a href="javascript:;" class="active"><span>A</span><span>B</span></a>
																<a href="javascript:;"><span>C</span><span>D</span></a>
																<a href="javascript:;"><span>E</span><span>F</span></a>
																<a href="javascript:;"><span>G</span><span>H</span></a>
																<a href="javascript:;"><span>I</span><span>J</span></a>
																<a href="javascript:;"><span>K</span><span>L</span></a>
																<a href="javascript:;"><span>M</span><span>N</span></a>
																<a href="javascript:;"><span>O</span><span>P</span></a>
																<a href="javascript:;"><span>Q</span><span>R</span></a>
																<a href="javascript:;"><span>S</span><span>T</span></a>
																<a href="javascript:;"><span>U</span><span>V</span></a>
																<a href="javascript:;"><span>W</span><span>X</span></a>
																<a href="javascript:;"><span>Y</span><span>Z</span></a>
															</div>
															<div id="brand_content" class="brand_content ">
																<ul class="letter_box">
																	{volist name="ABC" id="vol"}
																	<li id="brand_letter_{$vol.initial}" class="oh">
																		<span class="brand_letter">{$vol.initial}</span>
																		<p>
																			{volist name="vol['list']" id="vo"}
																			<a onclick="btn_car_brand('{$vo.id}')" href="javascript:;">{$vo.name}</a>
																			{/volist}

																		</p>
																	</li>
																	{/volist}
																</ul>
															</div>
														</div>
														<!--选择车系-->
														<div class=" choose_cartab2 gj_clear" style="display: none;" id="conbd02">
															<div class="chooseSeries">

															</div>
														</div>
														<!--选择车款-->
														<div class=" choose_cartab3 gj_clear" style="display: none;" id="conbd03">
															<div class="choose_caryear gj_clear">
																<div class="year_content gj_clear">
																	<!--<p class="year_tit">2018款</p>-->
																	<div class="year_car oh">
																	</div>
																	<!--<p class="year_tit">2018款</p>-->
																	<!--<div class="year_car">-->
																	<!--<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>-->
																	<!--<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>-->
																	<!--<a href="javascript:;">2018款 30周年年型 30 TFSI 进取型</a>-->
																	<!--</div>-->
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="mblack"> </div>
								</div>
								<div class="demo_inputype">
									<div class="input_inline"><p class="form_litit"><b>*</b>价格：</p><input type="text" name="price" class="" placeholder="请输入价格"/>万</div>
									<div class="mblack"> </div>
								</div>
							</li>
							<li class="gj_clear">
								<div class="demo_inputype">
									<div class="input_inline"><p class="form_litit"><b>*</b>里程：</p><input type="text" name="car_mileage" class=""  placeholder=""/>万公里</div>
									<div class="mblack"> </div>
								</div>


								<div class="demo_inputype">
									<div class="input_inline"><p class="form_litit"><b>*</b>上牌时间：</p>
										<!--<input type="text" name="car_cardtime" id="year" class="upload_info"/></div>-->
										<input type="text" name="car_cardtime"  placeholder="例如 2018年1月" class=""/></div>
									<div class="mblack"> </div>
								</div>
							</li>
							<li class="gj_clear">
								<div class="selected_ipt demo_inputype">
									<div class="input_inline"><p class="form_litit"><b>*</b>车身：</p><input type="text" name="car_body" class="upload_info" readonly placeholder="请选择车身"/>
										<div class="position_r">
											<div class="gjcar_box">
												<input id="car_body" type="hidden" name="car_body" />
												<ul class="list_slt">
													<!--<select name="car_body" >-->
													{volist name="car_body" id="val"}
													<li id="{$val.id}">{$val.name}</li>
													<!--<li><option value="{$val.id}">{$val.name}</option></li>-->
													{/volist}
													<!--</select>-->

												</ul>
											</div>
										</div>
									</div>
									<div class="mblack"> </div>
								</div>
								<div class="selected_ipt demo_inputype">
									<div class="input_inline"><p class="form_litit"><b>*</b>燃料：</p><input type="text" name="fuel" class="upload_info" readonly />
										<div class="position_r">
											<div class="gjcar_box">
												<input id="fuel" type="hidden" name="fuel" />
												<ul class=" list_slt">
													{volist name="fuel" id="val"}
													<li id="{$val.id}">{$val.name}</li>
													{/volist}
												</ul>
											</div>
										</div>
									</div>
									<div class="mblack"> </div>
								</div>
							</li>
							<li class="gj_clear">
								<div class="selected_ipt demo_inputype">
									<div class="input_inline"><p class="form_litit"><b>*</b>驱动：</p><input type="text" name="car_drive" class="upload_info" readonly />
										<div class="position_r">
											<div class="gjcar_box">
												<input id="car_drive" type="hidden" name="car_drive" />
												<ul class="list_slt">
													<!--<select name="car_drive" >-->
													{volist name="car_drive" id="val"}
													<li id="{$val.id}">{$val.name}</li>
													<!--<li><option value="{$val.id}">{$val.name}</option></li>-->
													{/volist}
													<!--</select>-->
												</ul>
											</div>
										</div>
									</div>
									<div class="mblack"> </div>
								</div>
								<div class="selected_ipt demo_inputype">
									<div class="input_inline"><p class="form_litit"><b>*</b>排量：</p><input type="text" name="output" class="upload_info" readonly />
										<div class="position_r">
											<div class="gjcar_box">
												<input id="output" type="hidden" name="output" />
												<ul class="list_slt">
													{volist name="output" id="val"}
													<li id="{$val.id}">{$val.name}</li>
													{/volist}
												</ul>
											</div>
										</div>
									</div>
									<div class="mblack"> </div>
								</div>
							</li>
							<li class="gj_clear">
								<div class="selected_ipt demo_inputype">
									<div class="input_inline"><p class="form_litit"><b>*</b>变速箱：</p><input name="gearbox" type="text" class="upload_info" readonly />
										<div class="position_r">
											<div class="gjcar_box">
												<ul class="list_slt">
													<input id="gearbox" type="hidden" name="gearbox" />
													{volist name="gearbox" id="val"}
													<li id="{$val.id}">{$val.name}</li>
													{/volist}
												</ul>
											</div>
										</div>
									</div>
									<div class="mblack"> </div>
								</div>
								<div class="selected_ipt demo_inputype">
									<div class="input_inline"><p class="form_litit"><b>*</b>级别：</p><input type="text" name="subface" class="upload_info" readonly />
										<div class="position_r">
											<div class="gjcar_box">
												<input id="subface" type="hidden" name="subface" />
												<ul class="list_slt">
													{volist name="subface" id="val"}
													<li id="{$val.id}">{$val.name}</li>
													{/volist}
												</ul>
											</div>
										</div>
									</div>
									<div class="mblack"> </div>
								</div>
							</li>
							<li class="gj_clear">
								<div class="selected_ipt demo_inputype">
									<div class="input_inline"><p class="form_litit"><b>*</b>排放标准：</p><input type="text" name="blowdown" class="upload_info" readonly />
										<div class="position_r">
											<div class="gjcar_box">
												<input id="blowdown" type="hidden" name="blowdown" />
												<ul class="list_slt">
													{volist name="blowdown" id="val"}
													<li id="{$val.id}">{$val.name}</li>
													{/volist}

												</ul>
											</div>
										</div>
									</div>
									<div class="mblack"> </div>
								</div>
								<div class="demo_inputype">
									<div class="input_inline"><p class="form_litit"><b>*</b>电话：</p><input type="text" name="phone" class="" placeholder="请输入电话" /></div>
									<div class="mblack"> </div>
								</div>
							</li>
							<li class="gj_clear">
								<div class="demo_inputype">
									<div class="input_inline"><p class="form_litit"><b>*</b>联系人：</p><input type="text" name="contact" class="" placeholder="请输入手机号" /></div>
									<div class="mblack"> </div>
								</div>
							</li>
							<li class="gj_clear">
								<div class="oh"><p class="form_litit"><b>*</b>车身颜色：</p></div>
								<div class="car_color">
									<input id="color"  name="color" style="height: 1px;width: 1px;" />
									{volist name="color" id="val"}
									<p class="slt_color">
										<a  href="javascript:;">
											<img src="{$val.img_url}" class="eq"/>
											<!--<span style="background: #000000;" class="eq"></span>-->
											<span id="{$val.id}" class="text">{$val.name}</span>
											<!--<option value="{$val.id}">{$val.name}</option>-->
										</a>
									</p>
									{/volist}

									<p class="slt_color">
										<a  href="javascript:;">
	                                            <span  class="eq">
	                                            	<span class="mini_color" style="background: #E4007F;"></span>
	                                                <span class="mini_color" style="background: #A6937C;"></span>
	                                                <span class="mini_color" style="background: #FACD89;"></span>
	                                                <span class="mini_color" style="background: #FFF600;"></span>
	                                            </span>
											<span id="14" class="text">其他</span>
										</a>
									</p>
								</div>
								<div style="margin-left: 20px;"  class="mblack"> </div>
							</li>
							<li class="gj_clear">
								<div class="gj_clear"><p class="form_litit"><b>*</b>车辆照片：</p><span class="up_tip">最多可以上传10张图片，马上上传</span></div>
								<div class="img-box full">
									<section class="img-section">
										<div class="z_photo upimg-div oh" >
											<section class="z_file fl">
												<img src="__STATIC__/img/upimg.png" class="add-img">
												<input type="file" name="subface_img1"  class="file"  />
											</section>

										</div>
										<div style="margin-left: 20px;"  class="mblack"> </div>
									</section>
								</div>
								<aside class="mask works-mask">
									<div class="mask-content">
										<p class="del-p ">您确定要删除上传的图片吗？</p>
										<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
									</div>
								</aside>
							</li>
							<li>
								<div class="gj_clear">
									<p class="form_litit"><b>*</b>车辆描述：</p>
									<div class="fleft model_txt">
										<span>标准模板1</span>
										<span>标准模板2</span>
										<span>标准模板3</span>
										<span>标准模板4</span>
										<span>标准模板5</span>
										<span>标准模板6</span>
									</div>
								</div>
								<div class="txt_made">
									<textarea name="car_desc" rows="" cols="" id="textCon" placeholder="填写您的需求 比如需要什么样的车 什么价位的车什么样的车型..."></textarea>
									<p class=" count_num">限制字数为0-1000字</p>
								</div>
								<div class="mblack"> </div>
							</li>
						</ul>
						<p style="text-align: center;"><input class="sub_btn pwd_submit" type="submit" value="提交"></p>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>
<div class="footer">
	{include file="public/footer"}
</div>
<div class="pop_modelt">
	<div class="model_cont">
		<h3>标准模板<span class="del_m"><img src="__STATIC__/img/del1.png" alt="" /></span></h3>
		<p class="descript_car">外观：漆面保养良好，车身结构无修复，无重大事故。 内饰：干净整洁。安全指示灯正常，气囊等被动安全项正常，车辆内电子器件使用良好， 车内静态动态设备完善。 驾驶：车辆点火、起步、提速、过弯、减速、制动均无问题，加速迅猛，动力输出平稳舒 适,无怠速抖动。 整体：整体车况一般。
			车体骨架结构无变形扭曲、无火烧泡水痕迹。车身有喷漆痕迹，整体漆面良好，排除大事故车辆。视野宽阔，练手最佳选择，空间宽敞明亮通风性好，适 合家庭代步车。使用模板</p>
		<span class="use_model">使用模板</span>
	</div>
</div>
<div class="mask1"></div>
</body>

<script src="__STATIC__/js/laydate.js"></script>
<script src="__STATIC__/js/getBrand.js">	</script>
<script src="__STATIC__/js/imgUp.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/js/common.js" type="text/javascript" charset="utf-8"></script>
<script>
    function btn_car_brand(id){
        $("#car_brand_id").val(id);
        $.ajax({
            type: "POST",
            async: false,
            url: "http://39.106.67.47/new_api/user/newcar/getcar_brand_sys",
            data:{brand_id:id},
            success: function (data)
            {
                var obj = JSON.parse(data);
                var brand_sys = obj.body;
                //先将元素对应清空

                $('.chooseSeries').empty();
                var str = "";
                for(var i = 0; i<brand_sys.length;i++){
                    var sys  = brand_sys[i];
                    str += '<a onclick=btn_car_sys(' + sys.sys_id + ") " + 'href="javascript:;">' + sys.sys + '</a>'
                }
                //将html动态拼接到对应的div上面
                $('.chooseSeries').html(str);
            }
        });
    }

    function btn_car_sys(id){
        $("#car_sys_id").val(id);
        $.ajax({
            type: "GET",
            async: false,
            url: "http://39.106.67.47//new_api/User/Index/get_cartype?id=" + id,
            success: function (data)
            {
                var obj = JSON.parse(data);
                var car_type = obj.body[0].list;
                //先将元素对应清空

                $('.year_car').empty();

                var str = "";
                for(var i = 0; i<car_type.length;i++){
                    var type  = car_type[i];
                    str += '<a id=' + type.id  + ' href="javascript:;">' + type.name + '</a>'
                }
                //将html动态拼接到对应的div上面
                $('.year_car').html(str);
            }
        });
    }

    $(function(){

        // $(".brand_letter a").wxlsChooseCarSeries;
        lay('#version').html('-v'+ laydate.v);
        laydate.render({
            elem: '#year' //指定元素
        });
//			手机号隐藏中间4位
        $(".uphone").text($(".uphone").text().substring(0, 3) + "****" + $(".uphone").text().substring(7, 11));
        //加载公用头部和底部
//		    $(".header").load("templates/header.html");
//		    $(".footer").load("templates/footer.html");
//			选择品牌字母
        $(".choose_car_t a").click(function(){
            $(this).addClass("active").siblings().removeClass("active");
        })
        $(".upload_info").click(function(){

            if($(this).next(".position_r").is(":hidden")){
                $(this).parents(".selected_ipt").addClass('active');

            }else{
                $(this).parents(".selected_ipt").removeClass('active');

            }

        })
//			选择品牌
        $(".choosecar_letter a").click(function(){
            $(this).addClass('active').siblings().removeClass('active');
            var letter = $(this).children().first().text();

            var top_o = $("#brand_letter_A").offset().top;
            var top_n = $("#"+"brand_letter_"+letter).offset().top;
            $("#brand_content").scrollTop(top_n - top_o);
        })
        //选择好颜色
        $(".slt_color").click(function(){
            $(this).addClass('active').siblings().removeClass('active');
            $(this).prevAll("#color").val($(this).find(".text").attr("id"));
            $("#release_form").validate().element($(this).prevAll("#color"));
        })

        $("#sltCar_name").click(function(){
            $(".choose_cartab1").show();
            $("#bd01").addClass("active").siblings().removeClass("active")
            $(".letter_box p a").click(function(){
                var sel_brand=$(this).text()
                $("#brandName").text(sel_brand);
                $(".choose_cartab1").hide();
                $(".choose_cartab2").show();
                $("#bd02").addClass("active").siblings().removeClass("active");
                $(".choosecar_letter a:first").addClass("active").siblings().removeClass("active");
                $(".chooseSeries a").click(function(){
                    var sel_series=$(this).text();
                    $("#seriesName").text('>'+sel_series);
                    $(".choose_cartab2").hide();
                    $(".choose_cartab3").show();
                    $("#bd03").addClass("active").siblings().removeClass("active");
                    $(".year_car  a").click(function(){
                        var carname=$(this).text();
                        $("#carName").text('>'+carname);
                        $(".choose_cartab3").hide();
                        $(this).parents(".selected_ipt").removeClass('active');
                        $("#sltCar_name").val(sel_brand+sel_series+carname);
                        $("#car_type_id").val($(this).attr("id"));
                        $("#release_form").validate().element($("#sltCar_name"))
                        $(".bread_subnav").empty()
                    })
                })
            })
        })

        $(".list_slt li").click(function(){
            var txt=$(this).text();
            $(this).parents(".selected_ipt").find(".upload_info").val(txt);
            $(this).parents(".selected_ipt").removeClass('active');
            $(this).parent().prev().val($(this).attr("id"));
            $("#release_form").validate().element($(this).parents(".selected_ipt").find(".upload_info"));
        })
//			车辆描述使用模板
        $(".model_txt span").click(function(){
            $(".pop_modelt").css("display","block");
            $(".mask1").css("display","block");
            $("html,body").css("overflow","hidden")
        })
        $(".mask,.del_m").click(function(){
            $(".pop_modelt").css("display","none");
            $(".mask1").css("display","none");
            $("html,body").css("overflow","auto");
        })
        $(".use_model").click(function(){
            var $txt=$(this).prev(".descript_car").text();
            $(".txt_made textarea").val($txt);
            $(".pop_modelt").css("display","none");
            $(".mask1").css("display","none");
            $("html,body").css("overflow","auto");

        })
        //		    输入内容不超过限制字数
        $("#textCon").on("input propertychange",function(){
            var that=$(this);
            $val=that.val();
            count="";
            if($val.length>1000){
                that.val($val.substring(0,1000));
            }
            count=1000-that.val().length;
            $(".count_num").text('请注意，还可以输入'+count+'字');
            if(count<=0){
                $(".count_num").html('<span style="color: #F21B1B;">最多输入1000字</span>');
            }
        })

        $("#release_form").validate({
            rules: {
                name_li:"required",
                price:"required",
                car_mileage:"required",
                car_cardtime:"required",
                car_body:"required",
                car_drive:"required",
                fuel:"required",
                output:"required",
                gearbox:"required",
                subface:"required",
                blowdown:"required",
                phone:"required",
                contact:"required",
                color:"required",
                textCon:"required",
                "subface_img1":"required",
                car_desc:"required"
            },
            messages: {
                name_li:"请选择车型",
                price: "价格不能为空",
                car_mileage:"里程不能为空",
                car_cardtime:"上牌时间不能为空",
                car_body:"请选择车身",
                fuel:"请选择燃料",
                car_drive:"请选择驱动",
                output:"请选择排量",
                gearbox:"请选择变速箱",
                subface:"请选择级别",
                blowdown:"请选择排放标准",
                phone:"手机号码不能为空",
                contact:"联系人不能为空",
                color:"请选择车身颜色",
                textCon:"请填写车辆状况",
                "subface_img1":"请至少上传一张车型图片",
                car_desc:"请描述车辆状况"
            },
            success:function(label){
                label.html("&nbsp;").addClass("checked");
            },
            // the errorPlacement has to take the table layout into account
            errorPlacement: function(error, element) {

                if (element.is(":radio"))
                    error.appendTo(element.parent().next());
                else if (element.is(":checkbox"))
                    error.appendTo(element.next());
                else if (element.is(":input[type=file]"))
                    error.appendTo(element.parent().parent().next());
                else {
                    error.appendTo(element.parent().next());
                }
            },
            // specifying a submitHandler prevents the default submit, good for the demo
            submitHandler: function() {
                $("#release_form").ajaxSubmit({
                    clearForm:true,
                    success: function (data) {
                        var ret = JSON.parse(data);
                        if (ret.code == 200) {
                            layer.msg('店铺信息修改成功!', {icon: 1, time: 2000});

                        } else {
                            $("#result").text(ret.msg);
                        }
                    }
                });
                return false;
            },
            highlight: function(element, errorClass) {
                $(element).parent().next().find("." + errorClass).removeClass("checked");
            }
        });

    })
</script>
</html>
