<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
	</head>
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />
	<link rel="stylesheet" href="__STATIC__/css/iconfont.css" />
	
	<style>
	
	</style>
	<body>	
		<div class="site_nav">
			<div class="site_nav_bd">
				<div class="fleft">你好，欢迎来到管家车易站！请<a href="" class="coloryel">【登录】</a>,免费<a href="" class="coloryel">【注册】</a></div>
				<div class="fright">
					<ul class="site_nav_menu">
						<li><a href=""><img src="__STATIC__/img/home1.png" alt="" />首页</a></li>
						<li><a href=""><img src="__STATIC__/img/sell2.png" alt="" />我要买车</a></li>
						<li><a href=""><img src="__STATIC__/img/sell1.png" alt="" />我要买车</a></li>
						<li><a href=""><img src="" alt="" />网站导航</a></li>
					</ul>					
				</div>
			</div>
		</div>
		<div class="borbt"><div class="header"></div></div>
		<div class="full_wid">			
			<div class="wrap ">	
				<div class="person_center">
					<div class="person_left">
						<div class="person_info">
							<div class="user_avatar"><img src="__STATIC__/img/yhtx.png" alt="" /></div>
							<p class="uphone">15362352625</p>
							<p>向阳二手车一号店</p>							
						</div>
						<div class="tab_choose">
							<ul>
								<li class=""><a href=""><b class="icon_xb1"> </b>管理店铺<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb2"></b>发布车辆信息<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class="active"><a href=""><b class="icon_xb3"></b>发布过的<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb4"></b>商家入驻<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb5"></b>商机<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb6"></b>个人资料<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb7"></b>我的收藏<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb8"></b>浏览记录<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb9"></b>意见反馈<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href=""><b class="icon_xb10"></b>我的预约<i class="icon iconfont icon-jiantou"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="person_right">
						<h1 class="borbt"><span class="release">个人中心</span></h1>
						<h2 class="step">修改密码</h2>
						<div class="upLoad_form">
							<ul class="motify_ipt">
								<li><span class="my_form_tit">手机号：</span><p class="uphone">1536232514</p></li>
								<li><span class="my_form_tit">验证码：</span>
									<div class="fleft myform_ipt"><input type="text" placeholder="请输入您的验证码"/><span class="getcode">获取验证码</span></div>
								</li>
								<li><span class="my_form_tit">新手机号：</span>
									<div class="fleft myform_ipt"><input type="password" placeholder="请输入您新绑定的手机号"/></div>
								</li>
								<li><span class="my_form_tit">验证码：</span>
									<div class="fleft myform_ipt"><input type="text" placeholder="请输入您的验证码"/><span class="getcode">获取验证码</span></div>
								</li>
							</ul>								
							<p class="sub_btn pwd_submit">提交</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>	
		<div class="footer"></div>
		
		<div class="mask1"></div>
	</body>
	<script src="js/jquery-1.11.0.min.js"></script>
	<script>		
		$(function(){			

//			手机号隐藏中间4位
			$(".uphone").text($(".uphone").text().substring(0, 3) + "****" + $(".uphone").text().substring(7, 11));
			//加载公用头部和底部
		    $(".header").load("templates/header.html");
//		    $(".footer").load("templates/footer.html");

			
	})
</script>
</html>
