
	<div class="wrap">
		<div class="company_info gj_clear">
			<div class="footer_logo"><img src="__STATIC__/img/1024.png" alt="" width="80"/><p>管家车易站</p></div>
			<div class="basic_info">
				<div>
					<a href="join_us">关于我们</a>
					<a href="link_us">联系我们</a>
					<a href="service">服务保障</a>
					<a href="website">网站地图</a>
				</div>
				<p>
					版权所有：河南管家车销售有限公司 <br /> 
				 工信备案：豫ICP备17046554号 <br /> 
				  CopyRight © 2015-2018 ww
				</p>
			</div>
			<div class="QRcode"><img src="__STATIC__/img/ewmdown.png" alt="" width="86"/><p>下载APP</p></div>
			<div class="QRcode"><img src="__STATIC__/img/ewm_guanzhu.png" alt="" width="86"/><p>关注公众号</p></div>
			<div class="contact_way">
				<p>免费咨询、建议、投诉 <br />
				卖车热线（投诉建议）：<b>0371-53375515</b> <br />
				 每天9：00-21：00(法定节假日除外)
				</p>		
			</div>
		</div>	
		<div class="optimize_link">
			<!--<p class="link_tit">热门品牌：</p>
			<span class="more_dwon"></span>
			{volist name="brand" id="val"}
			<a href="lots_cars/?brand_id={$val.id}&page=1&sort=1">{$val.name}</a>
			{/volist}-->

		</div>
		<div class="optimize_link">
			<!--<p class="link_tit ">热门车系123：</p>
			<span class="more_dwon"></span>
			<a href="">大众</a>
			<a href="">大众</a>-->

		</div>
		<div class="optimize_link gj_clear">
			<!--<p class="link_tit">友情链接123：</p>
			<span class="more_dwon"></span>
			<a href=""></a>-->



		</div>
	</div>
<script>
	$(".more_dwon").click(function(){
		$(this).parents(".optimize_link").addClass("link_active")
	})
</script>