<div class="site_nav">
	<div class="site_nav_bd">
		<div class="fleft">你好，欢迎来到管家车易站！
			欢迎用户{empty name="Think.cookie.phone"}
			<a href="http://www.gjcyz.com/{$Think.session.cityurl}/login" class="coloryel">【登录】</a>,免费<a href="{$domain}/{$Think.session.cityurl}/register" class="coloryel">【注册】</a>
			{else /}
			{$Think.cookie.phone}
			{/empty}</div>
		<div class="fright">
			<ul class="site_nav_menu">
				<li><a href="{$domain}/{$Think.session.cityurl}/"><img src="__STATIC__/img/shouye.png" alt="" />首页</a></li>
				<li class="sec_li"><a href="{$domain}/{$Think.session.cityurl}/twocar"><img src="__STATIC__/img/maic.png" alt="" />我要买车</a></li>
				<li><a href="{$domain}/{$Think.session.cityurl}/sell"><img src="__STATIC__/img/maic.png" alt="" />我要卖车</a></li>
				<li><a href="{$domain}/{$Think.session.cityurl}/appdownload"><img src="__STATIC__/img/xiazai.png" alt="" />APP下载</a></li>
				<li><a href=""><img src="__STATIC__/img/wangahn.png" alt="" />网站导航</a></li>
				{notempty name="Think.cookie.phone"}<li><a href="{$domain}/{$Think.session.cityurl}/per_his"><img src="__STATIC__/img/wangahn.png" alt="" />会员中心</a></li>{/notempty}
				{notempty name="Think.cookie.phone"}<li><a href="{$domain}/{$Think.session.cityurl}/logout"><img src="__STATIC__/img/wangahn.png" alt="" />安全退出</a></li>{/notempty}
			</ul>
		</div>
	</div>
</div>
<div class="fn_show gj_clear header_show">
	<div class="wrap gj_clear marginbt">
		<div class="logo">
	 		  <h1> <a href="http://www.gjcyz.com">二手车交易市场</a></h1>
		</div>
		<div class="city_current">
			<div class="address"><span>郑州</span><b class="icon1"></b></div>
			<div class="white-line"></div>
			<div class="city"  style="display: none;" >
				<ol>
					{volist name="city" id="val"}
						<a href="/{$val.pin}"> <li>{$val.name}</li></a>
					{/volist}
				</ol>
			</div>
		</div>
		<div class="search gj_clear">
	        <div class="search_tab">
	            <a id="s1" class="active">二手车</a>
	            <a id="s2">新车</a>
	        </div>
	        <div class="ipt_cont">
				<!--<form name="admin_list_sea" class="form-search" method="post" action="">-->
	        	  <div class="search_ipts">
		        	 <input type="text" id="mingzi"  name="key" autocomplete="off" placeholder="" />
					  <button type="submit" class="search_btn"><i class="fa fa-search"></i> 搜索</button>
				  </div>
				<!--</form>-->
		       	<!--<div class="fn_hide search_ipts">
		        	 <input type="text"  name="txtNewcar" autocomplete="off" placeholder="请输入喜欢的品牌或车型" />
		        	 <a class="search_btn">搜索</a>
		        </div>
		      	<div class="fn_hide search_ipts">
		      	  	 <input type="text"  name="txtzerocar" autocomplete="off" placeholder="请输入喜欢的品牌或车型" />
		        	 <a class="search_btn" >搜索</a>
		        </div>-->
	        </div>
	       <!-- 搜索历史记录 -->
	        <div id="history_list" class="search_list" style="display:none;"></div>
	    </div>
	</div>
	<div class="nav gj_clear">
		<ul class="wrap">
			<li><a href="http://www.gjcyz.com">首页</a></li>
			<li ><a href="http://xin.gjcyz.com/{$Think.session.cityurl}/index" class="sec_li">新车</a></li>
			<li><a href="http://www.gjcyz.com/{$Think.session.cityurl}/brand">二手车</a></li>
		    <!--<li><a href="zeroCar.html">零首付</a></li>-->
			<li><a href="http://www.gjcyz.com/{$Think.session.cityurl}/sell">卖车</a></li>
			<li><a href="http://www.gjcyz.com/{$Think.session.cityurl}/change">置换</a></li>
			<li><a href="http://www.gjcyz.com/{$Think.session.cityurl}/news">新闻资讯</a></li>
			<li><a href="http://www.gjcyz.com/{$Think.session.cityurl}/appdownload">APP下载</a></li>
			<!--{empty name="Think.cookie.phone"}<li><a href="{$domain}/{$Think.session.cityurl}/login">登录/注册</a></li>{/empty}-->
			<li><a href="http://www.gjcyz.com/{$Think.session.cityurl}/join_us">关于我们</a></li>
			<li><a href="http://www.gjcyz.com/{$Think.session.cityurl}/shop">优选商家</a></li>
		</ul>
	</div>
</div>
<div class="fn_hide gj_clear header_hide borbt">
	<div class="wrap" >
		<div class="logo" >
		   <h1 style=""> 
		   <a href="/index/index/index.html"></a>
		   </h1>
		</div>
		<div class="city_current">
			<div class="address"><span>郑州</span><b class="icon1"></b></div>
			<div class="white-line"></div>
			<div class="city"  style="display: none;" >

				<ol>
					<li></li>
				</ol>
			</div>
		</div>
		<div class="header_tel">
			<img src="__STATIC__/img/phone1.png" alt="" height="17"/>
			0371-53375515
		</div>
		<div class="nav">
			<ul>
				<li><a href="{$domain}">首页</a></li>
				<li><a href="{$domain}/{$Think.session.cityurl}/twocar">二手车</a></li>
				<li><a href="{$domain}/{$Think.session.cityurl}/newcar">新车</a></li>
				<!--<li><a href="zeroCar.html">零首付</a></li>-->
				<li><a href="{$domain}/{$Think.session.cityurl}/sell">卖车</a></li>
				<li><a href="{$domain}/{$Think.session.cityurl}/change">置换</a></li>
				<li><a href="{$domain}/{$Think.session.cityurl}/news">新闻资讯</a></li>
				<li><a href="{$domain}/{$Think.session.cityurl}/appdownload">APP下载</a></li>
				{empty name="Think.session.phone"}<li><a href="{$domain}/{$Think.session.cityurl}/login">登录/注册</a></li>{/empty}
			</ul>
		</div>
	</div>
	</div>
<script>
	
	function tab(a,b,c){
	    $(a).on("click",c,function(){
	        $(this).addClass('active').siblings().removeClass('active');
	        $(b).eq($(this).index()).show().siblings().hide();
	    });

        $(".search_ipts").on("click",".search_btn",function(){
            var mingzi = $('#mingzi').val();
            var old = $(".search .search_tab a:first").hasClass("active");

            if (old) {
                var q = mingzi ? "?keyword=" + mingzi : "";
                window.location.href = "http://www.gjcyz.com/{$Think.session.cityurl}/s" + q;
			} else {
                var q = mingzi ? "?q=" + mingzi : "";
                window.location.href = "http://xin.gjcyz.com/{$Think.session.cityurl}/s" + q;
			}
        });
	}
//	$('.wrap li').click(function(){
//		
//		$(this).addClass('active').siblings().removeClass('active')
//	})
tab(".search_tab",".ipt_cont .search_ipts","a");
$(window).on('scroll',function(){
	var bH=$("body").outerHeight();
	var wH=$(window).innerHeight();
	
	var wsH=$(window).scrollTop();  
	var sH=$(".header .fn_show").height();
//	console.log(bH+'页面高度---页面可用高度'+wH+'-----滚动高度'+wsH+'-----页面头部高度'+sH)
//	console.log(bH-wH)
	if(wsH+50>sH){
		$(".header .header_hide").css('display','block');
		$(".header .header_show").css('display','none');
		$(".header").addClass('fixedTop')
	}else{
		$(".header .header_hide").css('display','none');
		$(".header .header_show").css('display','block');
		$(".header").removeClass('fixedTop')
	}
	
})

</script>
