<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />
	<link rel="stylesheet" href="__STATIC__/css/swiper.min.css" />
	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
	<script src="__STATIC__/js/jqueryPhoto.js"></script>	
	<script src="__STATIC__/js/gjsilde.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/js/jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>

	<style>
		
	</style>
	<body>
		<div class="border">				
			<div class="header">{include file="public/header"}</div>
		</div>
		<div class="breadnav">你的位置:<a href="">首页</a>>><a href="">二手车</a></div>
		<div class="full_wid">
			
			<div class="wrap">
				<div class="oh">
					<div class="detail_pic">
						<span id="prev" class="btn prev"></span>
						<span id="next" class="btn next"></span>
						<span id="prevTop" class="btn prev"></span>
						<span id="nextTop" class="btn next"></span>
						<div id="picBox" class="picBox">
							<ul class="cf">
								<li> <a href="javascript:;"><img src="__STATIC__/img/83293306.jpg" alt=""></a></li>
								
							</ul>
						</div>
						<div id="listBox" class="listBox">
							<ul class="cf">
								<li class="on"><i class="arr2"></i><img src="__STATIC__/img/83293792.jpg" alt=""></li>
								
							</ul>
						</div>
						<div class="clear"></div>
					</div>	
		        	<div class="detail_desc">
		        		<div class="detail_info">
		        			<h1>奥迪 A4L 2016款 2.0T 自动 35TFSI S line舒适型典藏版</h1>
		        			<div class="desc_price"><span class="price">￥20.5万</span><span class="price_save">比新车省24.33元 </span><span class="price_note">含过户费</span></div>
		        			<div class="signal">管家车易站，专业的二手车买卖平台</div>
		        		</div>
		        		<img src="__STATIC__/img/dianpu.png" alt="" class="sure_shop"/>
		        		<div class="stages"><span>分期购<b>低至1-3成</b></span><span>首付<b>1.40万</b></span><span>月供 <b>1906元</b></span><a href="" class="stages_go">分期购车＞</a></div>
		        		<ul class="detail_assort flex_around">
		        			<li>
		        				<p>2017-11</p>
		        				<span>上牌时间</span>
		        			</li>
		        			<li>
		        				<p>2014年12月30日 </p>
		        				<span>上架时间</span>
		        			</li>
		        			<li>
		        				<p>5万公里 </p>
		        				<span>表显里程</span>
		        			</li>
		        			<li>
		        				<p>欧5 </p>
		        				<span>排放标准</span>
		        			</li>
		        			<li>
		        				<p>1.6-2.0升 </p>
		        				<span>排量</span>
		        			</li>
		        			<li>
		        				<p>自动 </p>
		        				<span>变速箱</span>
		        			</li>
		        		</ul>
		        		<div class="car_results">
		        			<p class="lowerPrice">询问底价</p>
		        			<ul class="btn_box">
			        			<li><img src="__STATIC__/img/collect.png" alt="" /><p>收藏</p></li>
			        			<li><img src="__STATIC__/img/PK.png" alt="" /><p>加入PK</p></li>
			        			<li><img src="__STATIC__/img/share.png" alt="" /><p>分享</p></li>
			        		</ul>
	        		</div>
	        	</div>
				</div>
	        	<div class="flex_center marbt30"><h2 class="tit_erjie">基本配置</h2></div>
	        	<ul class="detail_information">
	        		<li>
	        			<h3>基本配置</h3>
	        			<div>
	        				<p>使用性质</p><span>非运营</span>
	        				<p>使用性质</p><span>非运营</span>
	        				<p>使用性质</p><span>非运营</span>
	        				<p>使用性质</p><span>非运营</span>
	        			</div>
	        		</li>
	        		<li><h3>外观参数</h3>
	        			<div>
	        				<p>使用性质</p><span>非运营</span>
	        				<p>使用性质</p><span>非运营</span>
	        				<p>使用性质</p><span>非运营</span>
	        				<p>使用性质</p><span>非运营</span>
	        			</div>
	        		</li>
	        		<li><h3>发动机参数</h3>
	        			<div>
	        				<p>使用性质</p><span>非运营</span>
	        				<p>使用性质</p><span>非运营</span>
	        				<p>使用性质</p><span>非运营</span>
	        				<p>使用性质</p><span>非运营</span>
	        			</div>
	        		</li>
	        	</ul>
	        	<p class="more_config">查看更多配置</p>
	        	<div class="flex_center marbt30"><h2 class="tit_erjie">车主自述</h2></div>
	        	<p class="user_say">这款车整体还很新，全车原漆原版，还算是一款刚过磨合期的准新车，现代汽车制造工艺都比较先进，汽车车况基本和新车无差异。同时也是二手车中极好卖的车型，空间宽大、节油、质量稳定和保值。［亮点配置］加装倒车雷达，四门迎宾灯，桃木内饰，大屏导航，真皮座椅、倒车视频影像、自动驻车、上坡辅助、前/后排座椅加热、日间行车灯、电动天窗、主/副驾驶座电动调节、多功能方向盘、腰部支撑调节</p>
				<div class="flex_center marbt30"><h2 class="tit_erjie">车源图片<b>(以实地看车为准)</b></h2></div>
				<div class="piclist">
					<ul>
						<li><img src="" alt="" height="390"/></li>
						<li><img src="" alt="" height="390"/></li>
						<li><img src="" alt="" height="390"/></li>
						<li><img src="" alt="" height="390"/></li>											
					</ul>
				</div>
				<div class="flex_center marbt30"><h2 class="tit_erjie">店铺信息</h2></div>
				<ul class="detail_shop_info">
					<li><div class="fleft flex_center "><img src="__STATIC__/img/shop_img.png" alt=""  height="83"/></div>
						<div class="fleft ">
							<h3>向阳二手车</h3>
							<p><img src="__STATIC__/img/dianh.png" alt="" height="20">电话：</p>
							<p><img src="__STATIC__/img/dingw.png" alt="" height="20" />地址：</p>
						</div>
					</li>
					<li >
						<div class="fleft marlt32">
							<p class="score"><b>4.5分</b></p>
							<p>店铺环境：5.0分</p>
							<p>服务态度：5.0分</p>
							<p>车源真实：5.0分</p>
						</div>
						<div class="fleft">
							<p><a href="" class="btn_piblic">发表评论</a></p>
						</div>	
					</li>
					<li>
						<div class="fleft marlt48">
							<p><img src="__STATIC__/img/rez.png" alt="" height="30"/>管家车易站认证店铺</p>
							<p><img src="__STATIC__/img/che.png" alt="" height="30" />在售车源：1808台</p>
						
						</div>
						<div class="fleft">
							<p><a href="" class="btn_piblic">进店逛逛</a></p>
						</div>
					</li>
				</ul>
				<div class="car_list">
					<ul class="list">
						<li class="items5">
							<a href="" class="car_img flex_center"><img src="" alt="" /></a>
							<a href="" class="car_desc">
								<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
								<p><span class="car_price"><b>2066</b>万</span><span class="car_sui">新车含税13.86万</span></p>
								<p><span>2015年8月10日上牌</span> <span class="padlt20">4万公里</span> </p>
								<div class="che_ordered">立即预约</div>
							</a>
						</li>			
					</ul>
				</div>
				<div class="tit_er">
			        <div class="line_tit"></div>			        
			        <h2 class="color tit_con">同系推荐</h2>	       
			    </div>
				<div class="car_list">
					<ul class="list">
						<li class="items5">
							<a href="" class="car_img flex_center"><img src="" alt="" /></a>
							<a href="" class="car_desc">
								<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
								<p><span class="car_price"><b>2066</b>万</span><span class="car_sui">新车含税13.86万</span></p>
								<p><span>2015年8月10日上牌</span> <span class="padlt20">4万公里</span> </p>
								<div class="che_ordered">立即预约</div>
							</a>
						</li>
					
					</ul>
				</div>
			</div>
		
    </div>
  <!--公共底部样式-->
    <!--<div class="footer"></div>-->
  <!--底部固定悬浮-->
    <div class="wrap_bt">
    	<div class="wrap oh flex_center">
    		<div class="car_descInfo">
    			<h4 class="hid">奥迪 A4L 2016款 2.0T 自动 35TFSI迪 A4L 2016款 2.0T 自动 35TFSI ... </h4>
    			<p>2017-11 <b>|</b>5万公里<b>|</b>国5(国5) <b>|</b>郑州</p>
    		</div>
    		<div class="car_descPri">
    			<b>￥33.80万 </b>比新车省：72.32万
    		</div>
    		<div class="car_descOrder flex_center">
    			<input type="text" placeholder="请输入手机号"/>
    			<p class="lowerPrice">询问底价</span>
    		</div>
    	</div>	     
    </div>
  <!--点击轮播显示大图以及预订-->    
  <div class="photoList">
  		<div class="pc_slide">
			<div class="view">
				<div class="swiper-container">
					<a class="arrow-left" href="#"></a>
					<a class="arrow-right" href="#"></a>
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<a target="_blank"><img src="__STATIC__/img/b1.jpg" alt=""></a>
						</div>
						<div class="swiper-slide">
							<a target="_blank"><img src="__STATIC__/img/b2.jpg" alt=""></a>
						</div>
						<div class="swiper-slide">
							<a target="_blank"><img src="__STATIC__/img/b3.jpg" alt=""></a>
						</div>
						<div class="swiper-slide">
							<a target="_blank"><img src="__STATIC__/img/b4.jpg" alt=""></a>
						</div>
						<div class="swiper-slide">
							<a target="_blank"><img src="__STATIC__/img/b5.jpg" alt=""></a>
						</div>
						<div class="swiper-slide">
							<a target="_blank"><img src="__STATIC__/img/b6.jpg" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="preview">
				<a class="arrow-left" href="#"></a>
				<a class="arrow-right" href="#"></a>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide active-nav">
							<div class="silde_img"><img src="__STATIC__/img/s1.jpg" alt=""></div>
						</div>
						<div class="swiper-slide">
							<div class="silde_img"><img src="__STATIC__/img/s2.jpg" alt=""></div>
						</div>
						<div class="swiper-slide">
							<div class="silde_img"><img src="__STATIC__/img/s3.jpg" alt=""></div>
						</div>
						<div class="swiper-slide">
							<div class="silde_img"><img src="__STATIC__/img/s4.jpg" alt=""></div>
						</div>
						<div class="swiper-slide">
							<div class="silde_img"><img src="__STATIC__/img/s5.jpg" alt=""></div>
						</div>
						<div class="swiper-slide slide6">
							<div class="silde_img"><img src="__STATIC__/img/s6.jpg" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>
  		<div class="silde_info">
  			<h2>奥迪A4L 2016款 35 TFSI 典藏版S line豪华型</h2>
  			<p class="info_car">2016年-11月 | 1.6万公里 | 国4(国5) | 郑州</p>
  			<div class="tag flex_center"><span>准新车</span><span>店铺认证</span></div>
  			<div class="info_price"><b>￥33.80万&nbsp;</b>比新车省：75.29万</div>
  			<div class="car_form">
  				<div class="ipt ipt_phone"><input type="text" placeholder="请输入手机号"/><span class="getcode">获取验证码</span></div>
  				<div class="ipt"><input type="text" placeholder="请输入短信验证码"/></div>
  				<div><p class="lowerPrice">询问底价</p></div>
  				
  			</div>
  			<div class="link_btn">
				<a href="javascript:;">联系商家</a>
				<a href="">分期购车</a>
			</div>
			<ul class="btn_box oh">
    			<li><img src="__STATIC__/img/collect.png" alt="" /><p>收藏</p></li>
    			<li><img src="__STATIC__/img/PK.png" alt="" /><p>加入PK</p></li>
    			<li><img src="__STATIC__/img/share.png" alt="" /><p>分享</p></li>
    		</ul>
    		<div class="del"><img src="__STATIC__/img/del1.png" alt="" height="16"/></div>
  		</div>
  </div>
  
  <!--更多车辆信息配置-->
  	<div class="carConfig">
  		<h2>汽车配置<div class="del"><img src="__STATIC__/img/del1.png" alt="" height="16"/></div></h2>
  		<h3>奥迪A4L 2018款 30周年年型 40 TFSI 运动型</h3>
  		<div class="configBox">
  			<ul class="config_tit1">
  				<li class="con1 active"><b></b><span>基本配置</span></li>
  				<li class="con2"><b></b><span>操控配置</span></li>
  				<li class="con3"><b></b><span>外部配置</span></li>
  				<li class="con4"><b></b><span>变速箱/底盘/车轮配置</span></li>
  				<li class="con5"><b></b><span>高科技配置</span></li>
  				<li class="con6"><b></b><span>灯光配置</span></li>
  				<li class="con7"><b></b><span>发动机配置</span></li>
  				<li class="con8"><b></b><span>多媒体配置</span></li>
  				<li class="con9"><b></b><span>安全配资</span></li>
  				<li class="con10"><b></b><span>车身配置</span></li>
  			</ul>
  			<div class="configCont">
  				<div class="config_f con1">
  					<div class="config_tit2"><b></b><span>基本配置</span></div>
  					<ul class="">
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					    <li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					</ul>
  				</div>
  				<div class="config_f con2">
  					<div class="config_tit2"><b></b><span>操控配置</span></div>
  					<ul class="">
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					    <li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					</ul>
  				</div>
  				<div class="config_f con3">
  					<div class="config_tit2"><b></b><span>外部配置</span></div>
  					<ul class="">
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					    <li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					</ul>
  				</div>
  				<div class="config_f con4">
  					<div class="config_tit2"><b></b><span>变速箱/底盘/车轮配置</span></div>
  					<ul class="">
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					    <li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					</ul>
  				</div>
  				<div class="config_f con5">
  					<div class="config_tit2"><b></b><span>高科技配置</span></div>
  					<ul class="">
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					    <li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					</ul>
  				</div>
  				<div class="config_f con6">
  					<div class="config_tit2"><b></b><span>灯光配置</span></div>
  					<ul class="">
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					    <li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					</ul>
  				</div>
  				<div class="config_f con7">
  					<div class="config_tit2"><b></b><span>发动机配置</span></div>
  					<ul class="">
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					    <li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					</ul>
  				</div>
  				<div class="config_f con8">
  					<div class="config_tit2"><b></b><span>多媒体配置</span></div>
  					<ul class="">
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					    <li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					</ul>
  				</div>
  				<div class="config_f con9">
  					<div class="config_tit2"><b></b><span>安全配资</span></div>
  					<ul class="">
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					    <li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					</ul>
  				</div>
  				<div class="config_f con10">
  					<div class="config_tit2"><b></b><span>车身配置</span></div>
  					<ul class="">
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					    <li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  						<li>
  							<p>车身结构</p>
  							<span>四门5座三厢轿车</span>
  						</li>
  					</ul>
  				</div>
  				
  			</div>
  		</div>
  	</div>
 <!--蒙版--> 	
  	<div class="mask"></div>
		<div class="footer">{include file="public/footer"}</div>
	</body>
	<script>		
		$(function(){
//			加载公共头部和底部
		    $(".header").load("templates/header.html");
//		    $(".footer").load("templates/footer.html");
//			点击更多配置查看详细配置
		    $(".more_config").click(function(){
		    	$(".mask").show();
		    	$(".carConfig").show();
		    	$("html,body").css("overflow-y","hidden");
//		    	楼层效果
		    	$(".configCont").scroll(function() {
	                var cTop=$(".configCont").offset().top;                
	               $(".configCont .config_f").each(function(){
	               		var fTop= $(this).offset().top;              	
	               		var fTops = $(this).height() + fTop;
	               		if(fTop<=cTop&&fTops>=cTop){
	               			var n=$(this).index()+1;
	               			$(".config_tit1 .con"+n).addClass("active").siblings().removeClass("active");
	               			
	               		}
	               })
            	})
	            $(".config_tit1 li").click(function(){
	            	var className = this.className;
					$(this).addClass("active").siblings().removeClass("active");
					var top = 0;
					$.each($('.configCont .' + className).prevAll(), function(i, n) {
						top += $(n).height();
						console.log(n)
					});
					$(".configCont").stop().animate({
						scrollTop: top
					}, 200);
	            })
		    })
		    $(".carConfig .del,.mask").click(function(){
		    	$(".mask").hide();
		    	$(".carConfig").hide();
		    	$("html,body").css("overflow-y","auto");
		    })
//		          点击图片查看大图信息以及预定
		    $("#picBox,.piclist").click(function(){
		    	$(".photoList").show();
		    	$(".mask").show();
		        $("html,body").css("overflow-y","hidden");
		    })
		    $(".photoList .del,.mask").click(function(){
		    	$(".photoList").hide();
		    	$(".mask").hide();
		    	$("html,body").css("overflow-y","auto");
		    })
            
		})
		</script>
		<script>
		$(function(){
	//			相册轮播大图对应小图 swiper
			var viewSwiper = new Swiper('.view .swiper-container', {
				onSlideChangeStart: function() {
					updateNavPosition();
				}
			})
			$('.view .arrow-left,.preview .arrow-left').on('click', function(e) {
				e.preventDefault();
				if(viewSwiper.activeIndex == 0) {
					viewSwiper.swipeTo(viewSwiper.slides.length - 1, 1000);
					return;
				}
				viewSwiper.swipePrev();
			})
			$('.view .arrow-right,.preview .arrow-right').on('click', function(e) {
				e.preventDefault();
				if(viewSwiper.activeIndex == viewSwiper.slides.length - 1) {
					viewSwiper.swipeTo(0, 1000);
					return
				}
				viewSwiper.swipeNext();
			})
			var previewSwiper = new Swiper('.preview .swiper-container', {
				visibilityFullFit: true,
				slidesPerView: 'auto',
				onlyExternal: true,
				onSlideClick: function() {
					viewSwiper.swipeTo(previewSwiper.clickedSlideIndex);
				}
			})
			function updateNavPosition() {
				$('.preview .active-nav').removeClass('active-nav');
				var activeNav = $('.preview .swiper-slide').eq(viewSwiper.activeIndex).addClass('active-nav');
				if(!activeNav.hasClass('swiper-slide-visible')) {
					if(activeNav.index() > previewSwiper.activeIndex) {
						var thumbsPerNav = Math.floor(previewSwiper.width / activeNav.width()) - 1;
						previewSwiper.swipeTo(activeNav.index() - thumbsPerNav);
					} else {
						previewSwiper.swipeTo(activeNav.index());
					}
				}
			}
		})
		</script>
</html>
