<IfModule mod_rewrite.c>



  Options +FollowSymlinks -Multiviews
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  #RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
  RewriteRule ^(.*)$ index.php [L,E=PATH_INFO:$1]



  #RewriteCond %{REQUEST_URI} (?=sn_c.*)
  #RewriteRule ^(.*)sn_c?([1-9]+)?w?([1-9]+)?g?([1-9]+)?$ index.php/index/index/lots_cars [L]
</IfModule>
