<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
	</head>
	 <link rel="icon" type="image/x-icon" href="favicon.png">
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />
	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
	<script src="__STATIC__/js/jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/js/common.js" type="text/javascript" charset="utf-8"></script>
	<style>
	</style>
<body>
<div class="header">
	{include file="public/header"}
</div>
<div class="banner1"><img src="__STATIC__/img/xinche.png" alt="" /></div>
<div class="newcar gj_clear">
    <div class="category">
   		<div class="classify p_r">
   			 <div class="brand_new fleft oh">
   			 	<h2>品牌</h2>
   			 	<ul>
					{volist name="brand" id="val"}
   			 		<li><a href="{$domain}/{$Think.session.cityurl}/{$val.pin}">  <img src="{$val.img_url}" alt="" /><p>{$val.name}</p></a></li>
				    {/volist}
   			 	</ul>
   			 </div>
   			 <div class="price_new fleft oh">
   			 	<h2>价格</h2>
   			 	<ul>
   			 		<li><a href="">分期购</a></li>
   			 		<li><a href="" class="coloryel">一成购新车</a></li>
					{volist name="price" id="val"}
   			 		<li><a href="{$domain}/{$Think.session.cityurl}/search_newcar?price={$val.id}">{$val.name}</a></li>
					{/volist}

   			 	</ul>

   			 </div>
   			 <div class="type_new fleft oh">
   			 	<h2>车型</h2>
   			 	<ul>
					{volist name="subface" id="val"}
   			 		<li><a href="{$domain}/{$Think.session.cityurl}/search_newcar?subface={$val.id}"><img src="__STATIC__/img/{$val.img}" alt=""  width="100" height="100"/><p>{$val.name}</p></a></li>
					{/volist}
   			 	</ul>
   			 </div>
   			<a href="" class="coloryel more_lok">MORE>></a>
   		</div>
   </div>
	<div class="wrap">
	    <div class="news_tit">
	        <h2>爆款新车</h2>
	        <p class="small_tit">Explosive car</p>
	    </div>
	   <div class="gj_clear">
		    <div class="img_fac">
			 <div class="more_slt">
			 	<div class="gj_clear">
			 		<a href="">5-8万</a>
			 		<a href="">5-8万</a>
				 	<a href="">20-30万</a>
				 	<a href="">5-8万</a>
			 	</div>

			<p><a href="">查看更多>></a></p>

			 </div>
		   </div>
		    <div class="first_public">
		    	<ul class="md50">
					{volist name="new_car" id="val"}
		    		<li>
						<a href="{$domain}/{$Think.session.cityurl}/detail/{$val.id}">

						<h3>{$val.name}</h3>
							<div class="fleft car_img"><img src="{$val.img_url}" alt="" /></div>
							<div class="fright car_public">
								<h4>首付{$val.pay10_s2}万</h4>
								<span>新车发售</span>
							</div>

						</a>
		    		</li>
					{/volist}
		    	</ul>
		    </div>
	    </div>
	     <div class="news_tit">
	        <h2>热门推荐</h2>
	        <p class="small_tit">Popular recommendation</p>
	    </div>
	    <div class="gj_clear">
	    	<ul class="list ptp15 new_list">
				{volist name="new_car" id="val" offset="2" length="7"}
				<li class="items5">
					<a href="{$domain}/{$Think.session.cityurl}/detail/{$val.id}" class="car_img flex_center"><img src="" alt="" /></a>
					<a href="{$domain}/{$Think.session.cityurl}/detail/{$val.id}" class="car_desc">
						<h3>{$val.name}</h3>
						<p><span class="pay_first">首付<b>{$val.pay10_s2}</b>万</span> <span class="padlt20">月供{$val.pay10_y2}元</span> </p>

					</a>
					<a href="{$domain}/{$Think.session.cityurl}/detail/{$val.id}" > <img src="{$val.img_url}" alt="" class="hot" /></a>
				</li>
				{/volist}
			</ul>
			<div class="more_l">查看更多</div>
	    </div>
		<h2 class="newc_t">
			轻松四步  新车开回家
		</h2>
		<ul class="step oh">
			<li><img src="__STATIC__/img/yuyue.png" alt="" /><p>在线预约</p></li>
			<li><img src="__STATIC__/img/jiantou00.png" alt="" /></li>
			<li><img src="__STATIC__/img/xieyi.png" alt="" /><p>签订协议</p></li>
			<li><img src="__STATIC__/img/jiantou00.png" alt="" /></li>
			<li><img src="__STATIC__/img/zhifu.png" alt="" /><p>支付费用</p></li>
			<li><img src="__STATIC__/img/jiantou00.png" alt="" /></li>
			<li><img src="__STATIC__/img/kaiche.png" alt="" /><p>坐等新车</p></li>

		</div>
	<div class="adv_img">
		<h2>想开什么车 ？管家车易站应有尽有.</h2>
		<div class="buy_ipt">
			<input type="text" placeholder="请输入手机号"/>
			<div class="btn_buy">我要买车</div>
		</div>
	</div>
</div>

<div class="footer">
	{include file="public/footer"}
</div>

</body>


<script>

   window.onload=function()
   {
   	//  $(".header").load("templates/header.html");
     // $(".footer").load("templates/footer.html");
  var sec=$('.wrap').html();
  console.log(sec);


   }
   $(function () {
       $($(".wrap li")[1]).addClass("active").siblings().removeClass("active");
   })
</script>
</html>
