<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />
	<link rel="stylesheet" href="__STATIC__/css/swiper.min.css" />
	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
	<script src="__STATIC__/js/jqueryPhoto.js"></script>	
	<script src="__STATIC__/js/gjsilde.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/js/jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>

	<style>
	.list_shop{overflow: hidden;margin-top: 10px;color: #666;height: 236px;}
	.list_shop li{width: 490px;height:236px;float: left;margin-left:80px;border: 1px solid  #ddd;padding:15px;margin-bottom: 30px;}
	.list_shop .shop_name{font-size: 16px;overflow: hidden;margin-bottom:15px;}
	.list_shop .signal_4s{background: #F28F1B;color: #fff;font-size: 14px;padding: 2px 4px;}
	.list_shop b{font-weight: normal;}
	.list_shop .sale_price b{font-size: 18px;}
    .list_shop li p img{ margin-left: -10px;vertical-align: middle;}
    .btn_consult span{padding: 0px 20px;background: #F39220;color: #fff;text-align: center;margin-right: 20px;display: inline-block;margin-top: 10px;cursor: pointer;font-size: 16px;}
    .btn_consult span img{vertical-align: middle;margin-right: 5px;}
    .moreShop{text-align: center;font-size: 16px;display: none;margin-top: 20px;}
    .moreShop img{width: 30px;vertical-align: middle;}
	</style>
	<body>
		<div class="border">
			<div class="header">{include file="public/header"}</div>
		</div>
		<div class="breadnav">你的位置:<a href="">新车</a>>><a href=""> {$newcar_info.city}</a> </div>
		<div class="full_wid">		
			<div class="wrap">
				<div class="oh new_details">
					<div class="detail_pic">
						<span id="prev" class="btn prev"></span>
						<span id="next" class="btn next"></span>
						<span id="prevTop" class="btn prev"></span>
						<span id="nextTop" class="btn next"></span>
						<div id="picBox" class="picBox">
							<ul class="cf">
								{volist name="newcar_info['img_512']" id="vol" }
								<li> <a href="javascript:;"><img src="{$vol}" alt=""></a></li>
                                {/volist}
							</ul>
						</div>
						<div id="listBox" class="listBox">
							<ul class="cf">
								{volist name="newcar_info['img_512']" id="vol" }
								<li class="on"><i class="arr2"></i><img src="{$vol}" alt=""></li>
								{/volist}
							</ul>
						</div>
						<div class="clear"></div>
					</div>	
		        	<div class="detail_desc new_details">
		        		<div class="detail_info">
		        			<h1>{$newcar_info.name}</h1>
		        			<div class=""><span class=" color6">厂商指导价：{$newcar_info.price}万 </span></div>
		        			<div class="call_shop">1到2成首付秒爆款 详情咨询商家：<b class="">{$telephone}</b></div>
		        		</div>
		        			<h2 class="project">分期方案</h2>
			               	<div class="percent">首付比例</div> <div class="first"><span class="new_active">10%首付</span><span>20%首付</span><span>30%首付</span></div>
				           	<div class="first_result">
				           		<div class="first_s">
				           			<ul class="">
					           			<li><div><p>首
					           				付</p><h2>{$newcar_info.pay10_s2}万</h2></div></li>
					           			<li><div><p>月供</p><h2>{$newcar_info.pay10_y2}元</h2></div></li>
					           			<li><div><p>期数</p><h2>{$newcar_info.pay10_n2}期</h2></div></li>
					           		</ul>
					           	
					           	</div>
					           	<div class="first_s">
					           		<ul class="">
					           			<li><div><p>首付</p><h2>{$newcar_info.pay20_s2}万</h2></div></li>
					           			<li><div><p>月供</p><h2>{$newcar_info.pay20_y2}元</h2></div></li>
					           			<li><div><p>期数1</p><h2>{$newcar_info.pay20_n2}期</h2></div></li>
					           		</ul>
					           	
					           	</div>
					           	<div class="first_s">
					           		<ul class="">
					           			<li><div><p>首付</p><h2>{$newcar_info.pay30_s2}万</h2></div></li>
					           			<li><div><p>月供</p><h2>{$newcar_info.pay30_y2}元</h2></div></li>
					           			<li><div><p>期数</p><h2>{$newcar_info.pay30_n2}期</h2></div></li>
					           		</ul>
					           		
					           	</div>
				           	</div>
				           	<div class="test">根据信用评估测一测你能<a href="">贷多少钱>></a></div>
		        		<div class="car_results">
		        			<div class="new_consult">
		        				<input type="text" placeholder="请输入手机号"/>
		        				<p class="sub_phone">询问低价</p>
		        			</div>
		        			<ul class="btn_box">
			        			<a href="{:url('user/collect_car')}?brand_id={$newcar_info.brand_id}&sys_id={$newcar_info.sys_id}&type=1&cartype_id={$newcar_info.cartype_id}&cheid={$newcar_info.id}&name={$newcar_info.name}&img_url={$newcar_info['img_512']['0']}&shoufu={$newcar_info.pay10_s2}&ygong={$newcar_info.pay10_y2}&price={$newcar_info.price}"> <li><img src="__STATIC__/img/collect.png" alt="" /><p>收藏</p></li></a>
			        			<li><img src="__STATIC__/img/PK.png" alt="" /><p>加入PK</p></li>
			        			<li><img src="__STATIC__/img/share.png" alt="" /><p>分享</p></li>
			        		</ul>
	        		</div>
	        	</div>
				</div>
	        	<div class="flex_center marbt30"><h2 class="tit_erjie">基本配置</h2></div>


	        	<ul class="detail_information">
	        		<li>
	        			<h3>基本配置</h3>

						{notempty name="carparam.info"}
	        			<div>
							<p>{$carparam.info['2']['name']}</p><span>{$carparam.info['2']['content']}</span>
							<p>{$carparam.info['3']['name']}</p><span>{$carparam.info['3']['content']}</span>
							<p>{$carparam.info['4']['name']}</p><span>{$carparam.info['4']['content']}</span>

	        			</div>
						{/notempty}
	        		</li>
	        		<li><h3>外观参数</h3>
						{notempty name="carparam.info"}
	        			<div>
							<p>{$carparam.car_body['0']['name']}</p><span>{$carparam.car_body['0']['content']}</span>
							<p>{$carparam.car_body['1']['name']}</p><span>{$carparam.car_body['1']['content']}</span>
							<p>{$carparam.car_body['2']['name']}</p><span>{$carparam.car_body['2']['content']}</span>

	        			</div>
						{/notempty}
	        		</li>
	        		<li><h3>发动机参数</h3>
						{notempty name="carparam.info"}
	        			<div>
							<p>{$carparam.base['0']['name']}</p><span>{$carparam.base['0']['content']}</span>
							<p>{$carparam.base['1']['name']}</p><span>{$carparam.base['1']['content']}</span>
							<p>{$carparam.base['2']['name']}</p><span>{$carparam.base['2']['content']}</span>
	        			</div>
						{/notempty}
	        		</li>
	        	</ul>
				{notempty name="carparam.info"}<p class="more_config">查看更多配置</p>{/notempty}

	        	<div class="flex_center marbt30"><h2 class="tit_erjie">车辆优势</h2></div>
	        	<ul class="cardec_img">
		    		<li>
					 	<div class="img_c"><img src="__STATIC__/img/cars1.png" alt="" /></div>
				        <div class="text_d">
				        	<div class="mar60">
				        		<h3>匠心品质 充满科技魅力的豪华B级车首选</h3>
				        		<p>引领潮流的设计美学、优化升级的高效动力、越级的豪华品质，以及全面领先的智能科技，为市场带来了一款充满科技魅力的豪华B级车</p>
				        	</div>
				        </div>
				    </li>
			       <li>
			        	<div class="text_d">
				        	<div class="mar60">
				        		<h3>匠心品质 充满科技魅力的豪华B级车首选</h3>
				        		<p>引领潮流的设计美学、优化升级的高效动力、越级的豪华品质，以及全面领先的智能科技，为市场带来了一款充满科技魅力的豪华B级车</p>
				        	</div>
			        	</div>
			        	<div class="img_c"><img src="__STATIC__/img/cars2.png" alt="" /></div>
			       </li>
			        <li>
			        	<div class="img_c"><img src="__STATIC__/img/cars2.png" alt="" /></div>
			       		<div class="text_d">
				        	<div class="mar60">
				        		<h3>匠心品质 充满科技魅力的豪华B级车首选</h3>
				        		<p>引领潮流的设计美学、优化升级的高效动力、越级的豪华品质，以及全面领先的智能科技，为市场带来了一款充满科技魅力的豪华B级车</p>
				        	</div>
			        	</div>
			        </li>
			       <li>       
				       <div class="text_d">
				        	<div class="mar60">
				        		<h3>匠心品质 充满科技魅力的豪华B级车首选</h3>
				        		<p>引领潮流的设计美学、优化升级的高效动力、越级的豪华品质，以及全面领先的智能科技，为市场带来了一款充满科技魅力的豪华B级车</p>
				        	</div>
			        	</div>
				        <div class="img_c"><img src="__STATIC__/img/cars3.png" alt="" /></div>
			       </li>
			       
		    	</ul>
				<div class="tit_er">
			        <div class="line_tit"></div>			        
			        <h2 class="color tit_con">授权经销商</h2>	       
			    </div>
			    <div class="shop_4s">
			    	<ul class="list_shop">
						{volist name="shop" id="vol"}
			    		<li>
			    			<div class="shop_name"><p class="fleft"><span class="signal_4s">4S店</span> {$vol.shop_name}</p><span class="fright">售郑州</span></div>
			    			<div class="oh"><span class="fleft">厂商指导价：<b class="colorff0">8.49万</b>起</span><span class="fright sale_price">促销价：<b class="colorff0">7.49万</b>起</span></div>
			    			<p><img src="__STATIC__/img/dianhua1.png" alt="" />{$vol.shop_phone}</p>
					    	<p><img src="__STATIC__/img/dingwei.png" alt="" />{$vol.shop_address}    <a href="" class="coloryel">[到这里]</a></p>
					    	<p class="color9">附加条件说明：店内上牌；店内上保险；需加装饰；店内置换；店内贷款；持本地牌照</p>
					    	<div class="btn_consult"><span><img src="__STATIC__/img/jisuan.png" alt="" />计算器</span><span><img src="__STATIC__/img/money.png" alt="" />问低价</span></div>
			    		</li>
			    		{/volist}
			    	</ul>
			    	<div class="moreShop">更多店铺<img src="__STATIC__/img/xialaz.png" alt="" /></div>
			    	
			    </div>
				
				
				<div class="tit_er">
			        <div class="line_tit"></div>			        
			        <h2 class="color tit_con">同系推荐</h2>	       
			    </div>
				<div class="car_list">
					<ul class="list">
						{volist name="sys_cars" id="vol"}
						<li class="items5">
							<a href="{$domain}/{$Think.session.cityurl}/detail/{$vol.id}" class="car_img flex_center"><img src="{$vol.img_url}" alt="" /></a>
							<a href="" class="car_desc">
								<h3>{$vol.name}</h3>
								<p><span class="car_price">新车含税<b>{$vol.can_price}</b>万</span><span class="car_sui">指导价{$vol.price}万</span></p>
								<!--<p><span>2015年8月10日上牌</span> <span class="padlt20">{$vol.img_url}4万公里</span> </p>-->
								<div class="che_ordered">立即预约</div>
							</a>
						</li>
						{/volist}
					</ul>
				</div>
				<div class="tit_er">
			        <div class="line_tit"></div>			        
			        <h2 class="color tit_con">同价位推荐</h2>	       
			    </div>
				<div class="car_list">
					<ul class="list">
						<li class="items5">
							<a href="" class="car_img flex_center"><img src="" alt="" /></a>
							<a href="" class="car_desc">
								<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
								<p><span class="car_price"><b>2066</b>万</span><span class="car_sui">新车含税13.86万</span></p>
								<p><span>2015年8月10日上牌</span> <span class="padlt20">4万公里</span> </p>
								<div class="che_ordered">立即预约</div>
							</a>
						</li>
					
					</ul>
				</div>
			</div>
		
    </div>
  <!--公共底部样式-->
    <!--<div class="footer"></div>-->
  <!--底部固定悬浮-->
    <div class="wrap_bt">
    	<div class="wrap oh flex_center">
    		<div class="car_descInfo">
    			<h4 class="hid">{$newcar_info.name} </h4>
    			<!--<p>2017-11 <b>|</b>5万公里<b>|</b>国5(国5) <b>|</b>郑州</p>-->
    		</div>
    		<div class="car_descPri">
    			<b>￥{$newcar_info.price}万 </b>
    		</div>
    		<div class="car_descOrder flex_center">
    			<input type="text" placeholder="请输入手机号"/>
    			<p class="lowerPrice">询问底价</span>
    		</div>
    	</div>	     
    </div>
  <!--点击轮播显示大图以及预订-->    
  <div class="photoList">
  		<div class="pc_slide">
			<div class="view">
				<div class="swiper-container">
					<a class="arrow-left" href="#"></a>
					<a class="arrow-right" href="#"></a>
					<div class="swiper-wrapper">
						{volist name="newcar_info['img_512']" id="vol" }
						<div class="swiper-slide">
							<a target="_blank"><img src="{$vol}" alt=""></a>
						</div>
						{/volist}
					</div>
				</div>
			</div>
			<div class="preview">
				<a class="arrow-left" href="#"></a>
				<a class="arrow-right" href="#"></a>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<!--<div class="swiper-slide">-->
							<!--<div class="silde_img"><img src="__STATIC__/img/s1.jpg" alt=""></div>-->
						<!--</div>-->
						{volist name="newcar_info['img_512']" id="vol" }
						<div class="swiper-slide">
							<div class="silde_img"><img src="{$vol}" alt=""></div>
						</div>
						{/volist}
						<!--<div class="swiper-slide slide6">-->
							<!--<div class="silde_img"><img src="__STATIC__/img/s6.jpg" alt=""></div>-->
						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
  		<div class="silde_info">
  			<h2>{$newcar_info.name}</h2>
  			<!--<p class="info_car">2016年-11月 | 1.6万公里 | 国4(国5) | 郑州</p>-->
  			<div class="tag flex_center"><span>准新车</span><span>店铺认证</span></div>
  			<div class="info_price"><b>￥{$newcar_info.can_price}万&nbsp;</b>指导价：{$newcar_info.price}万</div>
  			<div class="car_form">
  				<div class="ipt ipt_phone"><input type="text" placeholder="请输入手机号"/><span class="getcode">获取验证码</span></div>
  				<div class="ipt"><input type="text" placeholder="请输入短信验证码"/></div>
  				<div><p class="lowerPrice">询问底价</p></div>
  				
  			</div>
  			<div class="link_btn">
				<a href="javascript:;">联系商家</a>
				<a href="">分期购车</a>
			</div>
			<ul class="btn_box oh">
    			<li><img src="__STATIC__/img/collect.png" alt="" /><p>收藏</p></li>
    			<li><img src="__STATIC__/img/PK.png" alt="" /><p>加入PK</p></li>
    			<li><img src="__STATIC__/img/share.png" alt="" /><p>分享</p></li>
    		</ul>
    		<div class="del"><img src="__STATIC__/img/del1.png" alt="" height="16"/></div>
  		</div>
  </div>

  <!--更多车辆信息配置-->
  	<div class="carConfig">
  		<h2>汽车配置<div class="del"><img src="__STATIC__/img/del1.png" alt="" height="16"/></div></h2>
  		<h3>{$newcar_info.name}</h3>
  		<div class="configBox">
  			<ul class="config_tit1">
  				<li class="con1 active"><b></b><span>基本配置</span></li>
  				<li class="con2"><b></b><span>操控配置</span></li>
  				<li class="con3"><b></b><span>外部配置</span></li>
  				<li class="con4"><b></b><span>变速箱/底盘/车轮配置</span></li>
  				<li class="con5"><b></b><span>高科技配置</span></li>
  				<li class="con6"><b></b><span>灯光配置</span></li>
  				<li class="con7"><b></b><span>发动机配置</span></li>
  				<li class="con8"><b></b><span>多媒体配置</span></li>
  				<li class="con9"><b></b><span>安全配资</span></li>
  				<li class="con10"><b></b><span>车身配置</span></li>
  			</ul>
			{notempty name="carparam.info"}
  			<div class="configCont">
  				<div class="config_f con1">
  					<div class="config_tit2"><b></b><span>基本配置</span></div>
  					<ul class="">

							{volist name="carparam['info']" id="vol"}
						<li>
							<p>{$vol.name}</p>
							<span>{$vol.content}</span>
						</li>
						{/volist}
  					</ul>
  				</div>
  				<div class="config_f con2">
  					<div class="config_tit2"><b></b><span>操控配置</span></div>
  					<ul class="">
						{volist name="carparam['nbbase']" id="vol"}
						<li>
							<p>{$vol.name}</p>
							<span>{$vol.content}</span>
						</li>
						{/volist}
  					</ul>
  				</div>
  				<div class="config_f con3">
  					<div class="config_tit2"><b></b><span>外部配置</span></div>
  					<ul class="">
						{volist name="carparam['wbfdpzhi']" id="vol"}
						<li>
							<p>{$vol.name}</p>
							<span>{$vol.content}</span>
						</li>
						{/volist}
  					</ul>
  				</div>
  				<div class="config_f con4">
  					<div class="config_tit2"><b></b><span>变速箱/底盘/车轮配置</span></div>
  					<ul class="">
						{volist name="carparam['gearbox']" id="vol"}
						<li>
							<p>{$vol.name}</p>
							<span>{$vol.content}</span>
						</li>
						{/volist}
  					</ul>
  				</div>
  				<div class="config_f con5">
  					<div class="config_tit2"><b></b><span>高科技配置</span></div>
  					<ul class="">
						{volist name="carparam['fzcz']" id="vol"}
						<li>
							<p>{$vol.name}</p>
							<span>{$vol.content}</span>
						</li>
						{/volist}
  					</ul>
  				</div>
  				<div class="config_f con6">
  					<div class="config_tit2"><b></b><span>灯光配置</span></div>
  					<ul class="">
						{volist name="carparam['lightbase']" id="vol"}
						<li>
							<p>{$vol.name}</p>
							<span>{$vol.content}</span>
						</li>
						{/volist}
  					</ul>
  				</div>
  				<div class="config_f con7">
  					<div class="config_tit2"><b></b><span>发动机配置</span></div>
  					<ul class="">
						{volist name="carparam['base']" id="vol"}
						<li>
							<p>{$vol.name}</p>
							<span>{$vol.content}</span>
						</li>
						{/volist}
  					</ul>
  				</div>
  				<div class="config_f con8">
  					<div class="config_tit2"><b></b><span>多媒体配置</span></div>
  					<ul class="">
						{volist name="carparam['dmtbase']" id="vol"}
						<li>
							<p>{$vol.name}</p>
							<span>{$vol.content}</span>
						</li>
						{/volist}
  					</ul>
  				</div>
  				<div class="config_f con9">
  					<div class="config_tit2"><b></b><span>安全配置</span></div>
  					<ul class="">
						{volist name="carparam['safe_base']" id="vol"}
						<li>
							<p>{$vol.name}</p>
							<span>{$vol.content}</span>
						</li>
						{/volist}
  					</ul>
  				</div>
  				<div class="config_f con10">
  					<div class="config_tit2"><b></b><span>车身配置</span></div>
  					<ul class="">
						{volist name="carparam['clzhid']" id="vol"}
						<li>
							<p>{$vol.name}</p>
							<span>{$vol.content}</span>
						</li>
						{/volist}
  					</ul>
  				</div>
  				
  			</div>
			{/notempty}
  		</div>
  	</div>
		<div class="footer">{include file="public/footer"}</div>
 <!--蒙版--> 	
  	<div class="mask"></div>
	</body>
	<script>		
		$(function(){
			
//			加载公共头部和底部
		    $(".header").load("templates/header.html");
//		    $(".footer").load("templates/footer.html");
//			点击更多配置查看详细配置
		    $(".more_config").click(function(){
		    	$(".mask").show();
		    	$(".carConfig").show();
		    	$("html,body").css("overflow-y","hidden");
//		    	楼层效果
		    	$(".configCont").scroll(function() {
	                var cTop=$(".configCont").offset().top;                
	               $(".configCont .config_f").each(function(){
	               		var fTop= $(this).offset().top;              	
	               		var fTops = $(this).height() + fTop;
	               		if(fTop<=cTop&&fTops>=cTop){
	               			var n=$(this).index()+1;
	               			$(".config_tit1 .con"+n).addClass("active").siblings().removeClass("active");
	               			
	               		}
	               })
            	})
	            $(".config_tit1 li").click(function(){
	            	var className = this.className;
					$(this).addClass("active").siblings().removeClass("active");
					var top = 0;
					$.each($('.configCont .' + className).prevAll(), function(i, n) {
						top += $(n).height();
						console.log(n)
					});
					$(".configCont").stop().animate({
						scrollTop: top
					}, 200);
	            })
		    })
		    $(".carConfig .del,.mask").click(function(){
		    	$(".mask").hide();
		    	$(".carConfig").hide();
		    	$("html,body").css("overflow-y","auto");
		    })
//		          点击图片查看大图信息以及预定
		    $("#picBox,.piclist").click(function(){
		    	$(".photoList").show();
		    	$(".mask").show();
		        $("html,body").css("overflow-y","hidden");
		    })
		    $(".photoList .del,.mask").click(function(){
		    	$(".photoList").hide();
		    	$(".mask").hide();
		    	$("html,body").css("overflow-y","auto");
		    })
//          查看不同分期方案
			$(".first span").each(function(i){
				$(".first span").eq(i).click(function(){
					$(this).addClass('new_active').siblings().removeClass('new_active')
				$(".first_result .first_s").eq(i).show().siblings().hide();
				})	
			})
//			查看更多4s店铺
			var len=$(".list_shop li").length;
			console.log(len)
			if(len>=2){
				$(".moreShop").show();
				$(".moreShop").click(function(){
					$(".list_shop").css("height","auto");
					$(".moreShop").hide();
				})
				
			}
		})
		</script>
		<script>
		$(function(){
	//			相册轮播大图对应小图 swiper
			var viewSwiper = new Swiper('.view .swiper-container', {
				onSlideChangeStart: function() {
					updateNavPosition();
				}
			})
			$('.view .arrow-left,.preview .arrow-left').on('click', function(e) {
				e.preventDefault();
				if(viewSwiper.activeIndex == 0) {
					viewSwiper.swipeTo(viewSwiper.slides.length - 1, 1000);
					return;
				}
				viewSwiper.swipePrev();
			})
			$('.view .arrow-right,.preview .arrow-right').on('click', function(e) {
				e.preventDefault();
				if(viewSwiper.activeIndex == viewSwiper.slides.length - 1) {
					viewSwiper.swipeTo(0, 1000);
					return
				}
				viewSwiper.swipeNext();
			})
			var previewSwiper = new Swiper('.preview .swiper-container', {
				visibilityFullFit: true,
				slidesPerView: 'auto',
				onlyExternal: true,
				onSlideClick: function() {
					viewSwiper.swipeTo(previewSwiper.clickedSlideIndex);
				}
			})
			function updateNavPosition() {
				$('.preview .active-nav').removeClass('active-nav');
				var activeNav = $('.preview .swiper-slide').eq(viewSwiper.activeIndex).addClass('active-nav');
				if(!activeNav.hasClass('swiper-slide-visible')) {
					if(activeNav.index() > previewSwiper.activeIndex) {
						var thumbsPerNav = Math.floor(previewSwiper.width / activeNav.width()) - 1;
						previewSwiper.swipeTo(activeNav.index() - thumbsPerNav);
					} else {
						previewSwiper.swipeTo(activeNav.index());
					}
				}
			}
		})
		</script>
</html>
