<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/other.css" />
	<script src="js/jquery-1.11.0.min.js"></script>
	<script src="js/jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>		
	<style>

	</style>
	<body>		
		<div class="header"></div>
		<div class="full_wid">
			<div class="breadnav">您的位置：<a href="#">郑州二手交易市场</a>>><a href="#">二手车 >></a></div>
			<div class="wrap">
				<div class="list_left">
					<div class="list_screen_cont">
						<div class="list_brand  slide_up list_item gj_clear">
							<div class="list_title">品牌</div>
							<div class="screening-margin gj_clear">							
								<div class="list_car_brand list_detail_sel">
                                    <a href="#" class="item">奥迪</a>
                                    <a href="#" class="item">大众</a>
                                    <a href="#" class="item">奔驰</a>
                                    <a href="#" class="item">宝马</a>
                                </div>
								<span class="more">更多品牌<i><img src="img/down1.png" alt="" width="12"/></i></span>
							</div>
						</div>
						<div class="slide_down sel_box_more all_brandshow">
							<span class="more">收起<i><img src="img/down1.png" alt="" width="12"/></i></span>
							<div class="brand-more">			                 
			                       <dl class='zimu'>
							<dt>A</dt>
							<dd class='firstname'>
																	<a href="/zz/ALPINA/b4" title='郑州二手ALPINA'>ALPINA</a>
																	<a href="/zz/asidunmading/b3" title='郑州二手阿斯顿·马丁'>阿斯顿·马丁</a>
																	<a href="/zz/aerfaluomiou/b2" title='郑州二手阿尔法·罗密欧'>阿尔法·罗密欧</a>
																	<a href="/zz/aodi/b1" title='郑州二手奥迪'>奥迪</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>B</dt>
							<dd class='firstname'>
																	<a href="/zz/beiqihuansu/b26" title='郑州二手北汽幻速'>北汽幻速</a>
																	<a href="/zz/bujiadi/b6595" title='郑州二手布加迪'>布加迪</a>
																	<a href="/zz/beijing/b10076" title='郑州二手北京'>北京</a>
																	<a href="/zz/binli/b10077" title='郑州二手宾利'>宾利</a>
																	<a href="/zz/baoshijie/b10078" title='郑州二手保时捷'>保时捷</a>
																	<a href="/zz/babosi/b10079" title='郑州二手巴博斯'>巴博斯</a>
																	<a href="/zz/beiqiweiwang/b10080" title='郑州二手北汽威旺'>北汽威旺</a>
																	<a href="/zz/beiqizhizao/b10081" title='郑州二手北汽制造'>北汽制造</a>
																	<a href="/zz/beiqixinnengyuan/b10082" title='郑州二手北汽新能源'>北汽新能源</a>
																	<a href="/zz/baowo/b10083" title='郑州二手宝沃'>宝沃</a>
																	<a href="/zz/bisuqiche/b10084" title='郑州二手比速汽车'>比速汽车</a>
																	<a href="/zz/biaozhi/b13" title='郑州二手标致'>标致</a>
																	<a href="/zz/beiqishenbao/b12" title='郑州二手北汽绅宝'>北汽绅宝</a>
																	<a href="/zz/benteng/b11" title='郑州二手奔腾'>奔腾</a>
																	<a href="/zz/biyadi/b10" title='郑州二手比亚迪'>比亚迪</a>
																	<a href="/zz/baojun/b9" title='郑州二手宝骏'>宝骏</a>
																	<a href="/zz/baoma/b8" title='郑州二手宝马'>宝马</a>
																	<a href="/zz/benchi/b7" title='郑州二手奔驰'>奔驰</a>
																	<a href="/zz/bieke/b6" title='郑州二手别克'>别克</a>
																	<a href="/zz/bentian/b5" title='郑州二手本田'>本田</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>C</dt>
							<dd class='firstname'>
																	<a href="/zz/changcheng/b27" title='郑州二手长城'>长城</a>
																	<a href="/zz/changhe/b28" title='郑州二手昌河'>昌河</a>
																	<a href="/zz/changan/b10085" title='郑州二手长安'>长安</a>
																	<a href="/zz/changanoushang/b10086" title='郑州二手长安欧尚'>长安欧尚</a>
																	<a href="/zz/chenggongqiche/b10087" title='郑州二手成功汽车'>成功汽车</a>
																	<a href="/zz/changanqingxingche/b10088" title='郑州二手长安轻型车'>长安轻型车</a>
																	<a href="/zz/changankuayue/b10089" title='郑州二手长安跨越'>长安跨越</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>D</dt>
							<dd class='firstname'>
																	<a href="/zz/dazhong/b25" title='郑州二手大众'>大众</a>
																	<a href="/zz/dongfengfengxing/b29" title='郑州二手东风风行'>东风风行</a>
																	<a href="/zz/dongfengfengshen/b30" title='郑州二手东风风神'>东风风神</a>
																	<a href="/zz/dongfengqichen/b31" title='郑州二手东风启辰'>东风启辰</a>
																	<a href="/zz/dongfeng/b10090" title='郑州二手东风'>东风</a>
																	<a href="/zz/daoqi/b10091" title='郑州二手道奇'>道奇</a>
																	<a href="/zz/dongnan/b10092" title='郑州二手东南'>东南</a>
																	<a href="/zz/dafa/b10093" title='郑州二手大发'>大发</a>
																	<a href="/zz/dongfengxiaokang/b10094" title='郑州二手东风小康'>东风小康</a>
																	<a href="/zz/DS/b10095" title='郑州二手DS'>DS</a>
																	<a href="/zz/dongfengfengdu/b10096" title='郑州二手东风风度'>东风风度</a>
																	<a href="/zz/dongfengfengguang/b10097" title='郑州二手东风风光'>东风风光</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>F</dt>
							<dd class='firstname'>
																	<a href="/zz/fengtian/b32" title='郑州二手丰田'>丰田</a>
																	<a href="/zz/fute/b33" title='郑州二手福特'>福特</a>
																	<a href="/zz/feiyate/b34" title='郑州二手菲亚特'>菲亚特</a>
																	<a href="/zz/futian/b35" title='郑州二手福田'>福田</a>
																	<a href="/zz/falali/b10098" title='郑州二手法拉利'>法拉利</a>
																	<a href="/zz/fudi/b10099" title='郑州二手福迪'>福迪</a>
																	<a href="/zz/fuqiqiteng/b10100" title='郑州二手福汽启腾'>福汽启腾</a>
																	<a href="/zz/futianchengyongche/b10101" title='郑州二手福田乘用车'>福田乘用车</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>G</dt>
							<dd class='firstname'>
																	<a href="/zz/guangqijiao/b36" title='郑州二手广汽吉奥'>广汽吉奥</a>
																	<a href="/zz/GMC/b37" title='郑州二手GMC'>GMC</a>
																	<a href="/zz/guangqichuan/b38" title='郑州二手广汽传祺'>广汽传祺</a>
																	<a href="/zz/guanggang/b10102" title='郑州二手光冈'>光冈</a>
																	<a href="/zz/guanzhi/b10103" title='郑州二手观致'>观致</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>H</dt>
							<dd class='firstname'>
																	<a href="/zz/hafei/b39" title='郑州二手哈飞'>哈飞</a>
																	<a href="/zz/haima/b40" title='郑州二手海马'>海马</a>
																	<a href="/zz/hongqi/b41" title='郑州二手红旗'>红旗</a>
																	<a href="/zz/huatai/b42" title='郑州二手华泰'>华泰</a>
																	<a href="/zz/hafu/b43" title='郑州二手哈弗'>哈弗</a>
																	<a href="/zz/hanma/b10104" title='郑州二手悍马'>悍马</a>
																	<a href="/zz/huapu/b10105" title='郑州二手华普'>华普</a>
																	<a href="/zz/huanghai/b10106" title='郑州二手黄海'>黄海</a>
																	<a href="/zz/haige/b10107" title='郑州二手海格'>海格</a>
																	<a href="/zz/hua/b10108" title='郑州二手华骐'>华骐</a>
																	<a href="/zz/huataixinnengyuan/b10109" title='郑州二手华泰新能源'>华泰新能源</a>
																	<a href="/zz/hanteng/b10110" title='郑州二手汉腾'>汉腾</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>J</dt>
							<dd class='firstname'>
																	<a href="/zz/Jeep/b44" title='郑州二手Jeep'>Jeep</a>
																	<a href="/zz/jili/b45" title='郑州二手吉利'>吉利</a>
																	<a href="/zz/jianghuai/b46" title='郑州二手江淮'>江淮</a>
																	<a href="/zz/jiangling/b47" title='郑州二手江铃'>江铃</a>
																	<a href="/zz/jinbei/b48" title='郑州二手金杯'>金杯</a>
																	<a href="/zz/jiebao/b49" title='郑州二手捷豹'>捷豹</a>
																	<a href="/zz/jiulong/b10111" title='郑州二手九龙'>九龙</a>
																	<a href="/zz/jinlong/b10112" title='郑州二手金龙'>金龙</a>
																	<a href="/zz/junma/b26538" title='郑州二手君马汽车'>君马汽车</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>K</dt>
							<dd class='firstname'>
																	<a href="/zz/kaidilake/b50" title='郑州二手凯迪拉克'>凯迪拉克</a>
																	<a href="/zz/kairui/b51" title='郑州二手开瑞'>开瑞</a>
																	<a href="/zz/kawei/b52" title='郑州二手卡威'>卡威</a>
																	<a href="/zz/kelaisile/b10113" title='郑州二手克莱斯勒'>克莱斯勒</a>
																	<a href="/zz/KTM/b10114" title='郑州二手KTM'>KTM</a>
																	<a href="/zz/kenisaike/b10115" title='郑州二手科尼塞克'>科尼塞克</a>
																	<a href="/zz/kasheng/b10116" title='郑州二手卡升'>卡升</a>
																	<a href="/zz/kangdiquanqiuying/b10117" title='郑州二手康迪全球鹰'>康迪全球鹰</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>L</dt>
							<dd class='firstname'>
																	<a href="/zz/lingmu/b53" title='郑州二手铃木'>铃木</a>
																	<a href="/zz/lufeng/b54" title='郑州二手陆风'>陆风</a>
																	<a href="/zz/lifan/b55" title='郑州二手力帆'>力帆</a>
																	<a href="/zz/leinuo/b10118" title='郑州二手雷诺'>雷诺</a>
																	<a href="/zz/lanbojini/b10119" title='郑州二手兰博基尼'>兰博基尼</a>
																	<a href="/zz/luhu/b10120" title='郑州二手路虎'>路虎</a>
																	<a href="/zz/linken/b10121" title='郑州二手林肯'>林肯</a>
																	<a href="/zz/lutesi/b10122" title='郑州二手路特斯'>路特斯</a>
																	<a href="/zz/leikesasi/b10123" title='郑州二手雷克萨斯'>雷克萨斯</a>
																	<a href="/zz/laosilaisi/b10124" title='郑州二手劳斯莱斯'>劳斯莱斯</a>
																	<a href="/zz/liebao/b10125" title='郑州二手猎豹'>猎豹</a>
																	<a href="/zz/lianhua/b10126" title='郑州二手莲花汽车'>莲花汽车</a>
																	<a href="/zz/linian/b10127" title='郑州二手理念'>理念</a>
																	<a href="/zz/ludifangzhou/b10128" title='郑州二手陆地方舟'>陆地方舟</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>M</dt>
							<dd class='firstname'>
																	<a href="/zz/mazida/b56" title='郑州二手马自达'>马自达</a>
																	<a href="/zz/MG/b57" title='郑州二手MG'>MG</a>
																	<a href="/zz/maibahe/b10129" title='郑州二手迈巴赫'>迈巴赫</a>
																	<a href="/zz/MINI/b10130" title='郑州二手MINI'>MINI</a>
																	<a href="/zz/mashaladi/b10131" title='郑州二手玛莎拉蒂'>玛莎拉蒂</a>
																	<a href="/zz/maikailun/b10132" title='郑州二手迈凯伦'>迈凯伦</a>
																	<a href="/zz/mogen/b10133" title='郑州二手摩根'>摩根</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>N</dt>
							<dd class='firstname'>
																	<a href="/zz/nazhijie/b58" title='郑州二手纳智捷'>纳智捷</a>
																	<a href="/zz/nanjingjinlong/b10134" title='郑州二手南京金龙'>南京金龙</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>O</dt>
							<dd class='firstname'>
																	<a href="/zz/ge/b59" title='郑州二手讴歌'>讴歌</a>
																	<a href="/zz/oubao/b60" title='郑州二手欧宝'>欧宝</a>
																	<a href="/zz/oulang/b61" title='郑州二手欧朗'>欧朗</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>P</dt>
							<dd class='firstname'>
																	<a href="/zz/pajiani/b10135" title='郑州二手帕加尼'>帕加尼</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>Q</dt>
							<dd class='firstname'>
																	<a href="/zz/qiya/b62" title='郑州二手起亚'>起亚</a>
																	<a href="/zz/qirui/b63" title='郑州二手奇瑞'>奇瑞</a>
																	<a href="/zz/qichen/b10136" title='郑州二手启辰'>启辰</a>
																	<a href="/zz/qiaozhibadun/b27279" title='郑州二手乔治·巴顿'>乔治·巴顿</a>
																	<a href="/zz/qinglingqiche/b27286" title='郑州二手庆铃汽车'>庆铃汽车</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>R</dt>
							<dd class='firstname'>
																	<a href="/zz/richan/b64" title='郑州二手日产'>日产</a>
																	<a href="/zz/rongwei/b65" title='郑州二手荣威'>荣威</a>
																	<a href="/zz/rui/b10137" title='郑州二手瑞麒'>瑞麒</a>
																	<a href="/zz/ruhu/b10138" title='郑州二手如虎'>如虎</a>
																	<a href="/zz/ruichixinnengyuan/b10139" title='郑州二手瑞驰新能源'>瑞驰新能源</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>S</dt>
							<dd class='firstname'>
																	<a href="/zz/sikeda/b66" title='郑州二手斯柯达'>斯柯达</a>
																	<a href="/zz/sanling/b67" title='郑州二手三菱'>三菱</a>
																	<a href="/zz/shanqi/b68" title='郑州二手陕汽'>陕汽</a>
																	<a href="/zz/Smart/b10140" title='郑州二手Smart'>Smart</a>
																	<a href="/zz/sibalu/b10141" title='郑州二手斯巴鲁'>斯巴鲁</a>
																	<a href="/zz/sabo/b10142" title='郑州二手萨博'>萨博</a>
																	<a href="/zz/shijue/b10143" title='郑州二手世爵'>世爵</a>
																	<a href="/zz/shuanglong/b10144" title='郑州二手双龙'>双龙</a>
																	<a href="/zz/shangqidatong/b10145" title='郑州二手上汽大通'>上汽大通</a>
																	<a href="/zz/siming/b10146" title='郑州二手思铭'>思铭</a>
																	<a href="/zz/sai/b10147" title='郑州二手赛麟'>赛麟</a>
																	<a href="/zz/sidataike/b10148" title='郑州二手斯达泰克'>斯达泰克</a>
																	<a href="/zz/swm/b27310" title='郑州二手SWM斯威汽车'>SWM斯威汽车</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>T</dt>
							<dd class='firstname'>
																	<a href="/zz/tengshi/b69" title='郑州二手腾势'>腾势</a>
																	<a href="/zz/tesila/b10149" title='郑州二手特斯拉'>特斯拉</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>W</dt>
							<dd class='firstname'>
																	<a href="/zz/woerwo/b70" title='郑州二手沃尔沃'>沃尔沃</a>
																	<a href="/zz/wuling/b71" title='郑州二手五菱'>五菱</a>
																	<a href="/zz/wushiling/b72" title='郑州二手五十铃'>五十铃</a>
																	<a href="/zz/weiziman/b10150" title='郑州二手威兹曼'>威兹曼</a>
																	<a href="/zz/wei/b10151" title='郑州二手威麟'>威麟</a>
																	<a href="/zz/weichaiyingzhi/b10152" title='郑州二手潍柴英致'>潍柴英致</a>
																	<a href="/zz/wey/b27304" title='郑州二手WEY'>WEY</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>X</dt>
							<dd class='firstname'>
																	<a href="/zz/xuetielong/b73" title='郑州二手雪铁龙'>雪铁龙</a>
																	<a href="/zz/xiandai/b74" title='郑州二手现代'>现代</a>
																	<a href="/zz/xuefolan/b75" title='郑州二手雪佛兰'>雪佛兰</a>
																	<a href="/zz/xiyate/b10153" title='郑州二手西雅特'>西雅特</a>
																	<a href="/zz/xinkai/b10154" title='郑州二手新凯'>新凯</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>Y</dt>
							<dd class='firstname'>
																	<a href="/zz/yiweike/b76" title='郑州二手依维柯'>依维柯</a>
																	<a href="/zz/yiqi/b77" title='郑州二手一汽'>一汽</a>
																	<a href="/zz/yongyuan/b78" title='郑州二手永源'>永源</a>
																	<a href="/zz/yingfeinidi/b79" title='郑州二手英菲尼迪'>英菲尼迪</a>
																	<a href="/zz/yemaqiche/b10155" title='郑州二手野马汽车'>野马汽车</a>
																	<a href="/zz/yusheng/b10156" title='郑州二手驭胜'>驭胜</a>
																	<a href="/zz/yutongkeche/b10157" title='郑州二手宇通客车'>宇通客车</a>
																	<a href="/zz/yujie/b10158" title='郑州二手御捷'>御捷</a>
																	<a href="/zz/yundu/b10159" title='郑州二手云度'>云度</a>
															</dd>
							</dl><dl class='zimu'>
							<dt>Z</dt>
							<dd class='firstname'>
																	<a href="/zz/zhinuo/b6599" title='郑州二手之诺'>之诺</a>
																	<a href="/zz/zhongxing/b80" title='郑州二手中兴'>中兴</a>
																	<a href="/zz/zhonghua/b81" title='郑州二手中华'>中华</a>
																	<a href="/zz/zhongtai/b82" title='郑州二手众泰'>众泰</a>
																	<a href="/zz/zhidou/b6598" title='郑州二手知豆'>知豆</a>
															</dd>
							</dl> 
			                    </volist>
			
			                </div>
						</div>
						<div class="list_series slide_up list_item gj_clear">
							<div class="list_title">车系</div>
							<div class="screening-margin">							
								<div class=" list_detail_sel"><a href="">大众</a><a href="">大众</a><a href="">大众</a><a href="">大众</a><a href="">大众</a><a href="">大众</a><a href="">大众</a></div>
							    <span class="more">更多<i><img src="img/down1.png" alt="" width="12"/></i></span>
							</div>
						</div>
						<div class="slide_down all_series sel_box_more">
							<span class="more">收起<i><img src="img/down1.png" alt="" width="12"/></i></span>
							<div class="series_box">
								<dl>
									<dt>微型车</dt>
									<dd><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a></dd>
								</dl>
								<dl>
									<dt>小型车</dt>
									<dd><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a></dd>
								</dl>
								<dl>
									<dt>紧凑型</dt>
									<dd><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a>
										<a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a>
										<a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a>
									</dd>
								</dl>
								
							</div>
						</div>
						<div class="list_price list_item gj_clear">
							<div class="list_title">价格</div>
							<div class="screening-margin gj_clear">							
								<div class="list_detail_sel">
									<a href="">3万以下</a><a href="">3-5万</a><a href="">3万以下</a><a href="">3-5万</a><a href="">3万以下</a><a href="">3-5万</a>
								</div>
								<div class="price_handle">
									<div class="box"><input type="text" />万</div><em>-</em><div class="box"><input type="text" />万</div><a href="javascript:;" class="sure">确定</a>
								</div>
							</div>
							
						</div>
						<div class="list_jibie list_item gj_clear">
							<div class="list_title">级别</div>
							<div class="screening-margin gj_clear">							
								<div class="list_detail_sel"><a href="" class="active">大众</a><a href="">大众</a><a href="">大众</a><a href="">大众</a><a href="">大众</a><a href="">大众</a><a href="">大众</a></div>
								<!--<span class="more">多选<i>+</i></span>-->
							</div>
						</div>
						<div class="list_other list_item gj_clear">
							<div class="list_title">其他</div>
							<div class="screening-margin gj_clear">							
								<div class=" list_detail_sel">
									 <ul class="select-box searchCond" style="background: none">
						
							
							          <li>
							            <div data-toggle="select" class="select-menu" id="select4">
							              <div class="menu-selected" >排量</div>
							              <div class="menu menu6" style="display: none;" id="aselect4">
							                <dd> <a rel="nofollow" href="#" data-for="hidden_j" data-valueid="0" class="preventdefault" title="不限二手车">不限</a> </dd>
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_j" data-valueid="0-1" class="preventdefault" title="1.0L以下二手车">1.0L以下</a> </dd>-->      
							              </div>
							            </div>
							          </li>
							          <li>
							            <div data-toggle="select" class="select-menu" id="select7">
							              <div class="menu-selected">变速箱</div>
							              <div class="menu menu8" style="display: none;" id="aselect7">
							                <dd> <a rel="nofollow" href="javascript:;" data-for="hidden_g" data-valueid="0" class="preventdefault" title="不限档二手车">不限</a> </dd>
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_g" data-valueid="1" class="preventdefault" title="自动档二手车">自动</a> </dd>-->
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_g" data-valueid="2" class="preventdefault" title="手动档二手车">手动</a> </dd>-->
							              </div>
							            </div>
							          </li>
							          <li>
							            <div data-toggle="select" name="r" class="select-menu" id="select5">
							              <div class="menu-selected">排放标准</div>
							              <dl class="menu menu4" style="display: none;" id="aselect5">
							                <dd> <a rel="nofollow" href="#" data-for="hidden_h" data-valueid="0" class="preventdefault" title="不限二手车">不限</a> </dd>
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_h" data-valueid="3-" class="preventdefault" title="国三以上二手车">国三以上</a> </dd>-->
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_h" data-valueid="4-" class="preventdefault" title="国四以上二手车">国四以上</a> </dd>-->
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_h" data-valueid="5" class="preventdefault" title="国五二手车">国五</a> </dd>-->
							              </dl>
							            </div>
							          </li>
							          <li>
							            <div data-toggle="select" class="select-menu" id="select8">
							              <div class="menu-selected">驱动</div>
							              <div class="menu menu9" style="display: none;" id="aselect8">
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_q" data-valueid="0" class="preventdefault" title="不限二手车">前驱</a> </dd>-->
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_q" data-valueid="2" class="preventdefault" title="2座二手车">前驱</a> </dd>-->
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_q" data-valueid="4" class="preventdefault" title="4座二手车">前驱</a> </dd>-->
							              </div>
							            </div>
							          </li>
							          <li>
							            <div data-toggle="select" class="select-menu" id="select12">
							              <div class="menu-selected">车身</div>
							              <div class="menu menu12" style="display: none;" id="aselect12">
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_x" data-valueid="0" class="preventdefault" title="不限二手车">前驱</a> </dd>-->
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_x" data-valueid="2" class="preventdefault" title="2座二手车">前驱</a> </dd>-->
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_x" data-valueid="4" class="preventdefault" title="4座二手车">前驱</a> </dd>-->
							              </div>
							            </div>
							          </li>
							
							          <li>
							            <div data-toggle="select" class="select-menu" id="select6">
							              <div class="menu-selected">颜色</div>
							              <div class="menu menu7 radius menuCar07" style="display: none;" id="aselect6">
							                <dd> <a rel="nofollow" href="" data-for="hidden_c" data-valueid="0" class="preventdefault c0" title="不限二手车">不限</a> </dd>
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_c" data-valueid="1" class="preventdefault c1" title="黑色二手车">黑色</a> </dd>-->
							              </div>
							            </div>
							          </li>
							          <li>
							            <div data-toggle="select" class="select-menu" id="select10">
							              <div class="menu-selected menu-selected12">燃料</div>
							              <div class="menu menu12" style="display: none;" id="aselect10">
							                <dd> <a rel="nofollow" href="" data-for="hidden_d" data-valueid="0" class="preventdefault" title="不限二手车">不限</a> </dd>
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_d" data-valueid="1" class="preventdefault" title="汽油二手车">汽油</a> </dd>-->
							          
							              </div>
							            </div>
							          </li>
							        </ul>
								</div>
							</div>
                        </div>
                        <div class="list_jibie list_item gj_clear">
							<div class="list_title">已选择</div>
							<div class="screening-margin gj_clear">							
								<ul class="list_detail_sel car-selected">
									<li class="list"><span class="active2 car-model">本田</span><span class="close"><span class="cha">×</span></span></li>
                                </ul>
								<!--<span class="more">多选<i>+</i></span>-->
							</div>
						</div>
					</div>
					<!-- <div class="list_subNav">
						<ul>
							<li class="active"><a href="" class="">郑州二手车</a></li>
							<li><a href="">分期购车</a></li>
							<li><a href="">商家车</a></li>
							<li><a href="">个人车</a></li>
							<li><a href="">商家认证</a></li>
						</ul>
					</div> -->
					<div class="list_sort">
						<ul class="sort_sel">
							<li class="current"><a href="">综合排序</a></li>
							<li><a href="">最新发布</a></li>
							<li><a href="">价格最低</a></li>
						
						</ul>
						<ul class="check_item flex_center">
							<li class="checked"><img src="img/img_checked.png" alt="" width=""/>准新车</li>
							<li><img src="img/img_uncheck.png" alt="" />七日内上新</li>
							<li><img src="img/img_uncheck.png" alt="" />质保</li>
							
						</ul>
						<!--<span class="more">更多<i><img src="img/down1.png" alt="" /></i></span>-->
					</div>
					<div class="marbt30 carList_info">
						 <ul class="list">
							<li class="items5">
								<a href="" class="car_img flex_center"><img src="" alt="" /></a>
								<a href="" class="car_desc">
									<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
									<p><span class="car_price"><b>2066</b>万</span><span class="car_sui">新车含税13.86万</span></p>
									<p><span>2015年8月10日上牌</span> <span class="padlt20">4万公里</span> </p>
									<div class="che_ordered">立即预约</div>
								</a>
							</li>
							<li class="items5">
								<a href="" class="car_img flex_center"><img src="" alt="" /></a>
								<a href="" class="car_desc">
									<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
									<p><span class="car_price"><b>2066</b>万</span><span class="car_sui">新车含税13.86万</span></p>
									<p><span>2015年8月10日上牌</span> <span class="padlt20">4万公里</span> </p>
									<div class="che_ordered">立即预约</div>
								</a>
							</li>
							<li class="items5">
								<a href="" class="car_img flex_center"><img src="" alt="" /></a>
								<a href="" class="car_desc">
									<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
									<p><span class="car_price"><b>2066</b>万</span><span class="car_sui">新车含税13.86万</span></p>
									<p><span>2015年8月10日上牌</span> <span class="padlt20">4万公里</span> </p>
									<div class="che_ordered">立即预约</div>
								</a>
							</li>
							<li class="items5">
								<a href="" class="car_img flex_center"><img src="" alt="" /></a>
								<a href="" class="car_desc">
									<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
									<p><span class="car_price"><b>2066</b>万</span><span class="car_sui">新车含税13.86万</span></p>
									<p><span>2015年8月10日上牌</span> <span class="padlt20">4万公里</span> </p>
									<div class="che_ordered">立即预约</div>
								</a>
							</li>
						</ul>
					</div>
					
				</div>
				<div class="list_right">
					<div class="list_service">
						<h2 class="er_service">二手车服务</h2>
						<ul class="">
							<li>
								<img src="img/car111.png" alt="" />
								<p>车辆评估</p>
							</li>
							<li>
								<img src="img/car222.png" alt="" />
								<p>高价卖车</p>
							</li>
							<li>
								<img src="img/car333.png" alt="" />
								<p>免费置换</p>
							</li>
							<li>
								<img src="img/car444.png" alt="" />
								<p>帮买好车</p>
							</li>
						</ul>
					</div>
					<h2 class="youlike">猜你喜欢</h2>
					 <ul class="list ptp15">
						<li class="items5">
							<a href="" class="car_img flex_center"><img src="" alt="" /></a>
							<a href="" class="car_desc">
								<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
								<p><span class="car_price"><b>2066</b>万</span><span class="car_sui">新车含税13.86万</span></p>
								<p><span>2015年8月10日上牌</span> <span class="padlt20">4万公里</span> </p>
								<div class="che_ordered">立即预约</div>
							</a>
						</li>							
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script>		
		$(function () {
		
		    $(".header").load("templates/header.html");
            $(".footer").load("templates/footer.html");
            $('.check_item img').click(function () {
                if ($(this).attr('src') == 'img/img_checked.png') {
                    $(this).attr('src', 'img/img_uncheck.png')
                } else {
                    $(this).attr('src', 'img/img_checked.png')
                }

            })
            //已选车型
            $(".list_detail_sel").on("click",".item",function(){
                var carName = $(this).text() //获取当前的元素内容
                arr.push(carName)
                $(".car-selected").append(
                    "<li class='list'><span class='active2 car-model'>"+carName+"</span><span class='close'><span class='cha'>×</span></span></li>"
                );
            })
            //点击删除已选车型
            $(".car-selected ").on("click",".close",function(){
                $(this).parent().remove();
            })
            // 展开收起更多筛选
            $(".list_screen_cont").on("click", ".slide_up .more", function () {
                $(".slide_up").each(function () {
                    if ($(this).css('display') == 'none') {
                        $(this).slideDown(300);
                    }
                });
                $(".slide_down").each(function () {
                    if ($(this).css('display') == 'block') {
                        $(this).slideUp(300);
                    }
                });
                $(this).parents(".slide_up").slideUp(300);
                $(this).parents(".slide_up").next(".slide_down").slideDown(300);
            });
            $(".list_screen_cont").on("click", ".slide_down .more", function () {
                $(this).parents(".slide_down").slideUp(300)
                $(this).parents(".slide_down").prevAll(".slide_up").slideDown(300);
            });
            // 展开收起车系多选筛选
            $("#hotseriesmore").on("click", function () {
                $(".js-screening-down").each(function () {
                    if ($(this).css('display') == 'block') {
                        $(this).slideUp(300);
                    }
                });
                $(this).parents(".js-screening-up").slideUp(300)
                $(".js-screening-multi").slideDown(300);
            });


            $(".slide_down").mouseout(function (ev) {
                var box = document.getElementById($(this).attr("id"));
                var ev = ev || window.event;
                if (!isMouseLeaveOrEnter(ev, box)) {
                    return false;
                }
                $(this).slideUp(300)
                $(this).prevAll(".slide_up").slideDown(300);
            });
            //防止鼠标移出移入子元素触发mouseout事件
            function isMouseLeaveOrEnter(e, handler) {
                var reltg = e.relatedTarget ? e.relatedTarget : e.type == 'mouseout' ? e.toElement : e.fromElement;
                while (reltg && reltg != handler) {
                    reltg = reltg.parentNode;
                }
                return (reltg != handler);
            }
            //	        其他筛选条件
            $(".select-menu").hover(function () {
                $("#a" + $(this).attr("id")).show();
            }, function () {
                $("#a" + $(this).attr("id")).hide();
            });
            var url = 'http://www.gj2car.com/';
            $.ajax({
                type: 'POST',
                url: url + 'Newpc/Index/filter',
                dataType: "json",
                success: function (data) {
                    //                console.log(data.body)
                    //                排放标准
                    $.each(data.body.hb, function (i) {
                        $("#aselect5").append("<dd> <a rel='nofollow' href='#' data-for='hidden_h' data-valueid='' class='preventdefault' title=''>" + data.body.hb[i].name + "</a> </dd>")
                    })
                    //车龄
                    $.each(data.body.ha, function (i) {
                        $("#aselect2").append("<dd> <a rel='nofollow' href='#' data-for='hidden_r' data-valueid='' class='preventdefault' title=''>" + data.body.ha[i].name + "</a> </dd>")
                    })
                    //里程
                    $.each(data.body.hm, function (i) {
                        $("#aselect3").append("<dd> <a rel='nofollow' href='#' data-for='hidden_k' data-valueid='' class='preventdefault' title=''>" + data.body.hm[i].name + " </a></dd>")
                    })
                    //                hbo车身
                    $.each(data.body.hbo, function (i) {
                        $("#aselect12").append("<dd> <a rel='nofollow' href='#' data-for='hidden_x' data-valueid='' class='preventdefault' title='不限二手车'>" + data.body.hbo[i].name + "</a> </dd>")
                    })
                    //                颜色 hc
                    $.each(data.body.hc, function (i) {
                        $("#aselect6").append(" <dd> <a rel='nofollow' href='#' data-for='hidden_c' data-valueid='' class='preventdefault c15' title=''>" + data.body.hc[i].name + "</a> </dd>")
                    })
                    //价格
                    $.each(data.body.p, function (i) {
                        $(".price").append("<li><a href='#'>" + data.body.p[i].name + "</a></li>")
                    })
                    //级别
                    $.each(data.body.s, function (i) {
                        $(".jibie").append(" <li><a href='#'>" + data.body.s[i].name + "</a></li>");
                    })
                    //排量
                    $.each(data.body.ho, function (i) {
                        $("#aselect4").append(" <dd> <a rel='nofollow' href='#' data-for='hidden_j' data-valueid='' class='preventdefault' title=''>" + data.body.ho[i].name + "</a> </dd>")
                    })
                    //驱动
                    $.each(data.body.hd, function (i) {
                        $("#aselect8").append(" <dd> <a rel='nofollow' href='#' data-for='hidden_q' data-valueid='' class='preventdefault' title=''>" + data.body.hd[i].name + "</a> </dd>")
                    })
                    //燃料
                    $.each(data.body.hf, function (i) {
                        $("#aselect10").append(" <dd> <a rel='nofollow' href='#' data-for='hidden_w' data-valueid='' class='preventdefault' title=''>" + data.body.hf[i].name + "</a> </dd>")
                    })
                    //                变速箱
                    $.each(data.body.hg, function (i) {
                        $("#aselect7").append(" <dd> <a rel='nofollow' href='#' data-for='hidden_g' data-valueid='' class='preventdefault' title=''>" + data.body.hg[i].name + "</a> </dd>")
                    })
                },

                error: function () {
                    console.log("没有获取到数据");
                }
            });


            

		})
</script>
</html>
