<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />
	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
	<style>

	</style>
	<body>	
		<div class="header">
			{include file="public/header"}
		</div>
		<div class="full_wid">			
			<div class="app_bga flex_center">
				<div class="wrap">
					<div class="app_bgacon">
						<img src="__STATIC__/img/wenzi2.png" alt="" class="" width="406"/>
						<img src="__STATIC__/img/wenzi1.png" alt="" class="" width="385"/>					
						<div class="fleft">
							<img src="__STATIC__/img/wenzi3.png" alt="" width=""/>
							<div>
								<img src="__STATIC__/img/dd.png" alt="" width="106"/>
								<img src="__STATIC__/img/dd1.png" alt="" width="28"/>
								<img src="__STATIC__/img/dd1.png" alt="" width="28"/>
								<img src="__STATIC__/img/dd1.png" alt="" width="28"/>
							</div>
						</div>
						<div class="fleft">
						 	<img src="__STATIC__/img/ewmdown.png" alt="" width="160"/>
						</div>
					</div>
				</div>				
			</div>	
			<div class="app_bgb flex_center">
				<div class="wrap flex_center">
					<img src="__STATIC__/img/app_b.png" alt="" width="412"/>
					<div class="fright app_bgbcon marlt86">
						<p class="app_fp1">优质车源  精心挑选保驾护航</p><br />
					    <p class="app_fp2">打造二手车放心品牌</p>
					</div>
					
				</div>			
			</div>
			<div class="app_bgc flex_center">
				<div class="wrap flex_center">				
					<div class="fleft app_bgccon ">
						<p class="app_fp1">登录注册 方便快捷</p><br />
					    <p class="app_fp2">打造全新的用户体验</p>
					</div>					
				   <img src="__STATIC__/img/app_c.png" alt=""  width="217" class="marlt270"/>
			    </div>
			</div>		    			   
		    <div class="app_bgd flex_center">
				<div class="wrap flex_center">
					<img src="__STATIC__/img/app_d.png" alt="" width="726" class="fleft"/>
					<div class="fright app_bgdcon marlt90">
						<p class="app_fp1">优化搜索 精准定位</p>
						<br />
					    <p class="app_fp2"> 操作简单方便流程清晰</p>
					</div>
				</div>				
			</div>
		</div>
		<div class="footer mtp40">	
			
		</div>
		<div class="fixedRight">
			<ul class="right_sider">
				<li><div class="gj_side_contnet iocn_s1"><p>pk</p></div>
					<div class="gj_sidecon_desc "></div>
				</li>
				<li><div class="gj_side_contnet iocn_s2"><p>收藏</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				<li><div class="gj_side_contnet iocn_s3"><p>浏览</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				<li><div class="gj_side_contnet iocn_s4"><p>个人</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				<li><div class="gj_side_contnet iocn_s5"><p>公众号</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				<li><div class="gj_side_contnet iocn_s6"><p>APP下载</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				<li><div class="gj_side_contnet iocn_s7"><p>客服</p></div>
				<div class="gj_sidecon_desc"></div></li>
				<li><div class="gj_side_contnet iocn_s8"><p>反馈</p></div>
				<div class="gj_sidecon_desc"></div></li>
				<li><div class="gj_side_contnet iocn_s9"><p>顶部</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				
			</ul>
		</div>
		<div class="footer">
			{include file="public/footer"}
		</div>
	</body>
	<script>		
		$(function(){
            $($(".nav li")[6]).addClass("active").siblings().removeClass("active");
		   // $(".header").load("templates/header.html");
           // $(".footer").load("templates/footer.html");
		})
</script>
</html>
