

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>
        【车型对比选车_汽车车型大全】-易车网</title>
    <meta name="description" content="车型对比:易车网车型对比频道为您提供各种车型对比参数,包括最新汽车报价、基本性能、车身结构、内外尺寸、汽车参数、便利功能、安全配置、等车型对比信息……" />

    
<link rel="stylesheet" type="text/css" href="//image.bitautoimg.com/uimg/css/00058/yiche_2016_cube_dubi_chanshu_style-20180821170809-1284.css" media="all" /> 
                  
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://img1.bitautoimg.com/uimg/2016/yiche/js/html5shiv.min.js"></script>
    <script src="http://img1.bitautoimg.com/uimg/2016/yiche/js/Respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" src="http://ip.bitauto.com/iplocation/setcookie.ashx"></script>
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/jscommon/juqery/jquery.min.js"></script>
    <script type="text/javascript">
        var tagIframe = null;
        var currentTagId = 22; 	//当前页的标签ID
    </script>

	<script type="text/javascript" src="http://image.bitautoimg.com/carchannel/jsnewv2/carpc.statistics.js?v=20180817"></script>
</head>
<body data-target=".left-nav" data-spy="scroll">
    <!--css-->

<link rel="stylesheet" type="text/css" href="//image.bitautoimg.com/uimg/css/00055/yiche_2016_cube_headfoot_part-20180108153738-1313.css" media="all" /> 
                  
<!--内容-->
<div class="bit_top990">
  <div class="bit990">
    <ul class="bitweb">
      <li class="bityiche" data-channelid="1.106.2479"><a target="_blank" href="http://www.bitauto.com/">易车</a></li>
      <li data-channelid="1.106.1038"><a target="_blank" href="http://rewrite.daikuan.com/?returnurl=www.taoche.com/?from=1686296">淘车</a></li>
      <li data-channelid="1.106.1041"><a target="_blank" href="http://mai.bitauto.com/?rfpa_tracker=1_2&externalrfpa_tracker=17_28_1_445_3" rel="nofollow">易车惠</a></li>
<li data-channelid="1.106.1485"><a target="_blank" href="http://rewrite.daikuan.com/?returnurl=fenqi.taoche.com/?from=731" rel="nofollow">分期购车</a></li>
<li data-channelid="1.106.1039"><a target="_blank" href="http://tiyan.yiche.com?rfpa_tracker=3_1_1" rel="nofollow">易车活动</a></li>
      <li class="bit_link" data-channelid="1.106.2480"><a href="http://app.yiche.com/" target="_blank" rel="nofollow">移动应用<em></em></a>
	<div style="display: none;" id="login_app" class="app_list">
			<a target="_blank" href="http://m.yiche.com/">手机易车网</a>
			<a target="_blank" href="http://app.yiche.com/yiche/" rel="nofollow">易车APP</a>
			
			<a target="_blank" href="http://app.yiche.com/qichebaojiadaquan/" rel="nofollow">汽车报价大全</a>
			<a target="_blank" href="http://app.yiche.com/taoche/" rel="nofollow">淘车</a>
<a target="_blank" href="http://app.yiche.com/chexingshouce/" rel="nofollow">来一车</a>

	</div>
	</li>
       <li class="local-market" data-channelid="1.106.2481">
          <a href="http://beijing.bitauto.com/cheshi/" id="local-market" target="_blank">本地车市</a>
       </li>
<li data-channelid="22.247.2681">
          <a href="http://chezhan.bitauto.com/chengdu-chezhan/" target="_blank">成都车展</a>
       </li>
    </ul>
    <!--网站导航 start-->
    <div class="bt_login_box990">
      <!--start-->
      <ul data-channelid="1.106.2482">
        <!--网站地图-->
       <li class="last bit_link" id="login_navhover">
            		<a target="_blank" href="http://www.bitauto.com/map/map.shtml" rel="nofollow">网站地图<em></em></a>
          <dl class="login_mapsite" id="login_mapsite" style="display:none;">
            <dt class="noborder">全部频道：</dt>
            <dd><a target="_blank" href="http://car.bitauto.com/">车型</a></dd>
            <dd><a target="_blank" href="http://photo.bitauto.com/">图片</a></dd>
            <dd><a target="_blank" href="http://v.bitauto.com/">视频</a></dd>
            <dd><a target="_blank" href="http://www.bitauto.com/huati/">话题</a></dd>
            <dd><a target="_blank" href="http://dealer.bitauto.com/">经销商</a></dd>
            <dd><a target="_blank" href="http://car.bitauto.com/tree_pingce/">评测</a></dd>
            <dd><a target="_blank" href="http://car.bitauto.com/tree_daogou/">导购</a></dd>
            <dd><a target="_blank" href="http://wenhua.yiche.com/">文化</a></dd>
            <dd><a target="_blank" href="http://price.bitauto.com/">报价</a></dd>
            <dd><a target="_blank" href="http://jiangjia.bitauto.com/">降价</a></dd>
            <dd><a target="_blank" href="http://ask.bitauto.com/">问答</a></dd>
            <dd><a target="_blank" href="http://koubei.bitauto.com/">口碑</a></dd>
            <dd><a target="_blank" href="http://car.bitauto.com/tree_baoyang/">养护</a></dd>
            <dd><a target="_blank" href="http://baa.bitauto.com/">社区</a></dd>
            <dd><a target="_blank" href="http://zhongce.yiche.com/">众测</a></dd>
<dd><a target="_blank" href="http://car.bitauto.com/elec/">新能源</a></dd>      
                      <dd><a target="_blank" href="http://luochejia.yiche.com/">裸车价</a></dd> 
  <dd class="noborder"><a target="_blank" href="http://rewrite.daikuan.com/?returnurl=www.taoche.com/all/?from=1686317
">二手车</a></dd>

<dt>购车服务：</dt>
            <dd><a target="_blank" href="http://mai.bitauto.com/?ref=sy2&rfpa_tracker=1_13">超值特惠</a></dd>
<dd><a target="_blank" href="http://temai.yiche.com/" rel="nofollow">商城特卖</a></dd>
<dd class="noborder"><a target="_blank" href="http://www.daikuan.com?from=yc16" rel="nofollow">贷款购车</a></dd>
<dd><a target="_blank" href="http://tiyan.yiche.com?rfpa_tracker=3_1_5" rel="nofollow">易车活动</a></dd>
<dt>汽车社区：</dt>
            <dd><a target="_blank" href="http://baa.bitauto.com/foruminterrelated/brandforumlist.html">车型社区</a></dd>
            <dd><a target="_blank" href="http://baa.bitauto.com/foruminterrelated/grouplist_3.html">地区社区</a></dd>
            <dd class="noborder"><a target="_blank" href="http://baa.bitauto.com/foruminterrelated/grouplist_2.html">主题社区</a></dd>
            <dd><a target="_blank" href="http://baa.bitauto.com/special/huodong/">网友活动</a></dd>
            <dd><a target="_blank" href="http://baa.bitauto.com/bao/">每周精选</a></dd>
            
            <dt>实用工具：</dt>
            <dd><a target="_blank" href="http://car.bitauto.com/chexingduibi/">车型对比</a></dd>
            <dd><a target="_blank" href="http://car.bitauto.com/tupianduibi/">图片对比</a></dd>
            <dd class="noborder"><a target="_blank" href="http://car.bitauto.com/gouchejisuanqi/">购车计算器</a></dd>
			
			<dd><a target="_blank" href="http://www.bitauto.com/zhuanti/daogou/gsqgl/">购车流程</a></dd>
            <dd><a target="_blank" href="http://car.bitauto.com/qichebaoxianjisuan/">车险计算</a></dd>
            <dd class="noborder"><a target="_blank" href="http://car.bitauto.com/qichedaikuanjisuanqi/">贷款计算器</a></dd>
			
            <dd><a target="_blank" href="http://i.yiche.com/u0/car/jz/">用车记账</a></dd>          <dd><a target="_blank" href="http://i.yiche.com/u0/car/weizhang/">违章查询</a></dd>
   <dd class="noborder"><a target="_blank" href="http://m.yiche.com/">手机易车</a></dd>
            <dt class="dtmore"><a target="_blank" href="http://www.bitauto.com/map/map.shtml">查看更多&gt;&gt;</a></dt>
          </dl>

        </li>     
      </ul>
      <!--end-->
      <!--baa start-->
      <ul id="divLoginDivID">
      </ul>
      <!--baa end-->

      <ul id="span_bt_cityinit"></ul>
    </div>
    <!--网站导航 end-->
    </div>
</div>
<script src="//jsinc.baa.bitautotech.com/c/c.js?s=Bitauto.Login.Version4&v=20180413" type="text/javascript" charset="utf-8"></script>      
    <script type="text/javascript">
       if(typeof(Bitauto)!="undefined")
         Bitauto.Login.init("divLoginDivID");
    </script>
    <ins id="div_4fe917c8-6ac2-46e4-a844-4bb387a1b639" type="ad_play" adplay_ip="" adplay_areaname=""
        adplay_cityname="" adplay_brandid="" adplay_brandname="" adplay_brandtype=""
        adplay_blockcode="4fe917c8-6ac2-46e4-a844-4bb387a1b639"></ins>
    <!--smenu start-->
    <header class="header-main summary-box">
        <div class="container section-layout top" id="topBox">
            <div class="col-xs-6 left-box">
                <div class="crumbs h-line">
                    <div class="crumbs-txt">
                        <span>您当前的位置：</span><a rel="nofollow" href="http://www.bitauto.com/" target="_blank">易车</a>
                        &gt; <a rel="nofollow" href="/" target="_blank">车型</a> &gt; <a href="/duibi/" target="_blank">综合对比</a> &gt; <strong>参数对比</strong>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 right-box">
                <form id="sug_form" name="sug_form" method="get" target="_blank" action="http://www.cheyisou.com/search">
    <div class="btn-form select-box">
        <input id="sug_txtkeyword" class="btn-from-control" type="text" class="select_t" name="wd" value="" placeholder="输入“@”试一试" autocomplete="off" maxlength="20" />
        <input type="button" id="sug_submit" value="搜索" class="btn btn-primary" />
        <div class="sele-box sele-2016">
            <div class="brand_bg" id="master-index" style="display: none;">
            </div>
            <div class="brand_bg  models_bg " id="serial-index" style="display: none;">
            </div>
            <div id="sug_container" style="display: none;">
            </div>
        </div>
        <input type="hidden" name="t" value="qiche" />
        <input type="hidden" name="h" value="0" id="sug_handler" />
        <input type="hidden" id="sugcsurl" name="sugcsurl" value="" />
    </div>
</form>
<!--app1g流量广告-->
<ul id="adv-app-1g" style="display:none;" data-channelid="51.10.2183">
<li data-index="{adItemIndex}" data-hyperlink="http://app.yiche.com/yiche/">
<a class="adv-app-1g">
<img class="s" src="//image.bitautoimg.com/bitauto/2018/01/05/70c4b22b-b96d-48a3-a5fc-9164d39e2960.png
" alt="" height="26" width="195" />
<img class="t" src="//img1.bitautoimg.com/bitauto/2018/01/05/92848b40-fea8-4bbe-b6b6-b94dd7011d46.png" alt="" height="90" width="90" />
</a>
</li></ul>

<script src="//image.bitautoimg.com/carchannel/jsnew/yicheSug.min.js?v=20180531" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
BitautoAutoComplete();
</script>
            </div>
        </div>
        <div id="navBox">
            <nav class="header-main-nav">
                <div class="container">
                    <div class="col-auto left secondary">
                        <ul id="calcTools" class="list list-justified">
                            <li><a href="/duibi/">综合对比</a></li>
                            <li class="active"><a href="/chexingduibi/">参数对比</a></li>
                            <li><a href="/tupianduibi/">图片对比</a></li>
                            
                                <li><a href="/koubeiduibi/">口碑对比</a></li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--smenu end-->
    <div class="bt_page">
        <div class="container config-section summary">
            <div class="config-section-main">
                <div class="config-box">
                    <div class="line_box_compare line_box_compare_peizhi y2015" id="main_box">
                        <!-- 浮动Left -->
                        <div id="leftfixed" style="display: none;">
                        </div>
                        <div class="td-tips">
                            <div class="ts-box">
                                以下数据仅供参考，不构成任何买卖协议，实际情况以店内销售车辆为准。如果发现信息有误，<a target="_blank" href="http://www.bitauto.com/feedback/">欢迎您及时指正！</a>
                            </div>
                        </div>
                        <div id="CarCompareContent">
                        </div>
                        
                        
                    </div>
                </div>
                <!-- 浮动Top -->
                <div class="floatLayer floatLayer_peizhi line_box_compare line_box_compare_peizhi y2015" id="topfixed" style="display: none;">
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-md" id="popup-box" style="display: none;">
        <div class="modal-header">
            <h4>参数纠错</h4>
            <span class="close"></span>
        </div>
        <div class="modal-content">
            <div class="form-group">
                <textarea id="correctError" class="input textarea input-block error"></textarea>
                <span class="help help-block error" style="display: none;">&nbsp;</span>
            </div>
            <div class="form-group foot-btn">
                <a class="btn btn-primary btn-md" href="javascript:;" name="btnCorrectError">提交</a>
                <a class="btn btn-default btn-md" href="javascript:;" id="btnErrorCancel">取消</a>
            </div>
        </div>
    </div>
    <div class="modal modal-md" id="popup-box-success" style="display: none;">
        <div class="modal-header">
            <h4>参数纠错</h4>
            <span class="close"></span>
        </div>
        <div class="modal-content">
            <div class="form-group">
                <div class="ico"></div>
                <div class="info">
                    <h3>提交成功</h3>
                    <p class="tip">您提交的纠错信息我们已经收集到，感谢您的纠错。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rightfixed" id="rightfixed" style="display: none; top: 224px; right: 0px;">
        <div class="rightfixed-tt">
            <span>推荐对比</span>
            <a href="javascript:;" id="right-close">隐藏</a>
        </div>
        <div class="rightfixed-list" id="rightfixed-list">
            <ul>
            </ul>
        </div>
    </div>
    <div class="rightfixed-bar" id="rightfixed-bar" style="display: none; top: 224px; right: 0px;position:absolute;">
        <span>推荐对比</span>
        <div class="compare-arrow"></div>
    </div>

    <script type="text/javascript">
		<!--adid:[id,id]-->
    //var adLevelJson = [{ "level": "中大型车", "serialId": "2109", "defCarId": "116181" }];
    //var specialADConfig={ "c114448": [110648,112888],"c114451":[110651,113913,115323],"c114449":[112890]};
        
        var allCarInfo=[];
		var carIndexJson = null;
		var carCompareJson = null;
    </script>
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/jsnewv2/draggable.js"></script>
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/jsnewv2/dropdownlistnew.min.js?v=20161201"></script>
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/jsnewv2/CarChannelBaikeJson.js?v=20161201"></script>
    <script type="text/javascript" src="//bglog.bitauto.com/bglogpostlog.js?v=20180613"></script>
       <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/jsnewV2/getareaprice.min.js?v=201801120"></script>
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/jsnewv2/carcomparelistv2.min.js?v=201803081443"></script>
    
    
    <script type="text/javascript">
        initPageForCompare();
      
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7b86db06beda666182190f07e1af98e3' type='text/javascript'%3E%3C/script%3E"));
    </script>

    
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/jsStat/CarCompareStat.js?20120905"></script>
    <script type="text/javascript">
        CarCompareStatistic.CarIDs = "";
        // 临时统计
        var movetimes = 0;
        $(document).mousemove(function (even) {
            movetimes++;
            if (movetimes > 100) {
                $(document).unbind("mousemove");
                mainCarCompareStatisticFunction();
            }
        });
    </script>
    <script type="text/javascript">
    var ChannelLOGCollector = {
        area: '201',
        mainbrand: '',
        brand: '',
        serial: '',
        car: '',
        product: ''
    };
    if (typeof (bit_locationInfo) != "undefined" && typeof (bit_locationInfo.cityId) != "undefined") {
        ChannelLOGCollector.area = bit_locationInfo.cityId;
    }
    if (typeof (CarCommonBSID) != "undefined") {
        ChannelLOGCollector.mainbrand = CarCommonBSID;
    }
    if (typeof (CarCommonCBID) != "undefined") {
        ChannelLOGCollector.brand = CarCommonCBID;
    }
    if (typeof (CarCommonCSID) != "undefined") {
        ChannelLOGCollector.serial = CarCommonCSID;
    }
    if (typeof (CarCommonCarID) != "undefined") {
        ChannelLOGCollector.car = CarCommonCarID;
    }
</script>
<script type="text/javascript" language="javascript">
    // 统计
    var XCWebLogCollector = { area: '201' };
    if (typeof (bit_locationInfo) != "undefined" && typeof (bit_locationInfo.cityId) != "undefined") {
        XCWebLogCollector.area = bit_locationInfo.cityId;
    }
    if (typeof (CarCommonBSID) != "undefined") {
        XCWebLogCollector.mainbrand = CarCommonBSID;
    }
    if (typeof (CarCommonCBID) != "undefined") {
        XCWebLogCollector.brand = CarCommonCBID;
    }
    if (typeof (CarCommonCSID) != "undefined") {
        XCWebLogCollector.serial = CarCommonCSID;
    }
    if (typeof (CarCommonCarID) != "undefined") {
        XCWebLogCollector.car = CarCommonCarID;
    }
</script>
<!-- cig start -->
<script type="text/javascript">
    (function () {
        var dc = document.createElement('script'); dc.type = 'text/javascript'; dc.async = true;
        dc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dcjs.cig.com.cn/dc.js?10';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(dc, s);
    })();
</script>
<!-- cig end -->
<div class="bt_pageBox">
    <!--footer start-->
    <!--内容-->
<div class="foot_box">
  		<div class="copright_p">
        	<div class="w990">
                <p>CopyRight &copy; 2000-2018 BitAuto,All Rights Reserved.&nbsp;&nbsp;版权所有&nbsp;&nbsp;北京易车信息科技有限公司</p>
                <p class="r">购车咨询：4000-168-168 &nbsp;&nbsp;(9:00 &ndash; 17:30) 法定假日除外</p>
            </div>
        </div>
  		<div class="link_a">
        	<div class="w990">
            	<ul class="about">
                    <li class="first"><a rel="nofollow" href="http://corp.bitauto.com/about/" target="_blank">关于易车</a></li>
                    <li><a rel="nofollow" href="http://corp.bitauto.com/business/" target="_blank">业务体系</a></li>
                    <li><a rel="nofollow" href="http://corp.bitauto.com/news/" target="_blank">易车动态</a></li>
                    <li><a rel="nofollow" href="http://corp.bitauto.com/job/" target="_blank">加入易车</a></li>
                    <li><a rel="nofollow" href="http://corp.bitauto.com/contact/" target="_blank">联系我们</a></li>
                    <li><a rel="nofollow" href="http://corp.bitauto.com/about/legal-notices.shtml" target="_blank">法律声明</a></li>
                    <li><a rel="nofollow" href="http://i.bitauto.com/authenservice/register/Licence.aspx" target="_blank">服务协议</a></li>
                    <li><a rel="nofollow" href="http://ir.bitauto.com/" target="_blank">Investor Relations</a></li>
                                      <li><a rel="nofollow" href="http://dealer.easypass.cn/" target="_blank">易湃会员</a></li>
<li><a rel="nofollow" href="http://www.bitauto.com/feedback/" target="_blank">意见反馈</a></li>

  <li  class="last"><a rel="nofollow" href="javascript:Bitauto_IM.ImForm_submit()">在线咨询</a></li>

                </ul>
            </div>
        </div>
  </div> 
<!--侧边栏-->
 <div id="bitautoSideBarContainer" class="navtool-fixed-right"  style="display:none">
        <div class="navtool-mini" id="miniButton">工具栏</div>
        <div class="navtool-ul" id="navtool-ul">
            <ul id="headerModulesContainer" class="upper-part">
            </ul>
            <ul id="footerModulesContainer" class="lower-part">
            </ul>
        </div>
        <div id="contentContainer" class="navtool-div-list">
        </div>
    </div>
    <script type="text/javascript">
       

        (function(global) {
            var extend = function(target, extendObj) {
                    for (var item in extendObj) {
                        if (extendObj.hasOwnProperty(item)) {
                            target[item] = extendObj[item];
                        }
                    }
                    return target;
                },
                sidebarConfig = extend({
                    activate: true
                }, global.SidebarConfig),
                scriptElm,
                loadScript = function(url, callback) {
                    var script = document.createElement("script");
                    script.type = "text/javascript";
                    if (script.readyState) { //IE
                        script.onreadystatechange = function() {
                            if (script.readyState == "loaded" ||
                                script.readyState == "complete") {
                                script.onreadystatechange = null;
                                (callback && callback());
                            }
                        };
                    } else { //Others
                        script.onload = function() {
                            (callback && callback());
                        };
                    }
                    script.src = url;
                    document.getElementsByTagName("head")[0].appendChild(script);
                };
             if (!global.SidebarConfig) {
    global.SidebarConfig = global.SidebarConfig || {};
}

if (!global.SidebarConfig.footerModules) {
    global.SidebarConfig.footerModules = [{name:'qa',url:'https://survey01.wjx.cn/jq/22134865.aspx?udsid=203193', layerCloseId:'' },'answer', 'location', 'feedback', 'top'];
}

if (!global.SidebarConfig.headerModules ) {
    global.SidebarConfig.headerModules = ['my', 'collectCar', 'viewedCar', 'coupon', 'toolkit'];
}

            if (sidebarConfig.activate) {
                loadScript('//jsinc.baa.bitautotech.com/c/c.js?s=ibt_quicklogin,Bitauto.iUtils,Bitauto.iMediator,Bitauto.Sidebar&v=1806142010');
            }
        })(window);
    </script> 
<script type="text/javascript" src="//image.bitautoimg.com/index/js/CitySelectModule.v2.js?v=1.2"></script>
<script type="text/javascript" src="//ip.bitauto.com/service/locate.ashx"></script>   
<script type="text/javascript">
    (function(){
        var marketEle = document.getElementById("local-market");
        var url = "http://{spell}.bitauto.com/cheshi/";
        var location;
        if (Bitauto.location.county!=null) {
           location = Bitauto.location.county;
        }
        else if (Bitauto.location.city !=null) {
            location = Bitauto.location.city;
        }
        if (location && marketEle) {
            marketEle.setAttribute("href", url.replace("{spell}", location.spell));
        }
    })();

</script>


<script type="text/javascript" src="//g.yccdn.com"></script>
<script type="text/javascript" src="//d2.yiche.com/js/senseNew.js"></script>
<script>
if(typeof( ChannelLOGCollector)=="undefined")
var ChannelLOGCollector=typeof( XCWebLogCollector)=="undefined"?null:XCWebLogCollector;
</script>
<script type="text/javascript" src="//bglog.bitauto.com/getbglog.js?v=20180620"></script><script type="text/javascript" src="//image.bitautoimg.com/index/js/gotoIM.js?v=1.2"></script>
    <!--footer end-->
</div>
<!--Common JS-->
<script type="text/javascript" src="http://img4.bitautoimg.com/uimg/car/js/tabs_20140512_4.js"></script>
<!--AD-->
<script src="http://image.bitautoimg.com/mergejs,s=bt/webtrends/dcs_tag_cars4.js"
        type="text/javascript"></script>
<script type="text/javascript">
    document.write('<scri' + 'pt type="text/javascript" src="http://gstat.bitauto.com/?r=' + Math.random() + '"></scr' + 'ipt>');
</script>
<!-- bitauto ADstat end -->
<!-- 艾瑞 -->
 <SCRIPT TYPE="text/javascript">
(function (G,D,s,c,p) {
c={
UA:"UA-bitauto-000001", 
NO_FLS:0,
WITH_REF:1,
API_URL:"//bitauto.irs01.com/irt?",
URL:'//img1.bitautoimg.com/stat/iwt-min20151127.js'
};
G._iwt?G._iwt.track(c,p):(G._iwtTQ=G._iwtTQ || []).push([c,p]),!G._iwtLoading && lo();
function lo(t) {
G._iwtLoading=1;s=D.createElement("script");s.src=c.URL;
t=D.getElementsByTagName("script");t=t[t.length-1];
t.parentNode.insertBefore(s,t);
}
})(this,document);
</SCRIPT>
    <div style="display: none;">
        
    </div>
</body>
</html>

