<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<link rel="icon" type="image/x-icon" href="favicon.png">
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />
	<link rel="stylesheet" href="__STATIC__/css/swiper.min.css" />
	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
	<script src="__STATIC__/js/jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/js/gjsilde.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/js/common.js" type="text/javascript" charset="utf-8"></script>
	<style>
		.tool_tip .iocn_s8-inner {
			width: 480px;
			height: 366px;
		}
		
		.tool_tip .iocn_s8-inner textarea {
			width: 383px;
			height: 125px;
			resize: none;
			margin-left: 49px;
			margin-bottom: 32px;
		}
		
		.tool_tip .iocn_s8-inner p {
			text-align: center;
			height: 14px;
			font-size: 14px;
			font-family: MicrosoftYaHei;
			font-weight: 400;
			color: rgba(104, 104, 104, 1);
		}
		
		.tool_tip .iocn_s8-inner p:nth-child(2) {
			text-align: left;
			margin-top: 13px;
			margin-bottom: 13px;
			padding-left: 40px;
		}
		
		.tool_tip .iocn_s8-inner ul {
			padding-left: 49px;
			margin-bottom: 30px;
		}
		
		.tool_tip .iocn_s8-inner ul li {
			color: rgba(104, 104, 104, 1);
			margin-left: 24px;
			width: 76px;
			height: 26px;
			line-height: 26px;
			border: solid 1px #cbcbcb;
			text-align: center;
		}
		
		.tool_tip .iocn_s8-inner button {
			width: 140px;
			height: 42px;
			background: #ff8a0f;
			color: white;
			/*	margin: 0 auto;*/
			margin-left: 169px;
			margin-bottom: 36px;
		}
		
		#eight {
			padding: 10px;
			position: absolute;
			top: -120px;
			right: 75px;
		}
		
		.p_r {
			position: relative;
		}
		
		.p_r .limit_num {
			position: absolute;
			bottom: 40px;
			right: 45px;
			color: #666;
		}
	</style>

	<body>
	<div class="header">
		{include file="public/header"}
	</div>

		<div class="header"></div>
		<div class="full_wid">
			<!--首页导航-->
			<div class="home_banner">
				<a class="arrow-left arrow" href="#"></a>
				<a class="arrow-right arrow" href="#"></a>
				<div class="swiper-container">
					<div class="swiper-wrapper">
                        {volist name="banner" id = "val"}
						<div class="swiper-slide">
							<a href=""><img src="{$val.img_url}"></a>
						</div>
						{/volist}
					</div>
				</div>
				<div class="pagination"></div>
			</div>
			<div class="wrap home_sel">
				<div class="home_left">
					<ul class="home_sel_tit">
						<li id="btn_new" class="active" onclick="btn_new()"> 二手车</li>
						<li id="btn_old" onclick="btn_old()">新车</li>
					</ul>
					<div id="new_panel" class="home_sel_con">
						<ul class="sel_newcar_brand oh ">
							{volist name="brand" id = "val"}
							<li>
								<a href="{$domain}/{$Think.session.cityurl}/lots_cars?brand_id={$val.id}"><img src="{$val.img_url}" alt="">
								<!--<a href="{$domain}/{$Think.session.cityurl}/lots_cars/{$val.id}"><img src="{$val.img_url}" alt="">-->
									<p>{$val.name}</p>
								</a>
							</li>
							{/volist}
						</ul>
						<ul class="sel_newcar_type oh mtp40">
							<li class="active">
								<a href=""> 分期购</a>
							</li>
							{volist name="price" id = "val"}
							<li class="active">
								<a href="{$domain}/{$Think.session.cityurl}/lots_cars?price_range={$val.id}">{$val.name} </a>
							</li>
							{/volist}
						</ul>
						<ul class="sel_newcar_type oh mtp40">
							<li class="active">
								<a href=""> 车型</a>
							</li>
							{volist name="subface" id = "val"}
							<li class="active">
								<a href="{$domain}/{$Think.session.cityurl}/lots_cars?car_age={$val.id}"> {$val.name}</a>
							</li>
							{/volist}
							<li class="active fright">
								<a href="" class="moretype"><img src="__STATIC__/img/quanbu.png" alt="" width="23">更多车型</a>
							</li>
						</ul>
					</div>
					<div id="old_panel" class="home_sel_con" style="display: none;">
						<ul class="sel_newcar_brand oh ">
							{volist name="brand" id = "val"}
							<li>
								<a href="{$domain}/{$Think.session.cityurl}/lots_cars?brand_id={$val.id}"><img src="{$val.img_url}" alt="">
									<p>{$val.name}</p>
								</a>
							</li>
							{/volist}
						</ul>
						<ul class="sel_newcar_type oh mtp40">
							<li class="active">
								<a href=""> 分期购</a>
							</li>
							{volist name="price" id = "val"}
							<li class="active">
								<a href="{$domain}/{$Think.session.cityurl}/lots_cars?price_range={$val.id}&page=1&sort=1">{$val.name} </a>
							</li>
							{/volist}
						</ul>
						<ul class="sel_newcar_type oh mtp40">
							<li class="active">
								<a href=""> 车型</a>
							</li>
							{volist name="subface" id = "val"}
							<li class="active">
								<a href="{$domain}/{$Think.session.cityurl}/lots_cars?car_age={$val.id}&page=1&sort=1"> {$val.name}</a>
							</li>
							{/volist}
							<li class="active fright">
								<a href="" class="moretype"><img src="__STATIC__/img/quanbu.png" alt="" width="23">更多车型</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="home_right">
					<h2>我要卖车></h2>
					<div class="sell_ping">
						<p>免费上门评估 最快一天卖出</p>
						<input type="text" placeholder="请输入手机号" />
						<div class="btn_sell_ping"><a href="{$domain}/{$Think.session.cityurl}/sell"> <span class="sell_car">我要卖车</span><span class="free_ping">免费评估</span></a></div>
					</div>
				</div>

			</div>
			<div class="wrap">
				<!--推荐新车-->
				<div class="home_recom_car">
					<div class="recom_new_tit oh marbt23">
						<h2>推荐新车</h2>
						<ul class="fleft">
							<li id="new_car_0" class="new_car_n active">分期购</li>
							<li id="new_car_1" class="new_car_n">一成购新</li>
							<li id="new_car_2" class="new_car_n">低月供</li>
							<li id="new_car_3" class="new_car_n">5万以下</li>
						</ul>
					</div>
					<div id="new_car_panel_0" class="recom_new_con">
						<ul class="recom_tit_img ">
							<li class="car_left">
								<a href=""><img src="__STATIC__/img/xinchel.png" alt="" titlt='' /></a>
							</li>
							{volist name="new_car" id="vl"}
							<li>
								<!--//<a href="{$Think.session.cityurl}/detail/{$vl.id}" class="flex_around" target="_blank">-->
								<a href="{$domain}/{$Think.session.cityurl}/detail/{$vl.id}" class="flex_around" target="_blank">
									<span class="car_img"><img class='lazy-load'  alt="" titlt='' src='{$vl.img_url}'/>
								</span>
									<h3 class="text_overflow">{$vl.name}</h3>
									<p class="valign ptp15">
										<span class="pay_first plt10">价格{$vl.price}</span>
										<span class="pay_first plt10">首付<b class="">{$vl.pay10_s2}</b>万</span>
										<span class="pay_month">月供{$vl.pay10_y2}元</span>
										<span class="pay_month">{$vl.pay10_n2}期</span>
									</p>
								</a>
							</li>
                            {/volist}
						</ul>
					</div>
					<div id="new_car_panel_1" class="recom_new_con" style="display: none;">
						<ul class="recom_tit_img ">
							<li class="car_left">
								<a href=""><img src="__STATIC__/img/xinchel.png" alt="" titlt='' /></a>
							</li>
							{volist name="new_one_car" id="vl"}
							<li>
								<a href="{$domain}/{$Think.session.cityurl}/detail/{$vl.id}" class="flex_around" target="_blank">
									<span class="car_img"><img class='lazy-load'  alt="" titlt='' src='{$vl.img_url}'/>
								</span>
									<h3 class="text_overflow">{$vl.name}</h3>
									<p class="valign ptp15">
										<span class="pay_first plt10">价格{$vl.price}</span>
										<span class="pay_first plt10">首付<b class="">{$vl.pay10_s2}</b>万</span>
										<span class="pay_month">月供{$vl.pay10_y2}元</span>
										<span class="pay_month">{$vl.pay10_n2}期</span>
									</p>
								</a>
							</li>
							{/volist}
						</ul>
					</div>
					<div id="new_car_panel_2" class="recom_new_con" style="display: none;">
						<ul class="recom_tit_img ">
							<li class="car_left">
								<a href=""><img src="__STATIC__/img/xinchel.png" alt="" titlt='' /></a>
							</li>
							{volist name="new_dyg" id="vl"}
							<li>
								<a href="{$domain}/{$Think.session.cityurl}/detail/{$vl.id}" class="flex_around" target="_blank">
									<span class="car_img"><img class='lazy-load'  alt="" title='' src='{$vl.img_url}'/>
								</span>
									<h3 class="text_overflow">{$vl.name}</h3>
									<p class="valign ptp15">
										<span class="pay_first plt10">价格{$vl.price}</span>
										<span class="pay_first plt10">首付<b class="">{$vl.pay10_s2}</b>万</span>
										<span class="pay_month">月供{$vl.pay10_y2}元</span>
										<span class="pay_month">{$vl.pay10_n2}期</span>
									</p>
								</a>
							</li>
							{/volist}
						</ul>
					</div>
					<div id="new_car_panel_3" class="recom_new_con" style="display: none;">
						<ul class="recom_tit_img ">
							<li class="car_left">
								<a href=""><img src="__STATIC__/img/xinchel.png" alt="" titlt='' /></a>
							</li>
							{volist name="new_five_car" id="vl"}
							<li>
								<a href="{$domain}/{$Think.session.cityurl}/detail/{$vl.id}" class="flex_around" target="_blank">
									<span class="car_img"><img class='lazy-load'  alt="" titlt='' src='{$vl.img_url}'/>
								</span>
									<h3 class="text_overflow">{$vl.name}</h3>
									<p class="valign ptp15">
										<span class="pay_first plt10">价格{$vl.price}</span>
										<span class="pay_first plt10">首付<b class="">{$vl.pay10_s2}</b>万</span>
										<span class="pay_month">月供{$vl.pay10_y2}元</span>
										<span class="pay_month">{$vl.pay10_n2}期</span>
									</p>
								</a>
							</li>
							{/volist}
						</ul>
					</div>
				</div>
				<!--推荐二手车-->
				<div class="home_recom_car">
					<div class="recom_new_tit oh marbt23">
						<h2>推荐二手车</h2>
						<ul class="fleft">
							<li id="old_car_0" class="old_car_n active">最近发布</li>
							<li id="old_car_1" class="old_car_n">价格最低</li>
							<li id="old_car_2" class="old_car_n">车龄最短</li>
							<li id="old_car_3" class="old_car_n">里程最短</li>
						</ul>
					</div>
					<div id="old_car_panel_0" class="recom_new_con">
						<ul class="recom_tit_img">
							<li class="car_left">
								<a href=""><img src="__STATIC__/img/group1.png" alt="" titlt='' /></a>
							</li>
							{volist name="er_car" id="val"}
							<li>
								<a href="{$domain}/{$Think.session.cityurl}/details/{$val.pu_id}" class="flex_around">
									<span class="car_img"><img class='lazy-load' alt="" titlt='' src='{$val.img_url}'/>
								</span>
									<h3 class="text_overflow">{$val.name}</h3>
									<p class="mile">{$val.car_cardtime} | {$val.car_mileage}万公里</p>
									<p class="valign">
										<span class="pay_first plt10"><b class="">{$val.price}</b></span>
										<span class="sure"><img src="__STATIC__/img/pinpairz.png" alt=""/></span>
									</p>
								</a>
							</li>
							{/volist}
						</ul>
					</div>
				</div>
				<div id="old_car_panel_1" class="recom_new_con" style="display: none;">
					<ul class="recom_tit_img">
						<li class="car_left">
							<a href=""><img src="__STATIC__/img/group1.png" alt="" titlt='' /></a>
						</li>
						{volist name="min_price" id="val"}
						<li>
							<a href="{$domain}/{$Think.session.cityurl}/details/{$val.pu_id}" class="flex_around">
									<span class="car_img"><img class='lazy-load' alt="" titlt='' src='{$val.img_url}'/>
								</span>
								<h3 class="text_overflow">{$val.name_li}</h3>
								<p class="mile">{$val.car_cardtime} | {$val.car_mileage}万公里</p>
								<p class="valign">
									<span class="pay_first plt10"><b class="">{$val.price}</b></span>
									<span class="sure"><img src="__STATIC__/img/pinpairz.png" alt=""/></span>
								</p>
							</a>
						</li>
						{/volist}
					</ul>
				</div>
			<div id="old_car_panel_2" class="recom_new_con" style="display: none;">
				<ul class="recom_tit_img">
					<li class="car_left">
						<a href=""><img src="__STATIC__/img/group1.png" alt="" titlt='' /></a>
					</li>
					{volist name="min_age" id="val"}
					<li>
						<a href="{$domain}/{$Think.session.cityurl}/details/{$val.pu_id}" class="flex_around">
									<span class="car_img"><img class='lazy-load' alt="" titlt='' src='{$val.img_url}'/>
								</span>
							<h3 class="text_overflow">{$val.name_li}</h3>
							<p class="mile">{$val.car_cardtime} | {$val.car_mileage}万公里</p>
							<p class="valign">
								<span class="pay_first plt10"><b class="">{$val.price}</b></span>
								<span class="sure"><img src="__STATIC__/img/pinpairz.png" alt=""/></span>
							</p>
						</a>
					</li>
					{/volist}
				</ul>
			</div>
	<div id="old_car_panel_3" class="recom_new_con" style="display: none;">
		<ul class="recom_tit_img">
			<li class="car_left">
				<a href=""><img src="__STATIC__/img/group1.png" alt="" titlt='' /></a>
			</li>
			{volist name="min_licheng" id="val"}
			<li>
				<a href="{$domain}/{$Think.session.cityurl}/details/{$val.pu_id}" class="flex_around">
												<span class="car_img"><img class='lazy-load' alt="" titlt='' src='{$val.img_url}'/>
											</span>
					<h3 class="text_overflow">{$val.name_li}</h3>
					<p class="mile">{$val.car_cardtime} | {$val.car_mileage}万公里</p>
					<p class="valign">
						<span class="pay_first plt10"><b class="">{$val.price}</b></span>
						<span class="sure"><img src="__STATIC__/img/pinpairz.png" alt=""/></span>
					</p>
				</a>
			</li>
			{/volist}
		</ul>
	</div>

				<!--推荐零首付新车-->
				<div class="home_recom_car">
					<div class="recom_new_tit oh marbt23">
						<h2>推荐零首付新车</h2>

					</div>
					<div class="recom_new_con">
						<ul class="recom_tit_img ">
							<li class="car_left">
								<a href=""><img src="__STATIC__/img/lingshouful.png" src="__STATIC__/img/lingshouful.png" alt="" title='' /></a>
							</li>
							{volist name="car_zero" id="val"}
							<li>
								<a href="{$domain}/{$Think.session.cityurl}/detai/{$val.id}" class="flex_around" target="_blank">
									<span class="car_img"><img src="{$val.img_url}" alt=""/>
								</span>
									<h3 class="text_overflow">{$val.name}</h3>
									<p class="valign ptp15">
										<span class="pay_first plt10">首付<b class="">{$val.pay10_s2}</b>万</span>
										<span class="pay_month">月供{$val.pay10_y2}元</span>
										<span class="pay_month">月供{$val.pay10_n2}元</span>
									</p>
								</a>
							</li>
						     {/volist}

						</ul>
					</div>
				</div>
				<!--新闻资讯-->
				<div class="home_news">
					<div class="oh home_new_nav">
						<ul>
							<li class="active" onclick="set('bd0',1,5)" id="bd01">公司新闻</li>
							<li onclick="set('bd0',2,5)" id="bd02"> 行业新闻</li>
							<li onclick="set('bd0',3,5)" id="bd03">媒体报道</li>
							<li onclick="set('bd0',4,5)" id="bd04">特色活动</li>
							<li onclick="set('bd0',5,5)" id="bd05">新车资讯</li>
						</ul>
						<a href="" class="look_more">查看更多></a>
					</div>
					<div class="home_news_cont" id="conbd01">

						<div class="left_big new_imgs">
							<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$new1['0']['id']}"> <img src="__STATIC__/img/ttop.png" alt="" height="280" width="340px" />
							<p class="hid">{$new1['0']['title']}</p></a>
						</div>
						<div class="center_small">
							<div class="small_top_img new_imgs">
								<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$new1['1']['id']}">
								<img src="__STATIC__/img/ccbt.png" alt="" height="135" />
								<p class="hid">{$new1['1']['title']}</p>
							</div>
							<div class="small_bt_img new_imgs marbtp10">
								<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$new1['2']['id']}">
								<img src="__STATIC__/img/ccbt.png" alt="" height="135" />
								<p class="hid">{$new1['2']['title']}</p></a>
							</div>
						</div>
						<ul class="news_txt_desc">
							{volist name="new1" id="vol"}
							<li><span class="fright">{$vol.time}</span><img src="__STATIC__/img/zhixina.png" alt="" height="12" />
								<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$vol.id}">{$vol.title}</a>
							</li>
							{/volist}

						</ul>
					</div>
					<div class="home_news_cont" id="conbd02" style="display: none;">
						<div class="left_big new_imgs">
							<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$new2['0']['id']}">
							<img src="__STATIC__/img/ttop.png" alt="" height="280" width="340px" />
								<p class="hid">{$new2['0']['title']}</p></a>
						</div>
						<div class="center_small">
							<div class="small_top_img new_imgs">
								<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$new2['1']['id']}">
								<img src="__STATIC__/img/ccbt.png" alt="" height="135" />
								<p class="hid">{$new2['1']['title']}</p></a>
							</div>
							<div class="small_bt_img new_imgs marbtp10">
								<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$new2['2']['id']}">
								<img src="__STATIC__/img/ccbt.png" alt="" height="135" />
								<p class="hid">{$new2['2']['title']}</p></a>
							</div>
						</div>
						<ul class="news_txt_desc">

							{volist name="new2" id="vol"}
							<li><span class="fright">{$vol.time}</span><img src="__STATIC__/img/zhixina.png" alt="" height="12" />
								<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$vol.id}">{$vol.title}</a>
							</li>
							{/volist}


						</ul>
					</div>
					<div class="home_news_cont" id="conbd03" style="display: none;">
						<div class="left_big new_imgs">
							<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$new3['0']['id']}"><img src="__STATIC__/img/ttop.png" alt="" height="280" width="340px" />
							<p class="hid">{$new3['0']['title']}</p></a>
						</div>
						<div class="center_small">
							<div class="small_top_img new_imgs">
								<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$new3['1']['id']}"><img src="__STATIC__/img/ccbt.png" alt="" height="135" />
								<p class="hid">{$new3['1']['title']}</p></a>
							</div>
							<div class="small_bt_img new_imgs marbtp10">
								<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$new3['2']['id']}">	<img src="__STATIC__/img/ccbt.png" alt="" height="135" />
								<p class="hid">{$new3['2']['title']}</p></a>
							</div>
						</div>
						<ul class="news_txt_desc">

							{volist name="new3" id="vol"}
							<li><span class="fright">{$vol.time}</span><img src="__STATIC__/img/zhixina.png" alt="" height="12" />
								<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$vol.id}">{$vol.title}</a>
							</li>
							{/volist}

						</ul>
					</div>
					<div class="home_news_cont" id="conbd04" style="display: none;">
						<div class="left_big new_imgs">
							<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$new4['0']['id']}"><img src="__STATIC__/img/ttop.png" alt="" height="280" width="340px" />
								<p class="hid">{$new4['0']['title']}</p></a>
						</div>
						<div class="center_small">
							<div class="small_top_img new_imgs">
								<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$new4['1']['id']}"><img src="__STATIC__/img/ccbt.png" alt="" height="135" />
								<p class="hid">{$new4['1']['title']}</p></a>
							</div>
							<div class="small_bt_img new_imgs marbtp10">
								<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$new4['2']['id']}"></a> <img src="__STATIC__/img/ccbt.png" alt="" height="135" />
								<p class="hid">{$new4['2']['title']}</p></a>
							</div>
						</div>
						<ul class="news_txt_desc">

							{volist name="new4" id="vol"}
							<li><span class="fright">{$vol.time}</span><img src="__STATIC__/img/zhixina.png" alt="" height="12" />
								<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$vol.id}">{$vol.title}</a>
							</li>
							{/volist}

						</ul>
					</div>
					<div class="home_news_cont" id="conbd05" style="display: none;">
						<div class="left_big new_imgs">
							<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$new5['0']['id']}"> <img src="__STATIC__/img/ttop.png" alt="" height="280" width="340px" />
							<p class="hid">{$new5['0']['title']}</p></a>
						</div>
						<div class="center_small">
							<div class="small_top_img new_imgs">
								<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$new5['1']['id']}" > <img src="__STATIC__/img/ccbt.png" alt="" height="135" />
								<p class="hid">{$new5['1']['title']}</p></a>
							</div>
							<div class="small_bt_img new_imgs marbtp10">
								<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$new5['2']['id']}"> <img src="__STATIC__/img/ccbt.png" alt="" height="135" />
								<p class="hid">{$new5['2']['title']}</p></a>
							</div>
						</div>
						<ul class="news_txt_desc">

							{volist name="new5" id="vol"}
							<li><span class="fright">{$vol.time}</span><img src="__STATIC__/img/zhixina.png" alt="" height="12" />
								<a href="{$domain}/{$Think.session.cityurl}/newsdetails/{$vol.id}">{$vol.title}</a>
							</li>
							{/volist}


						</ul>
					</div>

				</div>

			</div>
			<div class="home_make_car">
				<div class="wrap">
					<img src="__STATIC__/img/rez.png" alt="" />
					<div class="form_make">
						<div class="ipt"><input type="text" placeholder="请输入手机号" /></div>
						<!--<div class="ipt"><input type="text" placeholder="请输入验证码"/></div>-->
						<p class="made_sub">开启私人订制</p>
					</div>
				</div>
			</div>
			<!--<div class="home_advbg flex_center">
				<div class="wrap">
					<img src="__STATIC__/img/biaoyu.png" alt="" />
					<a href="" class="buycar">我要买车</a><a href="" class="sellcar">我要卖车</a>					
				</div>
			</div>		-->
		</div>
		<div class="footer">
			{include file="public/footer"}
		</div>
		<div class="fixedRight">
			<ul class="right_sider">
				<!--1-->
				<li>
					<div class="gj_side_contnet iocn_s1">
						<p></p>
					</div>

					<div class="gj_sidecon_desc pk_bar tool_tip" style="display: none;">
						<h2>车型对比</h2>
						<ul class="list">
							<li class="items5">
								<a href="" class="car_img flex_center"><img src="" alt="" /></a>
								<a href="" class="car_desc">
									<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
									<p><span class="car_price"><b>2066</b>万</span><span class="car_sui">新车含税13.86万</span></p>
									<p><span>2015年8月10日上牌</span> <span class="padlt20">4万公里</span> </p>
									<div class="che_ordered">立即预约</div>
								</a>
							</li>
							<li class="items5">
								<a href="" class="car_img flex_center"><img src="" alt="" /></a>
								<a href="" class="car_desc">
									<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
									<p><span class="car_price"><b>2066</b>万</span><span class="car_sui">新车含税13.86万</span></p>
									<p><span>2015年8月10日上牌</span> <span class="padlt20">4万公里</span> </p>
									<div class="che_ordered">立即预约</div>
								</a>
							</li>

						</ul>
					</div>
				</li>
				<!--2，-->
				<li>
					<div class="gj_side_contnet iocn_s2">
						<p></p>
					</div>

					<div class="gj_sidecon_desc tool_tip" style="display: none;">
						<h2>浏览历史</h2>
						<ul class="list">
							<li class="items5">
								<a href="" class="car_img flex_center"><img src="" alt="" /></a>
								<a href="" class="car_desc">
									<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
									<p><span class="car_price"><b>2066</b>万</span><span class="car_sui">新车含税13.86万</span></p>
									<p><span>2015年8月10日上牌</span> <span class="padlt20">4万公里</span> </p>
									<div class="che_ordered">立即预约</div>
								</a>
							</li>
							<li class="items5">
								<a href="" class="car_img flex_center"><img src="" alt="" /></a>
								<a href="" class="car_desc">
									<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
									<p><span class="car_price"><b>2066</b>万</span><span class="car_sui">新车含税13.86万</span></p>
									<p><span>2015年8月10日上牌</span> <span class="padlt20">4万公里</span> </p>
									<div class="che_ordered">立即预约</div>
								</a>
							</li>

						</ul>
					</div>
				</li>
				<!--3-->
				<li>
					<div class="gj_side_contnet iocn_s3">
						<p></p>
					</div>

				</li>
				<!--4-->
				<li>
					<div class="gj_side_contnet iocn_s4">
						<p></p>
					</div>
					<div class="gj_sidecon_desc car_item tool_tip" style="display: none;">
						<h2>我的收藏</h2>
						<ul class="list">
							<li class="items5">
								<a href="" class="car_img flex_center"><img src="" alt="" /></a>
								<a href="" class="car_desc">
									<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
									<p><span class="car_price"><b>2066</b>万</span><span class="car_sui">新车含税13.86万</span></p>
									<p><span>2015年8月10日上牌</span> <span class="padlt20">4万公里</span> </p>
									<div class="che_ordered">立即预约</div>
								</a>
							</li>
							<li class="items5">
								<a href="" class="car_img flex_center"><img src="" alt="" /></a>
								<a href="" class="car_desc">
									<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
									<p><span class="car_price"><b>2066</b>万</span><span class="car_sui">新车含税13.86万</span></p>
									<p><span>2015年8月10日上牌</span> <span class="padlt20">4万公里</span> </p>
									<div class="che_ordered">立即预约</div>
								</a>
							</li>

						</ul>
					</div>
					<!--<div class="gj_sidecon_desc tool_tip" style="display: none;"></div>-->
				</li>
				<!--5-->
				<li>
					<div class="gj_side_contnet iocn_s5">
						<p></p>
					</div>
					<div class="gj_sidecon_desc tool_tip" style="display: none;"><img src="__STATIC__/img/gzh.png" alt="" /></div>
				</li>
				<!--6-->
				<li>
					<div class="gj_side_contnet iocn_s6">
						<p></p>
					</div>
					<div class="gj_sidecon_desc tool_tip" style="display: none;"><img src="__STATIC__/img/appdn.png" alt="" /></div>
				</li>
				<!--7-->
				<li>
					<div class="gj_side_contnet iocn_s7">
						<p></p>
					</div>
					<div class=" tool_tip" style="display: none;">
						<img src="__STATIC__/img/dianhua.png" alt="" />
					</div>
				</li>
				<!--8-->
				<li>
					<div class="gj_side_contnet iocn_s8">
						<p></p>
					</div>
					<div class="gj_sidecon_desc tool_tip" id="eight" style="display: none;">
						<div style="" class="iocn_s8-inner">
							<p style="">反馈</p>
							<p>请您选择反馈分类</p>
							<ul style="" class="oh">
								<li>功能建议</li>
								<li>故障反馈</li>
								<li>车源相关</li>
								<li>其他</li>
							</ul>
							<div class="p_r">
								<textarea name="" rows="10" cols="10" maxlength="200" placeholder="请输入您提出的意见..." onkeyup="" id="informationtextare"></textarea>
								<span class="limit_num" style="">
	        			        至少10字
	        		        </span>
							</div>

							<button>提交</button>

						</div>
					</div>
				</li>
				<!--9-->
				<li>
					<div class="gj_side_contnet iocn_s9">
						<p></p>
					</div>
					<div class="gj_sidecon_desc "></div>
				</li>

			</ul>
		</div>
		<script src="__STATIC__/js/common.js" type="text/javascript" charset="utf-8"></script>
	</body>
	<script type="text/javascript">
		function btn_new() {
            if ($('#btn_new').hasClass('active')){
                return;
            } else {
                $('#btn_new').addClass('active');
                $('#btn_old').removeClass();
                $('#new_panel').css("display", 'block')
                $('#old_panel').css("display", 'none')
			}

        }
        function btn_old() {
            if ($('#btn_old').hasClass('active')){
                return;
            } else {
                $('#btn_old').addClass('active');
                $('#btn_new').removeClass();
                $('#new_panel').css("display", 'none')
                $('#old_panel').css("display", 'block')
            }
        }
	</script>
	<script>
		$(function() {
            $($(".wrap li")[0]).addClass("active").siblings().removeClass("active");
			//			新闻导航切换
			$(".home_new_nav li").click(function() {
				$(this).addClass("active").siblings().removeClass("active")
			})

			$("#informationtextare").keyup(function() {
				ChangeInfo(this);
			});

			//			左侧侧边栏
			//车型对比  大于等于两个横排放
			var len1 = $(".car_item .items5").length;
			var len2 = $(".pk_bar .items5").length;
			if(len1 < 0) {} else if(len1 >= 1) {
				$(".pk_bar").css("width", '500px')
			}
			if(len2 < 0) {} else if(len2 >= 1) {
				$(".car_item").css("width", '500px')
			}
			// 获取首页banner接口数据
			var url = 'http://www.gj2car.com/';

			$.ajax({
				type: 'POST',
				url: url + 'Newpc/Index/banner',
				dataType: "json",
				success: function(data) {
					$(data.body).each(function(i, o) {
						$(o.banner).each(function(index, obj) {
							$(".home_bannerAAA .swiper-wrapperAAA").append(" <div class='swiper-slide'><a href=''> <img  src=" + obj.img_url + " alt=''  class='swiper-lazy'/> </a></div>");
							var mySwiper = new Swiper('.swiper-container', {
								//						    pagination: '.pagination',
								loop: true,
								grabCursor: true,
								paginationClickable: true
							})
							$('.arrow-left').on('click', function(e) {
								e.preventDefault()
								mySwiper.swipePrev()
							})
							$('.arrow-right').on('click', function(e) {
								e.preventDefault()
								mySwiper.swipeNext()
							})
						})
					})
				},
				error: function() {
					console.log("没有获取到数据");
				}
				//		
			});

			//			图片懒加载

			$(".full_wid img").lazyload({
				//               placeholder:"__STATIC__/img/loading.gif",
				effect: "fadeIn", //渐现，show(直接显示),fadeIn(淡入),slideDown(下拉)
				failure_limit: 2 //加载2张可见区域外的图片,lazyload默认在找到第一张不在可见区域里的图片时则不再继续加载,但当HTML容器混乱的时候可能出现可见区域内图片并没加载出来的情况
			});

			//           首页预载功能
			//
			//			$(".fakeLoader").fakeLoader({
			//				timeToHide:1000, //加载效果的持续时间
			//				zIndex:"999",//
			//				spinner:"spinner7",//可选值 'spinner1', 'spinner2', 'spinner3', 'spinner4', 'spinner5', 'spinner6', 'spinner7' 对应有7种效果
			//				bgColor:"", //加载时的背景颜色
			//				imagePath:"__STATIC__/img/loading.gif" //自定义的加载图片，见demo8.html
			//			});
			//			车型介绍里面车品牌名称两行省略

			$('.right_sider li').hover(function() {
				$(this).find('.tool_tip').css({
					'display': 'block'
				});
				$(this).siblings().find('.tool_tip').css({
					'display': 'none'
				});

			})

			$('.recom_tit_img li h3').each(function() {
				//设置显示获取字符串的字数  这个根绝要求 看需要大概显示几行
				var maxwidth = 35;
				if($(this).text().length > maxwidth) {
					//截取字符串
					$(this).text($(this).text().substring(0, maxwidth));
					//多余的用省略号显示
					$(this).html($(this).html() + '...');
				}
			});

			//			新闻内容省略
			var content_arr = []; //定义一个空数组
			$('.news_desc .tit_desc').each(function() { //遍历box内容
				var content = $.trim($(this).text()); //去掉前后文空格
				content_arr.push(content); //内容放进数组
			})
			for(var i = 0; i < content_arr.length; i++) { //遍历循环数组
				if(content_arr[i].length >= 40) { //如果数组长度（也就是文本长度）大于等于50（数字可自己定义）
					content = content_arr[i].substr(0, 40) + '...'; //添加省略号并放进box文字内容后面
					$('.news_desc .tit_desc').eq(i).text(content);
				} else {
					content = content_arr[i];
					$('.news_desc .tit_desc').eq(i).text(content);
				}
			}
			$(".news_nav li").click(function() {
				var i = $(this).index();
				$(this).addClass('active').siblings('li').removeClass('active');
				$(".news_desc").eq(i).show().siblings('.news_desc').hide()
			})
			// $(".header").load("templates/header.html");
			// $(".footer").load("templates/footer.html");

            var arr_old = new Array();
			$(".old_car_n").each(function (idx, e) {
                arr_old.push(e);
				e.onclick = function () {
                    if ($("#old_car_" + idx).hasClass("active")){
                        return;
                    } else {
                        for (var i = 0; i < arr_old.length; i++){
                            $("#old_car_" + i).removeClass("active");
                            $("#old_car_panel_" + i).css("display", 'none');
                        }
                        $("#old_car_" + idx).addClass("active");
                        $("#old_car_panel_" + idx).css("display", 'block')

                    }
                }
            });
            var arr_new = new Array();
            $(".new_car_n").each(function (idx, e) {
                arr_new.push(e);
                e.onclick = function () {
                    if ($("#new_car_" + idx).hasClass("active")){
                        return;
                    } else {
                        for (var i = 0; i < arr_new.length; i++){
                            $("#new_car_" + i).removeClass("active");
                            $("#new_car_panel_" + i).css("display", 'none');
                        }
                        $("#new_car_" + idx).addClass("active");
                        $("#new_car_panel_" + idx).css("display", 'block')

                    }
                }
            })

		})
	</script>

</html>