<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
	</head>
	<link rel="icon" type="image/x-icon" href="favicon.png">
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />	
	<style>

	</style>
	<body>	
		<div class="header">{include file="public/header"}</div>
		<div class="full_wid">			
			<div class="wrap ">	
				<div class="person_center">
					<div class="person_left user">					
						<div class="tab_choose">
						<ul>
								<h2 class="top_tit">管家车易站</h2>
								<li class="active"><a href="{$domain}/{$Think.session.cityurl}/join_us"><img src="__STATIC__/img/jiaoru.png" alt="" /></b>加入我们</a></li>
								<li class=""><a href="{$domain}/{$Think.session.cityurl}/link_us"><img src="__STATIC__/img/lainxi.png" alt="" /></b>联系我们</a></li>
								<li class=""><a href="{$domain}/{$Think.session.cityurl}/service"><img src="__STATIC__/img/fuwu.png" alt="" /></b>服务保障</a></li>
								<li class=""><a href="{$domain}/{$Think.session.cityurl}/website"><img src="__STATIC__/img/ditu.png" alt="" /></b>网站地图</a></li>
								
							</ul>
						</div>
					</div>
					<div class="person_right">
						<h1 class="borbt"><span class="release">加入我们</span></h1>
						<h2 class="step">管家车易站平台</h2>
						<p class="about">
						  联系电话：0371-53375515 <br />
工作地址：郑州市金水区花园路国基路 居易国际广场4号楼1122 （地铁2号线 沙门A口旁）
							
						</p>
					</div>
				</div>
				
			</div>
		</div>	
		<div class="footer">{include file="public/footer"}</div>
		
		<div class="mask1"></div>
	</body>
	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
	<script>		
		$(function(){	
		   // $(".footer").load("templates/footer.html");
   		//    $(".header").load("templates/header.html");
	})
</script>
</html>
