<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />
	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
	<script src="__STATIC__/js/jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>		
	<style>

	</style>
	<body>		
		<div class="header">
			{include file="public/header"}
		</div>
		<div class="full_wid">
			<div class="breadnav">您的位置：<a href="#">郑州二手交易市场</a>>><a href="#">二手车 >></a></div>
			<div class="wrap">
				<div class="list_left">
					<div class="list_screen_cont">
						<div class="list_brand  slide_up list_item gj_clear">
							<div class="list_title">品牌</div>
							<div class="screening-margin gj_clear">							
								<div class="list_car_brand list_detail_sel">{volist name="brand" id="val"}<a href="{$domain}/{$Think.session.cityurl}/lots_cars?brand_id={$val.id}">{$val.name}</a>{/volist}</div>
								<span class="more">更多品牌<i><img src="__STATIC__/img/down1.png" alt="" width="12"/></i></span>
							</div>
						</div>
						<div class="slide_down sel_box_more all_brandshow">
							<span class="more">收起<i><img src="__STATIC__/img/down1.png" alt="" width="12"/></i></span>
							<div class="brand-more">
								   {volist name="ABC" id="vol"}
			                       <dl class='zimu'>
							<dt>{$vol.initial}</dt>
									   {volist name="vol['list']" id="vo"}
							<dd class='firstname'>

								<a href="{$domain}/{$Think.session.cityurl}/lots_cars?brand_id={$vo.id}&page=1&sort=1" title=''>{$vo.name}</a>

															</dd>
									   {/volist}
							</dl>
                                   {/volist}
			
			                </div>
						</div>
						<!--<div class="list_series slide_up list_item gj_clear">-->
							<!--<div class="list_title">车系</div>-->
							<!--<div class="screening-margin">							-->
								<!--<div class=" list_detail_sel"><a href="">大众</a><a href="">大众</a><a href="">大众</a><a href="">大众</a><a href="">大众</a><a href="">大众</a><a href="">大众</a></div>-->
							    <!--<span class="more">更多<i><img src="__STATIC__/img/down1.png" alt="" width="12"/></i></span>-->
							<!--</div>-->
						<!--</div>-->
						<div class="slide_down all_series sel_box_more">
							<span class="more">收起<i><img src="__STATIC__/img/down1.png" alt="" width="12"/></i></span>
							<div class="series_box">
								<dl>
									<dt>微型车</dt>
									<dd><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a></dd>
								</dl>
								<dl>
									<dt>小型车</dt>
									<dd><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a></dd>
								</dl>
								<dl>
									<dt>紧凑型</dt>
									<dd><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a>
										<a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a>
										<a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a><a href="">大众up!</a>
									</dd>
								</dl>

							</div>
						</div>
						<div class="list_price list_item gj_clear">
							<div class="list_title">价格</div>
							<div class="screening-margin gj_clear">							
								<div class="list_detail_sel">
									{volist name="price" id="vo"}
									<a href="{$domain}/{$Think.session.cityurl}/lots_cars?price_range={$vo.id}">{$vo.name}</a>
									{/volist}
								</div>
								<div class="price_handle">
									<div class="box"><input type="text" />万</div><em>-</em><div class="box"><input type="text" />万</div><a href="javascript:;" class="sure">确定</a>
								</div>
							</div>
							
						</div>
						<div class="list_jibie list_item gj_clear">
							<div class="list_title">级别</div>
							<div class="screening-margin gj_clear">							
								<div class="list_detail_sel">
									{volist name="subface" id="vo"}
									<a href="{$domain}/{$Think.session.cityurl}/lots_cars?subface={$vo.id}" class="active">{$vo.name}</a>
								    {/volist}
								</div>
								<!--<span class="more">多选<i>+</i></span>-->
							</div>
						</div>
						<div class="list_other list_item gj_clear">
							<div class="list_title">其他</div>
							<div class="screening-margin gj_clear">							
								<div class=" list_detail_sel">
									 <ul class="select-box searchCond" style="background: none">
							          <li>
							            <div data-toggle="select" name="r" class="select-menu"  id="select2">
							              <div class="menu-selected">车龄</div>
							              <dl class="menu menu4" style="display: none;" id="aselect2">
							                <dd> <a rel="nofollow" href="#" data-for="hidden_r" data-valueid="0" class="preventdefault" title="不限二手车">不限</a> </dd>
											  {volist name="age" id="val"}
											  <dd> <a rel='nofollow' href="{$domain}/{$Think.session.cityurl}/lots_cars?age={$val.id}" data-for='hidden_r' data-valueid='' class='preventdefault' title=''>{$val.cheling}</a> </dd>
											  {/volist}
							              </dl>
							            </div>
							          </li>
							          <li>
							            <div data-toggle="select" name="k" class="select-menu" id="select3">
							              <div class="menu-selected">里程</div>
							              <dl class="menu menu5" style="display: none;" id="aselect3">
							                <dd> <a rel="nofollow" href="#" data-for="hidden_k" data-valueid="0" class="preventdefault" title="不限二手车">不限</a> </dd>
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_k" data-valueid="0-1" class="preventdefault" title="1万公里以内二手车">1万公里以内</a> </dd>-->
											  {volist name="licheng" id="val"}
											  <dd> <a rel='nofollow' href="{$domain}/{$Think.session.cityurl}/lots_cars?car_mileage={$val.id}" data-for='hidden_k' data-valueid='' class='preventdefault' title=''>{$val.name}</a></dd>
											  {/volist}
										  </dl>
							            </div>
							          </li>
							
							          <li>
							            <div data-toggle="select" class="select-menu" id="select4">
							              <div class="menu-selected" >排量</div>
							              <div class="menu menu6" style="display: none;" id="aselect4">
							                <dd> <a rel="nofollow" href="#" data-for="hidden_j" data-valueid="0" class="preventdefault" title="不限二手车">不限</a> </dd>
											  {volist name="output" id="val"}
											  <dd> <a rel='nofollow' href="{$domain}/{$Think.session.cityurl}/lots_cars?output={$val.id}" data-for='hidden_j' data-valueid='' class='preventdefault' title=''>{$val.name}</a> </dd>
											  {/volist}
											  <!--<dd> <a rel="nofollow" href="#" data-for="hidden_j" data-valueid="0-1" class="preventdefault" title="1.0L以下二手车">1.0L以下</a> </dd>-->
							              </div>
							            </div>
							          </li>
							          <li>
							            <div data-toggle="select" class="select-menu" id="select7">
							              <div class="menu-selected">变速箱</div>
							              <div class="menu menu8" style="display: none;" id="aselect7">
							                <dd> <a rel="nofollow" href="javascript:;" data-for="hidden_g" data-valueid="0" class="preventdefault" title="不限档二手车">不限</a> </dd>
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_g" data-valueid="1" class="preventdefault" title="自动档二手车">自动</a> </dd>-->
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_g" data-valueid="2" class="preventdefault" title="手动档二手车">手动</a> </dd>-->
											  {volist name="gearbox" id="val"}
											  <dd> <a rel='nofollow' href="{$domain}/{$Think.session.cityurl}/lots_cars?gearbox={$val.id}" data-for='hidden_g' data-valueid='' class='preventdefault' title=''>{$val.name}</a> </dd>
											  {/volist}
										  </div>
							            </div>
							          </li>
							          <li>
							            <div data-toggle="select" name="r" class="select-menu" id="select5">
							              <div class="menu-selected">排放标准</div>
							              <dl class="menu menu4" style="display: none;" id="aselect5">
							                <dd> <a rel="nofollow" href="#" data-for="hidden_h" data-valueid="0" class="preventdefault" title="不限二手车">不限</a> </dd>
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_h" data-valueid="3-" class="preventdefault" title="国三以上二手车">国三以上</a> </dd>-->
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_h" data-valueid="4-" class="preventdefault" title="国四以上二手车">国四以上</a> </dd>-->
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_h" data-valueid="5" class="preventdefault" title="国五二手车">国五</a> </dd>-->
											  {volist name="blowdown" id="val"}
											  <dd> <a rel='nofollow' href="{$domain}/{$Think.session.cityurl}/lots_cars?blowdown={$val.id}" data-for='hidden_h' data-valueid='' class='preventdefault' title=''>{$val.name}</a> </dd>
											  {/volist}
							              </dl>
							            </div>
							          </li>
							          <li>
							            <div data-toggle="select" class="select-menu" id="select8">
							              <div class="menu-selected">驱动</div>
							              <div class="menu menu9" style="display: none;" id="aselect8">
											  {volist name="car_drive" id="val"}
											  <dd> <a rel='nofollow' href="{$domain}/{$Think.session.cityurl}/lots_cars?car_drive={$val.id}" data-for='hidden_q' data-valueid='' class='preventdefault' title=''>{$val.name}</a> </dd>
											  {/volist}
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_q" data-valueid="0" class="preventdefault" title="不限二手车">前驱</a> </dd>-->
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_q" data-valueid="2" class="preventdefault" title="2座二手车">前驱</a> </dd>-->
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_q" data-valueid="4" class="preventdefault" title="4座二手车">前驱</a> </dd>-->
							              </div>
							            </div>
							          </li>
							          <li>
							            <div data-toggle="select" class="select-menu" id="select12">
							              <div class="menu-selected">车身</div>
							              <div class="menu menu12" style="display: none;" id="aselect12">
											  {volist name="car_body" id="val"}
											  <dd> <a rel='nofollow' href="{$domain}/{$Think.session.cityurl}/lots_cars?car_body={$val.id}" data-for='hidden_x' data-valueid='' class='preventdefault' title='不限二手车'>{$val.name}</a>
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_x" data-valueid="0" class="preventdefault" title="不限二手车">前驱</a> </dd>-->
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_x" data-valueid="2" class="preventdefault" title="2座二手车">前驱</a> </dd>-->
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_x" data-valueid="4" class="preventdefault" title="4座二手车">前驱</a> </dd>-->
											  {/volist}
							              </div>
							            </div>
							          </li>
							
							          <li>
							            <div data-toggle="select" class="select-menu" id="select6">
							              <div class="menu-selected">颜色</div>
							              <div class="menu menu7 radius menuCar07" style="display: none;" id="aselect6">
							                <dd> <a rel="nofollow" href="" data-for="hidden_c" data-valueid="0" class="preventdefault c0" title="不限二手车">不限</a> </dd>
											  {volist name="color" id="val"}
											  <dd> <a rel='nofollow' href="{$domain}/{$Think.session.cityurl}/lots_cars?color={$val.id}" data-for='hidden_c' data-valueid='' class='preventdefault c15' title=''>{$val.name}</a> </dd>
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_c" data-valueid="1" class="preventdefault c1" title="黑色二手车">黑色</a> </dd>-->
											  {/volist}
							              </div>
							            </div>
							          </li>
							          <li>
							            <div data-toggle="select" class="select-menu" id="select10">
							              <div class="menu-selected menu-selected12">燃料</div>
							              <div class="menu menu12" style="display: none;" id="aselect10">

							                <dd> <a rel="nofollow" href="" data-for="hidden_d" data-valueid="0" class="preventdefault" title="不限二手车">不限</a> </dd>
											  {volist name="fuel" id="val"}
											  <dd> <a rel='nofollow' href="{$domain}/{$Think.session.cityurl}/lots_cars?fuel={$val.id}" data-for='hidden_w' data-valueid='' class='preventdefault' title=''>{$val.name}</a> </dd>
							                <!--<dd> <a rel="nofollow" href="#" data-for="hidden_d" data-valueid="1" class="preventdefault" title="汽油二手车">汽油</a> </dd>-->
											  {/volist}
							          
							              </div>
							            </div>
							          </li>
							        </ul>
								</div>
							</div>
						</div>
					</div>
					<div class="list_subNav">
						<ul>
							<li class="active"><a href="" class="">郑州二手车</a></li>
							<!--<li><a href="">分期购车</a></li>-->
							<!--<li><a href="">商家车</a></li>-->
							<!--<li><a href="">个人车</a></li>-->
							<!--<li><a href="">商家认证</a></li>-->
						</ul>
					</div>
					<div class="list_sort">
						<ul class="sort_sel">
							<li class="current"><a href="">综合排序</a></li>
							<!--<li><a href="">最新发布</a></li>-->
							<!--<li><a href="">价格最低</a></li>-->
							<!--<li><a href="">车龄最短</a></li>-->
							<!--<li><a href="">里程最短</a></li>-->
						</ul>
						<!--<ul class="check_item flex_center">-->
							<!--<li class="checked"><img src="__STATIC__/img/img_checked.png" alt="" width=""/>准新车</li>-->
							<!--<li><img src="__STATIC__/img/img_uncheck.png" alt="" />七日内上新</li>-->
							<!--<li><img src="__STATIC__/img/img_uncheck.png" alt="" />质保</li>-->
							<!---->
						<!--</ul>-->
						<!--<span class="more">更多<i><img src="__STATIC__/img/down1.png" alt="" /></i></span>-->
					</div>
					<div class="marbt30 carList_info">
						 <ul class="list">

                           {volist name="res" id="val" offset="1" length="8"}

							<li class="items5">

								<a href="{$domain}/{$Think.session.cityurl}/details/{$val.pu_id}" class="car_img flex_center"><img src="{$val.img_url}" alt="" /></a>
								<a href="{$domain}/{$Think.session.cityurl}/details/{$val.pu_id}" class="car_desc">
									<h3>{$val.pu_id}{$val.name_li}</h3>
									<p><span class="car_price"><b>{$val.price}</b>万</span><span class="car_sui">新车含税{$val.news_price}万</span></p>
									<p><span>{$val.car_cardtime}上牌</span> <span class="padlt20">{$val.car_mileage}万公里</span> </p>
									<div class="che_ordered">立即预约</div></a>

							</li>

                           {/volist}
						</ul>
					</div>
					
				</div>
				<div class="list_right">
					<div class="list_service">
						<h2 class="er_service">二手车服务</h2>
						<ul class="">
							<li>
								<img src="__STATIC__/img/car111.png" alt="" />
								<p>车辆评估</p>
							</li>
							<li>
								<img src="__STATIC__/img/car222.png" alt="" />
								<p>高价卖车</p>
							</li>
							<li>
								<img src="__STATIC__/img/car333.png" alt="" />
								<p>免费置换</p>
							</li>
							<li>
								<img src="__STATIC__/img/car444.png" alt="" />
								<p>帮买好车</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--<div class="footer">-->
			<!--{include file="public/footer"}-->
		<!--</div>-->
	</body>
	<script>		
		$(function(){
            $($(".wrap li")[2]).addClass("active").siblings().removeClass("active");
		    // $(".header").load("templates/header.html");
		    // $(".footer").load("templates/footer.html");
		    $('.check_item img').click(function(){
                    if($(this).attr('src') == '__STATIC__/img/img_checked.png'){
                        $(this).attr('src','__STATIC__/img/img_uncheck.png')
                    }else{
                        $(this).attr('src','__STATIC__/img/img_checked.png')
                    }

                })
		     // 展开收起更多筛选
         $(".list_screen_cont").on("click", ".slide_up .more", function() {
             $(".slide_up").each(function() {
                 if ($(this).css('display') == 'none' ) {
                     $(this).slideDown(300);
                 }
             });
             $(".slide_down").each(function() {
                 if ($(this).css('display') == 'block') {
                     $(this).slideUp(300);
                 }
             });
             $(this).parents(".slide_up").slideUp(300);
             $(this).parents(".slide_up").next(".slide_down").slideDown(300);
         });
         $(".list_screen_cont").on("click", ".slide_down .more", function() {
             $(this).parents(".slide_down").slideUp(300)
             $(this).parents(".slide_down").prevAll(".slide_up").slideDown(300);
         });
         // 展开收起车系多选筛选
         $("#hotseriesmore").on("click", function() {
             $(".js-screening-down").each(function() {
                 if ($(this).css('display') == 'block') {
                     $(this).slideUp(300);
                 }
             });
             $(this).parents(".js-screening-up").slideUp(300) 
             $(".js-screening-multi").slideDown(300);
         });


		    $(".slide_down").mouseout(function(ev){
       		 var box=document.getElementById($(this).attr("id"));
	             var ev=ev||window.event;
	                if(!isMouseLeaveOrEnter(ev,box)){
	                  return false;
	                }
	           $(this).slideUp(300)
	           $(this).prevAll(".slide_up").slideDown(300);
	        });
	        //防止鼠标移出移入子元素触发mouseout事件
	        function isMouseLeaveOrEnter(e, handler) {    
	          var reltg=e.relatedTarget?e.relatedTarget:e.type=='mouseout'?e.toElement:e.fromElement;    
	          while (reltg && reltg != handler){
	             reltg = reltg.parentNode; 
	          }       
	          return (reltg != handler);    
	        } 
//	        其他筛选条件
 		 $(".select-menu").hover(function () {
            $("#a"+$(this).attr("id")).show();
        }, function () {
            $("#a" + $(this).attr("id")).hide();
        });
       // var url='http://www.gj2car.com/';
        $.ajax({
            type:'POST',
            url: url+'Newpc/Index/filter',
            dataType : "json",
            success:function(data){
//                console.log(data.body)
//                排放标准
                $.each(data.body.hb,function(i){
                    $("#aselect5").append("<dd> <a rel='nofollow' href='#' data-for='hidden_h' data-valueid='' class='preventdefault' title=''>"+data.body.hb[i].name+"</a> </dd>")
                })
                //车龄
                $.each(data.body.ha,function(i){
                    $("#aselect2").append("<dd> <a rel='nofollow' href='#' data-for='hidden_r' data-valueid='' class='preventdefault' title=''>"+data.body.ha[i].name+"</a> </dd>")
                })
                //里程
                $.each(data.body.hm,function(i){
                    $("#aselect3").append("<dd> <a rel='nofollow' href='#' data-for='hidden_k' data-valueid='' class='preventdefault' title=''>"+data.body.hm[i].name+" </a></dd>")
                })
//                hbo车身
                $.each(data.body.hbo,function(i){
                    $("#aselect12").append("<dd> <a rel='nofollow' href='#' data-for='hidden_x' data-valueid='' class='preventdefault' title='不限二手车'>"+data.body.hbo[i].name+"</a> </dd>")
                })
//                颜色 hc
                $.each(data.body.hc,function(i){
                    $("#aselect6").append(" <dd> <a rel='nofollow' href='#' data-for='hidden_c' data-valueid='' class='preventdefault c15' title=''>"+data.body.hc[i].name+"</a> </dd>")
                })
                //价格
                $.each(data.body.p,function(i){
                    $(".price").append("<li><a href='#'>"+data.body.p[i].name+"</a></li>")
                })
                //级别
                $.each(data.body.s,function(i){
                    $(".jibie").append(" <li><a href='#'>"+data.body.s[i].name+"</a></li>");
                })
                //排量
                $.each(data.body.ho,function(i){
                    $("#aselect4").append(" <dd> <a rel='nofollow' href='#' data-for='hidden_j' data-valueid='' class='preventdefault' title=''>"+data.body.ho[i].name+"</a> </dd>")
                })
                //驱动
                $.each(data.body.hd,function(i){
                    $("#aselect8").append(" <dd> <a rel='nofollow' href='#' data-for='hidden_q' data-valueid='' class='preventdefault' title=''>"+data.body.hd[i].name+"</a> </dd>")
                })
                //燃料
                $.each(data.body.hf,function(i){
                    $("#aselect10").append(" <dd> <a rel='nofollow' href='#' data-for='hidden_w' data-valueid='' class='preventdefault' title=''>"+data.body.hf[i].name+"</a> </dd>")
                })
//                变速箱
                $.each(data.body.hg,function(i){
                    $("#aselect7").append(" <dd> <a rel='nofollow' href='#' data-for='hidden_g' data-valueid='' class='preventdefault' title=''>"+data.body.hg[i].name+"</a> </dd>")
                })
            },

            error:function(){
                console.log("没有获取到数据");
            }
        });
	        



		})
</script>
</html>
