<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
	</head>
	<link rel="icon" type="image/x-icon" href="favicon.png">
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />

	<style>
	
	</style>
	<body>	
		<div class="site_nav">
			<div class="site_nav_bd">
				<div class="fleft">你好，欢迎来到管家车易站！请<a href="" class="coloryel">【登录】</a>,免费<a href="" class="coloryel">【注册】</a></div>
				<div class="fright">
					<ul class="site_nav_menu">
						<li><a href=""><img src="__STATIC__/img/home1.png" alt="" />首页</a></li>
						<li><a href=""><img src="__STATIC__/img/sell2.png" alt="" />我要买车</a></li>
						<li><a href=""><img src="__STATIC__/img/sell1.png" alt="" />我要买车</a></li>
						<li><a href=""><img src="" alt="" />网站导航</a></li>
					</ul>					
				</div>
			</div>
		</div>
		<div class="borbt"><div class="header"></div></div>
		<div class="full_wid">			
			<div class="wrap ">	
				<div class="person_center">
					<div class="person_left">
						<div class="person_info">
							<div class="user_avatar"><img src="__STATIC__/img/yhtx.png" alt="" /></div>
							<p class="uphone">15362352625</p>
							<p>向阳二手车一号店</p>							
						</div>
						<div class="tab_choose">
							<ul>
								<li class=""><a href="person_manage.html"><b class="icon_xb1"> </b>管理店铺<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_release.html"><b class="icon_xb2"></b>发布车辆信息<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_public.html"><b class="icon_xb3"></b>发布过的<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_busenter.html"><b class="icon_xb4"></b>商家入驻<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_opportunity.html"><b class="icon_xb5"></b>商机<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_info.html"><b class="icon_xb6"></b>个人资料<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_collect.html"><b class="icon_xb7"></b>我的收藏<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_history.html"><b class="icon_xb8"></b>浏览记录<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_feedback.html"><b class="icon_xb9"></b>意见反馈<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class="active"><a href="person_order.html"><b class="icon_xb10"></b>我的预约<i class="icon iconfont icon-jiantou"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="person_right">
						<h1 class="borbt"><span class="release">我的预约 </span>
							<ul class="fright sel_status">
								<li class="active" data-status='1'><b></b><span>全部</span></li>
								<li data-status='0'><b></b><span>新车</span></li>
								<li data-status='0'><b></b><span>二手车</span></li>
								<li data-status='0'><b></b><span>零首付</span></li>
							</ul>
						</h1>

						<ul class="p_list">
							{volist name="list" id="val"}
							<li class="item">

								<div class="car_img"><img src="{$val.img_url}" alt="" /></div>
								<div class="car_desc"><h3>{$val.name}</h3>
									<p> {$val.name}| 2012-03 | 郑州</p>
									<div><span class="cprice"><b> </b>万</span><span class="nprice">{$val.price} </span></div>
								</div>
								<div class="order_res">
									<p>{$val.create_time}</p>
									<p>{$val.car_cardtime}</p>
									<p>{$val.shop_name}</p>
									<p>{$val.pu_id}</p>
									<p>{$val.car_mileage}</p>
									<span class="order_des">详 情</span>
								</div>

							</li>
							{/volist}
						</ul>
					</div>	
				</div>
			</div>
		</div>	
		<div class="footer"></div>
		
	</body>
	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
	<script src="__STATIC__/js/laydate.js"></script>
	<script src="__STATIC__/js/imgUp.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/js/common.js" type="text/javascript" charset="utf-8"></script>
	<script>		
		$(function(){		
			$(".sel_status li").each(function(){
				var that=$(this);
				$(that).click(function(){
				var status=$(this).attr("data-status");
					if(status==1){
						$(this).attr("data-status",0);
						$(this).removeClass("active")
					}else{
						$(this).attr("data-status",1);
						$(this).addClass("active").siblings().removeClass("active")
					}
				
			})
			})
			
			//加载公用头部和底部
	//	    $(".header").load("templates/header.html");
//		    $(".footer").load("templates/footer.html");

			
	})
</script>
</html>
