<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
</head>

<body>
<h3 class="name"></h3>
<h2>sdlsjkdls</h2>
<div id="aa">
<div class="a">
    <h2>skjdksjdksjd</h2>
</div>
<div class="b" style="display: none;">
    <h2>咋没数据</h2>
</div>


</div>
</body>

<script src="__STATIC__/js/config.js"></script>

<script type="text/javascript" src="__STATIC__/js/basic.js"></script>
<script>
   $(function(){

       base().asd()
   })
</script>

</html>