<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
	</head>
	<link rel="icon" type="image/x-icon" href="favicon.png">
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />	
	<style>

	</style>
	<body>
	<div class="header">{include file="public/header"}</div>
		<div class="site_nav">
			<div class="site_nav_bd">
				<div class="fleft">你好，欢迎来到管家车易站！请<a href="" class="coloryel">【登录】</a></div>
				<div class="fright">
					<ul class="site_nav_menu">
						<li><a href=""><img src="__STATIC__/img/home1.png" alt="" />首页</a></li>
						<li><a href=""><img src="__STATIC__/img/sell2.png" alt="" />我要买车</a></li>
						<li><a href=""><img src="__STATIC__/img/sell1.png" alt="" />我要买车</a></li>
						<li><a href=""><img src="" alt="" />网站导航</a></li>
					</ul>					
				</div>
			</div>
		</div>
		<div class="header"></div>
		<div class="full_wid">			
			<div class="wrap ">	
				<div class="person_center">
					<div class="person_left user">					
						<div class="tab_choose">
							<ul>
								<h2 class="top_tit">管家车易站</h2>
								<li class=""><a href="join_us.html"><img src="__STATIC__/img/jiaoru.png" alt="" /></b>加入我们</a></li>
								<li class=""><a href="link_us.html"><img src="__STATIC__/img/lainxi.png" alt="" /></b>联系我们</a></li>
								<li class=""><a href="service.html"><img src="__STATIC__/img/fuwu.png" alt="" /></b>服务保障</a></li>
								<li class="active"><a href="website.html"><img src="__STATIC__/img/ditu.png" alt="" /></b>网站地图</a></li>							
							</ul>
						</div>
					</div>
					<div class="person_right webmap">
						<h1 class="borbt"><span class="release">网站地图</span></h1>
						<p>公司地址</p>
						<span>郑州市金水区花园路国基路 居易国际广场4号楼1122 （地铁2号线 沙门A口旁）</span>
						<div class="mapimg">
							<img src="__STATIC__/img/map11.png" alt="" height="260" />
						</div>
						<p>线下门店</p>
						<span>门店1：郑州市金水区丰庆路银河路交叉口向西500M路北管家银河路店</span><br />
						<span>门店2：郑州市金水区三全路渠东路交叉口向南500M路东管家旗舰店</span>
						<div class="mapimg">
							<div class="fleft"><img src="__STATIC__/img/map22.png" alt="" height="260" /><p>门店1</p></div>
							<div class="fleft"><img src="__STATIC__/img/map33.png" alt=""  height="260"/><p>门店2</p></div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	<div class="footer">
		{include file="public/footer"}
	</div>
		
		<div class="mask1"></div>
	</body>
	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
	<script>		
		$(function(){	
		   // $(".footer").load("templates/footer.html");
   		//    $(".header").load("templates/header.html");
	})
</script>
</html>
