<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
	</head>
	 <link rel="icon" type="image/x-icon" href="favicon.png">
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />

	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
	<script src="__STATIC__/js/jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>	
	<script src="__STATIC__/js/common.js" type="text/javascript" charset="utf-8"></script>
	<style>	
	</style>
<body style="background: #F8F8F8;">	
<div class="header"></div>
<div class="banner1"><img src="__STATIC__/img/lingshoufu.png" alt="" /></div>
<div class="newcar gj_clear">
    <div class="category">
   		<div class="classify p_r">
   			 <div class="brand_new fleft oh">
   			 	<h2>品牌</h2>
   			 	<ul>
   			 		<li><a href=""><img src="__STATIC__/img/aodi.png" alt="" /><p>奥迪</p></a></li>
				   	<li><a href=""><img src="__STATIC__/img/benci.png" alt="" /><p>奔驰</p></a></li>
				   	<li><a href=""><img src="__STATIC__/img/lekesasi.png" alt="" /><p>雷克萨斯</p></a></li>
				   	<li><a href=""><img src="__STATIC__/img/baoma.png" alt="" /><p>宝马</p></a></li>
				
				   	<li><a href=""><img src="__STATIC__/img/mazida.png" alt="" /><p>马自达</p></a></li>
				   	<li><a href=""><img src="__STATIC__/img/bentian.png" alt="" /><p>本田</p></a></li>
				   	<li><a href=""><img src="__STATIC__/img/haima.png" alt="" /><p>海马</p></a></li>
				   	<li><a href=""><img src="__STATIC__/img/fengtian.png" alt="" /><p>丰田</p></a></li>
				   	<li><a href=""><img src="__STATIC__/img/xuetielong.png" alt="" /><p>雪铁龙</p></a></li>
   			 	</ul>
   			 </div>
   			 <div class="price_new fleft oh">
   			 	<h2>首付</h2>
   			 	<ul>
   			 		<li><a href="">分期购</a></li>
   			 		<li><a href="" class="coloryel">一成购新车</a></li>
   			 		<li><a href="">1万以内</a></li>
   			 		<li><a href="">1-2万</a></li>
   			 		<li><a href="">2-3万</a></li>
   			 		<li><a href="">4-5万</a></li>
   			 		<li><a href="">3-4万</a></li>
                    <li><a href="">5万以上</a></li>
   			 	</ul>

   			 	
   			 </div>
   			 <div class="type_new fleft oh">
   			 	<h2>车型</h2>
   			 	<ul>
   			 		<li><a href=""><img src="__STATIC__/img/weixiaoxing.png" alt="" /><p>微小型车</p></a></li>
   			 		<li><a href=""><img src="__STATIC__/img/zhongxing.png" alt="" /><p>中型车</p></a></li>
   			 		<li><a href=""><img src="__STATIC__/img/paoche.png" alt="" /><p>跑车</p></a></li>
   			 		<li><a href=""><img src="__STATIC__/img/zhongdaxing.png" alt="" /><p>中大型车</p></a></li>
   			 		<li><a href=""><img src="__STATIC__/img/suv.png" alt="" /><p>SUV</p></a></li>
   			 		
   			 		<li><a href=""><img src="__STATIC__/img/mpv.png" alt="" /><p>MPV</p></a></li>
   			 	</ul>
   			 </div>			 
   			<a href="" class="coloryel more_lok">查看更多>></a>
   		</div>	
   		<p class="all oh"><a href=""><span>全部车源</span><img src="__STATIC__/img/quanbu.png" alt="" /></a></p>
   </div>
	<div class="wrap zero" style="background:#fff ;border-radius:6px;">
	   <div class="news_tit">
	        <h2>零首付   爆款新车</h2>		   
	    </div>
	   <div class="gj_clear">
		   <ul class="zero_list">
		   	 <li class="item p_r">
		   	 	<a href="" class="car_img"><img src="__STATIC__/img/500366667.png" alt="" /></a>
		   	 	<a href="" class="car_desc"><h3>速腾 2018款 1.6L 自动舒适型  速腾 2018款 1.6L 自动舒适型</h3>
		   	 		<div><span class="zero_money">零首付  <b class="fz16">月供4544元</b> </span><span class="order">立即预约</span></div>
		   	 	</a>
		   	 	<img src="__STATIC__/img/baokuan11.png" alt="" class="hot" />
		   	 </li>
		  
		   </ul>
	    </div>
	   </div>
	    <div class="news_tit">
	        <h2 class="recom"><span>为你推荐<img src="__STATIC__/img/dian.png" alt="" /></span></h2>
	    </div>	
	<div class="wrap zero">  
	  
	   <div class="gj_clear">
	    	<ul class="list ptp15 new_list">
				<li class="items p_r">
					<a href="" class="car_img flex_center"><img src="" alt="" /></a>
					<a href="" class="car_desc">
						<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
						<p><span class="pay_first">首付<b>55</b>万</span> <span class="padlt20">厂家指导价 ¥38.38万</span> </p>				
					</a>	
				</li>
				<li class="items p_r">
					<a href="" class="car_img flex_center"><img src="" alt="" /></a>
					<a href="" class="car_desc">
						<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
						<p><span class="pay_first">首付<b>55</b>万</span> <span class="padlt20">厂家指导价 ¥38.38万</span> </p>				
					</a>	
				</li>
				<li class="items p_r">
					<a href="" class="car_img flex_center"><img src="" alt="" /></a>
					<a href="" class="car_desc">
						<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
						<p><span class="pay_first">首付<b>55</b>万</span> <span class="padlt20">厂家指导价 ¥38.38万</span> </p>				
					</a>	
				</li>
				<li class="items p_r">
					<a href="" class="car_img flex_center"><img src="" alt="" /></a>
					<a href="" class="car_desc">
						<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
						<p><span class="pay_first">首付<b>55</b>万</span> <span class="padlt20">厂家指导价 ¥38.38万</span> </p>				
					</a>	
				</li>
				<li class="items p_r">
					<a href="" class="car_img flex_center"><img src="" alt="" /></a>
					<a href="" class="car_desc">
						<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
						<p><span class="pay_first">首付<b>55</b>万</span> <span class="padlt20">厂家指导价 ¥38.38万</span> </p>				
					</a>	
				</li>
				<li class="items p_r">
					<a href="" class="car_img flex_center"><img src="" alt="" /></a>
					<a href="" class="car_desc">
						<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
						<p><span class="pay_first">首付<b>55</b>万</span> <span class="padlt20">厂家指导价 ¥38.38万</span> </p>				
					</a>	
				</li>
			</ul>
			
	    </div>	
	    <div class="more_l">查看更多</div>
    </div>		
</div>

<div class="footer "></div>

</body>


<script>
   $(".header").load("templates/header.html");
 $(".footer").load("templates/footer.html");
</script>
</html>
